
@import "../../config";
@import "../../functions";
@import "../../themes/default/colors";
@import "../../themes/default/variables";


/* Widget Partners
----------------------------------------- */
.widget-partner-header {
  background-color: $widget-partner-header-bg-color;
}


// PARTNERS

/* Explorimo */
.explorimmo-figcaption{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: px-to-rem(5px) px-to-rem(10px);
  //background: $color-03;
  //color: $color-01;
  font-size: px-to-rem(25px);
  //text-transform: uppercase;
}
.explorimmo-info{
  padding: px-to-rem(10px);
  text-align: left;

  //color: $color-03;
}
.explorimmo-info .what,
.explorimmo-info .where{
  display: block;
  margin-bottom: px-to-rem(5px);
}
.explorimmo-info .what{
  //text-transform: uppercase;
}
.explorimmo-info .where{
  font-weight: bold;
}
.explorimmo-info .details{
  font-size: px-to-rem(14px);
}


/* TV show (teleloisir) */
.tv-show-figcaption,
.tv-show-figcation{
  position: absolute;
  bottom: px-to-rem(5px);
  right: px-to-rem(10px);
}
.tv-show-figcation .btn-text{
  //text-shadow:  0 1px 1px $color-02-l-l;
}
.tv-show-info{
  padding: px-to-rem(15px) px-to-rem(10px);
  text-align: left;

  //color: $color-03;
}
.tv-show-info .show{
  //color: $color-02-l-l;
  font-size: px-to-rem(20px);
}
.tv-show-info .channel,
.tv-show-info .time,
.tv-show-info .show,
.tv-show-info .episode{
  display: block;
}
.tv-show-info .time,
.tv-show-info .show,
.tv-show-info .episode{
  //@extend %CustomFont2;
}
.tv-show-info .channel{
  float: left;
  margin-right: px-to-rem(8px);
}


/* Le Guide */
.leguide-iframe {
  max-width: px-to-rem(280px);
  height: px-to-rem(250px);
  margin-top: px-to-rem(5px);
}


/* Paris Sportif */
.ps-date,
.ps-time,
.ps-team {
  display: block;
  text-align: center;
}
.ps-date {
  margin: px-to-rem(20px) 0 px-to-rem(20px);

  //color: $color-03;
  font-size: px-to-rem(14px);
  font-weight: bold;
}
.ps-time {
  //color: $color-02;
  font-size: px-to-rem(32px);
}
.ps-team {
  margin-bottom: px-to-rem(20px);

  //color: $color-02;
  font-size: px-to-rem(20px);
  font-weight: bold;
}
.ps-item {
  position: relative;
  display: inline-block;
  width: 32%;

  font-size: px-to-rem(32px);
  line-height: px-to-rem(64px);
  //text-transform: uppercase;

  //@extend %CustomFont2;
}
.ps-prono {
  padding: 0 px-to-rem(15px) px-to-rem(20px);

  //color: $color-02;
}
.ps-position,
.ps-value {
  text-align: center;
  overflow: hidden;
}
.ps-position {
  //background: $color-04-l;
}
.ps-value {
  //background: $color-04;
}
.ps-null {
  //border-left: 4px solid $color-01;
  //border-right: 4px solid $color-01;
}


/* Paris Hippique */ //Example in Kawabunga
.ph-figcaption {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: px-to-rem(12px);
}
.ph-date,
.ph-time {
  display: block;
}
.ph-date {
  font-size: px-to-rem(14px);
  font-weight: bold;
}
.ph-info {
  display: block;
  overflow: hidden;
  width: 100%;
  height: px-to-rem(93px);
  text-align: center;
}
.ph-time {
  font-size: px-to-rem(32px);
}
.ph-info .what,
.ph-info .where {
  display: block;
}
.ph-info .what {
  margin-bottom: px-to-rem(5px);
  font-size: px-to-rem(20px);
  font-weight: bold;
}

.ph-info .where {
}

.ph-table {
  display: table;
  width: 100%;
  height: 100%;
}
.ph-cell {
  display: table-cell;
  vertical-align: middle;
}


/* Keljob */
.job-list{
  padding: 0;
  list-style: none;
}
.job-item{
  position: relative;
  min-height: px-to-rem(98px);

  //border-top: 1px solid $color-03-l;
  //background: $color-04-l;
}
.job-item:first-child{
  border-top: 0;
}
.job-item:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: px-to-rem(1px);

  //background: $color-01;
}
.job-link{
  display: block;
  padding: px-to-rem(14px);

  //background: $color-04-l;
}
.job-link:hover{
  //background: $color-01;
}
.job-title,
.job-compagny{
  white-space:  nowrap;
  -ms-text-overflow:  ellipsis;
  text-overflow:  ellipsis;
  overflow: hidden;
}
.job-title{
  margin-bottom: px-to-rem(2px);

  //color: $color-02-l-l;
  font-weight: bold;
}
.job-compagny{
  margin-bottom: px-to-rem(15px);

  //color: $color-02-l-l;
  font-style: italic;
}
.job-info{
  width: 100%;
  height: px-to-rem(16px);
  overflow: hidden;

  //color: $color-03;
  font-size: px-to-rem(14px);
}
.job-contract,
.job-location,
.job-date{
  float: left;
}
.job-location,
.job-date{
  padding: 0 px-to-rem(10px);

  //border-left: 1px solid $color-03-l;
}
.job-contract{
  margin-right: px-to-rem(10px);

  font-weight: bold;
  //text-transform: uppercase;
}


/* keljob / kelformation search */
.keljob .kel-info{
  margin-bottom: px-to-rem(5px);
}
.kel-info{
  display: block;
  padding: px-to-rem(10px);
  padding-bottom: 0;

  line-height: 1.3;
  font-size: px-to-rem(20px);
  //color: $color-02-l-l;
  text-align: center;
}
.kel-number{
  display: block;

  font-size: px-to-rem(30px);
}
.kel-form{
  padding: px-to-rem(16px);
}
.kel-field{
  margin-bottom: px-to-rem(16px);
  position: relative;
  overflow: hidden;

  //border: 1px solid $color-03-l;
}
.kelformation .kel-field{
  margin: px-to-rem(48px) 0;
}
.kel-label,
.kel-input,
.kel-select{
  display: block;
  width: 100%;
  height: px-to-rem(40px);
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;

  font-weight:  normal;
  line-height: px-to-rem(40px);
  background: transparent;
  text-indent: px-to-rem(10px);
}
.kel-label{
  position: absolute;
  top: 0;
  left: 0;

  //color: $color-03;
  font-style: italic;
}
.kel-search{
  position: relative;

  text-align: center;
}
.kel-search:before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: px-to-rem(1px);
  top: 50%;
  left: 0;
}
.kel-select{
  text-indent: px-to-rem(5px);
}
.kel-search:before{
  //background: $color-03-l;
}
.kel-submit{
  display: inline-block;
  position: relative;
  padding: 0 px-to-rem(10px);
  border: 0;
  border-radius: 0;
  margin: 0 auto;

  text-align: center;
  line-height: px-to-rem(30px);
  font-size: px-to-rem(14px);
  //color: $color-01;
  //background: $color-03;
  //text-transform: uppercase;

}

/*paru vendu*/
.paru-vendu-iframe{
  max-width: px-to-rem(280px);
  margin: px-to-rem(5px) auto;
}
.paru-vendu .widget-feature-content{
  //background:  $color-04-l;
}

/*easyflirt*/
.easyflirt-row {
  position:  relative;
  margin: px-to-rem(10px) auto;
  width: px-to-rem(268px);
}
.easyflirt-span {
  display: block;
  margin-bottom: px-to-rem(10px);

  font-size: px-to-rem(22px);
}
.easyflirt-iam,
.easyflirt-search {
  //display: none;
  position: absolute;
  top: px-to-rem(50px);
  visibility: hidden;
}
.easyflirt-iam + label,
.easyflirt-search + label {
  float: left;
  cursor: pointer;

  background-repeat: no-repeat;
}
.easyflirt-iam-man + label,
.easyflirt-search-man + label {
  @extend .sprite-partner-btn-homme;
}
.easyflirt-iam-man:checked + label,
.easyflirt-search-man:checked + label {
  @extend .sprite-partner-btn-homme-checked;
}
.easyflirt-iam-woman + label,
.easyflirt-search-woman + label {
  @extend .sprite-partner-btn-femme;
}
.easyflirt-iam-woman:checked + label,
.easyflirt-search-woman:checked + label {
  @extend .sprite-partner-btn-femme-checked;
}
.easyflirt-input {
  width: px-to-rem(268px);
  height: px-to-rem(42px);

  //border: 1px solid $color-03-l;
  text-indent: px-to-rem(10px);
}
.easyflirt .mdl-link {
  width: 100%;
  text-align: left;
}
@if ($lower-than-or-equals-ie8) {
  .easyflirt-iam,
  .easyflirt-search {
    display: inline-block;
    margin-right: px-to-rem(5px);
  }
  .easyflirt-iam + label,
  .easyflirt-search + label {
    float: none;
    display: inline-block;
    width: auto;
  }
  .easyflirt-iam-man + label,
  .easyflirt-search-man + label {
    margin-right: px-to-rem(30px);
  }
  .easyflirt .easyflirt-row .sp {
    text-indent: 0;
    font-size: px-to-rem(18px);
    background-image: none;
  }
}

/* soonlight */
.soon-txt-content {
  //background-color: $color-02;
  padding: px-to-rem(5px);
  width: 100%;
  height: px-to-rem(87px);
}

.soon-txt-content .soon-txt {
  display: block;
  width: 100%;
  height: 100%;
  //color: $color-01;
  text-align: center;

  //border-top: 2px dashed $color-03-l;
  //border-bottom: 2px dashed $color-03-l;
  padding: px-to-rem(15px) 0;
}

.soon-txt-content .soon-txt .soon-title {
  font-size: px-to-rem(22px);
  line-height: px-to-rem(26px);
  display: block;
  text-transform: uppercase;

  //@extend %CustomFont2;
}

.soon-txt-content .soon-txt .soon-subtitle {
  font-size: px-to-rem(17px);
  display: block;

  //@extend %CustomFont1;
}


/* MQ Medium State Only */
@media all and (min-width:  $media-queries-small) and (max-width:  $media-queries-medium) {
  .tv-show .widget-feature-content,
  .explorimmo .widget-feature-content {
    text-align: center;
  }
  .tv-show .widget-feature-figure,
  .explorimmo .widget-feature-figure{
    display: inline-block;
    width: auto;
  }
}

/* MQ Medium State Only */
@media (max-width:  $media-queries-small) {
  .widget-feature-img{
    width: 100%;
  }
}

/* MQ above Small */
@media all and (min-width:  $media-queries-small) {
  /* Fixed layout */
  .leguide-iframe,
  .paru-vendu-iframe{
    margin-top: px-to-rem(16px);
  }
  .tv-show-info {
    padding: px-to-rem(17px) px-to-rem(10px);
  }
  .explorimmo .widget-feature-figure{
    max-height: px-to-rem(197px);
    overflow: hidden;
  }
  .explorimmo .widget-feature-img{
    margin-top: px-to-rem(-16px);
  }
}