
@import "../../functions";
@import "../../themes/default/colors";
@import "../../themes/default/variables";

/* Button
----------------------------------------- */
.btn {
  border: 0;
  outline: none;
  display: inline-block;
  padding: px-to-rem(6px)  px-to-rem(20px);
  font-size: px-to-rem(13x);
  letter-spacing: px-to-rem(1px);
  -webkit-appearance: none;
  cursor:pointer;
  font-family: $font-design;
  background: $btn-bg-color none;
  color: $white;

  @if ($font-smoothing) {
    @include font-smoothing;
  }
}

.btn:hover {
  background-color: $btn-bg-color_hover;
}

.btn[disabled=disabled] {
  background-color: $white;
  color: $white;
}