
@import "../../functions";
@import "../../themes/default/colors";
@import "../../themes/default/variables";

/* Button Link
----------------------------------------- */
.btn-link {
  display: block;
  position: relative;
  padding: px-to-rem(0) px-to-rem(10px);
  line-height: px-to-rem(35px);
  font-size: px-to-rem(13px);
  text-align: center;
  cursor:pointer;
  color: $white;
  font-family: $font-design;
  background-color: $btn-link-bg-color;

  @if ($font-smoothing) {
    @include font-smoothing;
  }
}

.btn-link:hover {
  background-color: $btn-link-bg-color_hover;
}

.btn-link.icon-arrow-left-circle:before {
  line-height: inherit;
  font-size: px-to-rem(27px);
}

.btn-link.icon:before {
  vertical-align: top;
  margin: 0 px-to-rem(6px);
  font-variant: normal;
  text-transform: none;
}