
@import "../../../config";
@import "../../../functions";
@import "../../../themes/default/theme";

/* Module Header
----------------------------------------- */
.module-header {
  display: block;
  padding: px-to-rem(16px) px-to-rem(18px);
  font-size: px-to-rem(24px);
  font-weight: normal;
  color: $white;
  font-family: $module-header-font-family;
  background-color: $module-header-bg-color;

  @if ($font-smoothing) {
    @include font-smoothing-mixin;
  }
}

@mixin mdl-fix-mdl-common {

  /* Height Fix */
  .module-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .module-header {
    height: px-to-rem(60px);
  }
}

@if ($media-queries) {
  @media (min-width: $media-queries-small) {
    @include mdl-fix-mdl-common;
  }
} @else {
  @include mdl-fix-mdl-common;
}