//
// Common colors
// -------------------------

$white:           #FFFFFF;

$black:           #000000;
$black-light:     #201E1E;
$black-lighter:   #3F3F3F;

$grey:            #C2C8CE;
$grey-dark:       #7c7c7c;
$grey-darker:     #706E6E;
$grey-light:      #D8D8D8;
$grey-lighter:    #F4F4F4;
$grey-login-1col: #828384;

/* Green (valid) */
$validation-green:           #48A04E;
$validation-green-dark:      #3C9242;

/* Red (error) */
$validation-red:             #E1001B;
$validation-red-dark:        #CA031B;
$validation-red-light:       #ff7f7f;

/* Cyan (Twitter) */
$twitter-cyan:       #55ACEE;
$twitter-cyan-light: #2BB8E9;

/* Facebook blue */
$fb-blue:         #3B5998;
$fb-blue-light:   #3865B8;
$fb-blue-dark:    #355089;

/* Instagram blue */
$instagram-blue:       #437194;
$instagram-blue-light: #4C7dA2;

/* Google + red */
$googleplus-red:       #DD4B39;
$googleplus-red-light: #E95745;

/* Youtube red */
$youtube-red         : #cd201f;

/* Linkedin blue */
$linkedin-blue:        #007BB6;
$linkedin-blue-dark:   darken($linkedin-blue, 10%);

/* Pinterest red */
$pinterest-red      :  #BD081C;
$pinterest-red-dark :  darken($pinterest-red, 10%);
$pinterest-red-light:  #d50c22;

/* Snapchat yellow */
$snapchat-yellow :     #eace03;


/* Partners colors article-v2 */
$easyflirt-pink         : #ff67aa;
$leguide-blue           : #324fdf;
$explorimmo-green       : #23cc93;
$keljob-red             : #cc2323;
$pmu-green              : #48a04e;
$soonnight-purple       : #c923cc;
