
@import "colors";
@import "font";
@import "../../config";

$font-design: $helvetica !default;

// Main footer
$footer-main-font-family: $font-design !default;
$footer-main-text-color: $grey !default;
$footer-main-list-bg-color: $black !default;
$footer-main-list-item-border-color: $white !default;
$footer-main-list-link-bg-color_hover: $grey-dark !default;

$footer-main-list-padding: px-to-rem(48px) 0 !default;
$footer-main-list_media-small-padding: px-to-rem(48px) 0 !default;
$footer-main-list-item-logo-line-height: px-to-rem(52px) !default;
$footer-main-list-item-icon_before-font-size: px-to-rem(80px) !default;
$footer-main-list-item-icon_before-position: static !default;
$footer-main-list-item-icon_before-z-index: auto !default;
$footer-main-list-link-padding: px-to-rem(10px) px-to-rem(10px) px-to-rem(10px) px-to-rem(25px) !default;

// Button
$btn-bg-color: $grey-dark !default;
$btn-bg-color_hover: $black !default;

$btn-hover-bg-color: $grey-dark !default;
$btn-hover-frontside-bg-color_hover: $black !default;

$btn-link-bg-color: $grey-dark !default;
$btn-link-bg-color_hover: $black !default;

$btn-bicolor-label-bg-color: $grey-dark !default;
$btn-bicolor-input-bg-color: $black !default;

// Input
$input-text-input-border-color: $black !default;

// Module
$module-header-font-family: $font-design !default;
$module-header-bg-color: $black !default;

$module-border-border-color: $black !default;

$module-comment-border-color: $grey !default;
$module-comment-color: $grey !default;
$module-comment-form-bg-color: $white !default;
$module-comment-bg-color: $grey-darker !default;

$module-link-bg-color: $grey !default;
$module-link-color: $black !default;

$module-footer-bg-color: $grey !default;

$module-follow-us-font-family: $font-design !default;
$module-follow-us-icon-newsletter-color_before: $grey !default;

// Article
$article-text-link-color: $black !default;
$article-text-link-color_hover: $grey !default;

$article-text-list-color: $black !default;
$article-text-list-color_hover: $grey !default;
$article-text-list-item-bg-color_before: $black !default;

$article-footer-color: $black !default;

$article-preview-fig-border-color: $black !default;
$article-preview-link-color: $black !default;
$article-preview-link-color_hover: $grey !default;
$article-preview-social-tool-color: $grey !default;
$article-preview-social-tool-icon-play-color_before: $grey-dark !default;

$article-tag-font-family: $font-design !default;
$article-tag-bg-color: $black !default;

$article-flag-fix-bg-color: $black !default;
$article-flag-fix-border-color: $black !default;
$article-flag-fix-bg-color_before: $black !default;
$article-flag-fix-border-color_after: $black !default;

// Page
$page-header-font-family: $font-design !default;
$page-header-border-color: $grey !default;
$page-header-main-text-color: $black !default;
$page-header-right-text-bg-color: $white !default;
$page-header-right-text-color: $black !default;

// Widget
$widget-feature-border-color: $grey !default;

$widget-partner-header-bg-color: $grey-darker !default;

$widget-astro-header-bg-color: $black !default;
$widget-astro-content-sign-color: $black !default;
$widget-astro-content-date-color: $black !default;
$widget-astro-content-text-color: $black !default;

$widget-weather-header-border-color: $grey !default;
$widget-weather-header-bg-color: $black !default;
$widget-weather-list-item-border-color: $grey !default;
$widget-weather-list-text-color: $grey !default;