<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Components sandbox</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="components-funradio.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div class="container kawa">
    {% include '_navbar.html' with {active: 'components-funradio'} %}

    <div class="row">
        <!--Main Content -->
        <div class="col-md-9">

            <section id="button" class="group col-md-12">
                <h1 class="kawa-h1">Buttons</h1>
                <div id="classic" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Classic</h2>
                    <p>Le texte est en majuscule lorqu'il y a un seul mot sinon en minuscule.</p>
                    <!-- FUNRADIO -->
                    <form class="code-example col-md-12">
                        <div class="col-md-2">
                            <div class="btn uppercase">Voter</div>
                        </div>
                        <div class="col-md-3">
                            <div class="btn">Inscrivez-vous</div>
                        </div>
                    </form>
                    <ul class="nav nav-tabs nav-child">
                        <li class="active"><a data-toggle="tab" href="#funradio-classic-html">HTML</a></li>
                        <li><a data-toggle="tab" href="#funradio-classic-css">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="funradio-classic-html" class="tab-pane fade in active">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-html">
                                    &lt;div class="btn uppercase"&gt;Voter&lt;/div&gt;<br/>
                                    &lt;div class="btn"&gt;Inscrivez-vous&lt;/div&gt;
                                </pre>
                            </figure>
                        </div>
                        <div id="funradio-classic-css" class="tab-pane fade">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-css">
                                    {% include "../assets/scss/component/button/btn/_btn.scss" %}
                                </pre>
                            </figure>
                        </div>
                    </div>
                </div>
                <div id="particular" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Particular</h2>
                    <!-- FUNRADIO -->
                    <form class="code-example col-md-12">
                        <div class="col-md-4">
                            <div class="btn-link icon icon-chevron-left-bis">Aller vers l'&eacute;mission</div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-hover">
                                <a href="#" class="btn-hover-item">
                                    <img class="btn-hover-img img-echo" src="http://placehold.it/40x40" width="40" height="40" alt>
                                </a>
                                <a href="#" class="btn-hover-item">
                                    <img class="btn-hover-img img-echo" src="http://placehold.it/40x40" width="40" height="40" alt>
                                </a>
                                <a href="#" class="btn-hover-item">
                                    <img class="btn-hover-img img-echo" src="http://placehold.it/40x40" width="40" height="40" alt>
                                </a>
                                <span class="btn-hover-frontside icon icon-buy-music">
                                    Acheter<br/>ce morceau
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-search cf">
                                <label for="search-submit" class="btn-search-label uppercase">
                                    <span class="align">Rechercher</span>
                                </label>
                                <button id="search-submit" class="btn-search-input uppercase">
                                    <i class="icon icon-ff icon-loupe"></i>
                                    <span class="no-ff">OK</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-search cf">
                                <button id="search-submit" class="btn-search-input uppercase">
                                    <i class="icon icon-ff icon-loupe"></i>
                                    <span class="no-ff">OK</span>
                                </button>
                                <label for="search-submit" class="btn-search-label uppercase">
                                    <span class="align">Rechercher</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="example-set-color max-width-100 position-static">
                                <span class="btn-text icon icon-play">
                                    <span class="text uppercase">Replay</span>
                                </span>
                            </div>
                        </div>
                    </form>
                    <ul class="nav nav-tabs nav-child">
                        <li class="active"><a data-toggle="tab" href="#funradio-particular-html">HTML</a></li>
                        <li><a data-toggle="tab" href="#funradio-particular-css">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="funradio-particular-html" class="tab-pane fade in active">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-html">
                                    &lt;div class="btn-link icon icon-chevron-left-bis"&gt;Aller vers l'&eacute;mission&lt;/div&gt;<br/><br/>
                                    &lt;div class="btn-hover"&gt;<br/>
                                    &nbsp;&lt;a href="#" class="btn-hover-item"&gt;<br/>
                                    &nbsp;&nbsp;&lt;img class="btn-hover-img img-echo" src="http://placehold.it/40x40" width="40" height="40" alt&gt;<br/>
                                    &nbsp;&lt;/a&gt;<br/>
                                    &nbsp;&lt;a href="#" class="btn-hover-item"&gt;<br/>
                                    &nbsp;&nbsp;&lt;img class="btn-hover-img img-echo" src="http://placehold.it/40x40" width="40" height="40" alt&gt;<br/>
                                    &nbsp;&lt;/a&gt;<br/>
                                    &nbsp;&lt;a href="#" class="btn-hover-item"&gt;<br/>
                                    &nbsp;&nbsp;&lt;img class="btn-hover-img img-echo" src="http://placehold.it/40x40" width="40" height="40" alt&gt;<br/>
                                    &nbsp;&lt;/a&gt;<br/>
                                    &nbsp;&lt;span class="btn-hover-frontside icon icon-buy-music"&gt;<br/>
                                    &nbsp;&nbsp;Acheter&lt;br/&gt;ce morceau<br/>
                                    &nbsp;&lt;/span&gt;<br/>
                                    &lt;/div&gt;<br/><br/>
                                    &lt;div class="btn-search cf"&gt;<br/>
                                    &nbsp;&lt;label for="search-submit" class="btn-search-label uppercase"&gt;<br/>
                                    &nbsp;&nbsp;&lt;span class="align"&gt;Rechercher&lt;/span&gt;<br/>
                                    &nbsp;&lt;/label&gt;<br/>
                                    &nbsp;&lt;button id="search-submit" class="btn-search-input uppercase"&gt;<br/>
                                    &nbsp;&nbsp;&lt;i class="icon icon-ff icon-loupe"&gt;&lt;/i&gt;<br/>
                                    &nbsp;&nbsp;&nbsp;&lt;span class="no-ff"&gt;OK&lt;/span&gt;<br/>
                                    &nbsp;&lt;/button&gt;<br/>
                                    &lt;/div&gt;<br/><br/>
                                    &lt;span class="btn-text icon icon-play"&gt;<br/>
                                    &nbsp;&lt;span class="text uppercase"&gt;Replay&lt;/span&gt;<br/>
                                    &lt;/span&gt;
                                </pre>
                            </figure>
                        </div>
                        <div id="funradio-particular-css" class="tab-pane fade">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-css">
                                    {% include "../assets/scss/component/button/btn-link/_btn-link.scss" %}
                                    {% include "../assets/scss/component/button/btn-hover/_btn-hover.scss" %}
                                    {% include "../assets/scss/component/button/btn-search/_btn-search.scss" %}
                                    {% include "../assets/scss/component/button/btn-text/_btn-text.scss" %}
                                </pre>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <section id="module" class="group col-md-12">
                <h1 class="kawa-h1">Module</h1>
                <div id="moduleHeader" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Header</h2>
                    <!-- FUNRADIO -->
                    <form class="code-example col-md-12">
                        <div class="col-md-5">
                            <div class="module-header">La question du jour</div>
                        </div>
                        <div class="col-md-5">
                            <div class="module-header actu-bg-color">La question du jour</div>
                        </div>
                        <div class="col-md-5">
                            <div class="module-header buzz-bg-color">La question du jour</div>
                        </div>
                        <div class="col-md-5">
                            <div class="module-header super-bg-color">La question du jour</div>
                        </div>
                        <div class="col-md-5">
                            <div class="module-header night-bg-color">La question du jour</div>
                        </div>
                        <div class="col-md-5">
                            <div class="module-header fit-bg-color">La question du jour</div>
                        </div>
                    </form>
                    <ul class="nav nav-tabs nav-child">
                        <li class="active"><a data-toggle="tab" href="#funradio-module-header-html">HTML</a></li>
                        <li><a data-toggle="tab" href="#funradio-module-header-css">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="funradio-module-header-html" class="tab-pane fade in active">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-html">
                                    &lt;div class="module-header"&gt;La question du jour&lt;/div&gt;<br/>
                                    &lt;div class="module-header actu-bg-color"&gt;La question du jour&lt;/div&gt;<br/>
                                    &lt;div class="module-header buzz-bg-color"&gt;La question du jour&lt;/div&gt;<br/>
                                    &lt;div class="module-header super-bg-color"&gt;La question du jour&lt;/div&gt;<br/>
                                    &lt;div class="module-header night-bg-color"&gt;La question du jour&lt;/div&gt;<br/>
                                    &lt;div class="module-header fit-bg-color"&gt;La question du jour&lt;/div&gt;
                                </pre>
                            </figure>
                        </div>
                        <div id="funradio-module-header-css" class="tab-pane fade">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-css">
                                    {% include "../assets/scss/component/module/module-header/_module-header.scss" %}
                                </pre>
                            </figure>
                        </div>
                    </div>
                </div>

                <div id="moduleLink" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Link</h2>
                    <!-- FUNRADIO -->
                    <form class="code-example col-md-12">
                        <div class="col-md-5">
                            <div class="module-link module-border icon icon-chevron-bas">Voir plus de commentaires</div>
                        </div>
                        <div class="col-md-5">
                            <div class="module-link module-border-top icon icon-chevron-right-bis">Voir le dossier</div>
                        </div>
                    </form>
                    <ul class="nav nav-tabs nav-child">
                        <li class="active"><a data-toggle="tab" href="#funradio-link-html">HTML</a></li>
                        <li><a data-toggle="tab" href="#funradio-link-css">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="funradio-link-html" class="tab-pane fade in active">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-html">
                                    &lt;div class="module-link module-border icon icon-chevron-bas"&gt;La question du jour&lt;/div&gt;<br/>
                                    &lt;div class="module-link module-border-top icon icon-chevron-right-bis"&gt;Voir le dossier&lt;/div&gt;
                                </pre>
                            </figure>
                        </div>
                        <div id="funradio-link-css" class="tab-pane fade">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-css">
                                    {% include "../assets/scss/component/module/module-link/_module-link.scss" %}
                                </pre>
                            </figure>
                        </div>
                    </div>
                </div>

                <div id="moduleBorder" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Border</h2>
                    <!-- FUNRADIO -->
                    <form class="code-example col-md-12">
                        <div class="col-md-4">
                            <div class="module-border"><p>Module avec bordure fine</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="module-border-heavy"><p>Module avec bordure &eacute;paisse</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="module-border-top"><p>Module avec bordure haute</p></div>
                        </div>
                    </form>
                    <ul class="nav nav-tabs nav-child">
                        <li class="active"><a data-toggle="tab" href="#funradio-border-html">HTML</a></li>
                        <li><a data-toggle="tab" href="#funradio-border-css">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="funradio-border-html" class="tab-pane fade in active">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-html">
                                    &lt;div class="module-border"&gt;&lt;p&gt;Module avec bordure fine&lt;/p&gt;&lt;/div&gt;<br/>
                                    &lt;div class="module-border-heavy"&gt;&lt;p&gt;Module avec bordure &eacute;paisse&lt;/p&gt;&lt;/div&gt;<br/>
                                    &lt;div class="module-border-top"&gt;&lt;p&gt;Module avec bordure haute&lt;/p&gt;&lt;/div&gt;
                                </pre>
                            </figure>
                        </div>
                        <div id="funradio-border-css" class="tab-pane fade">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-css">
                                    {% include "../assets/scss/component/module/module-border/_module-border.scss" %}
                                </pre>
                            </figure>
                        </div>
                    </div>
                </div>

                <div id="moduleFooter" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Footer</h2>
                    <p>Boutons en pied de module. Cas particuliers:
                        <br/>- Pied de module au couleur des thématiques (ex: Parcourir tous les replays).
                        <br/>Les textes et chevrons passent en #ffffff
                        <br/>- Pied de module "r&eacute;servez vos places" avec pointill&eacute;s.
                    </p>
                    <!-- FUNRADIO -->
                    <form class="code-example col-md-12">
                        <div class="col-md-5">
                            <span class="module-footer icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                        </div>
                        <div class="col-md-5">
                            <span class="module-footer actu-bg-color icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                        </div>
                        <div class="col-md-5">
                            <span class="module-footer buzz-bg-color icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                        </div>
                        <div class="col-md-5">
                            <span class="module-footer super-bg-color icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                        </div>
                        <div class="col-md-5">
                            <span class="module-footer night-bg-color icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                        </div>
                        <div class="col-md-5">
                            <span class="module-footer fit-bg-color icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                        </div>
                    </form>
                    <ul class="nav nav-tabs nav-child">
                        <li class="active"><a data-toggle="tab" href="#funradio-module-footer-html">HTML</a></li>
                        <li><a data-toggle="tab" href="#funradio-module-footer-css">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="funradio-module-footer-html" class="tab-pane fade in active">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-html">
                                    &lt;span class="module-footer icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;<br/>
                                    &lt;span class="module-footer actu-bg-color icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;<br/>
                                    &lt;span class="module-footer buzz-bg-color icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;<br/>
                                    &lt;span class="module-footer super-bg-color icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;<br/>
                                    &lt;span class="module-footer night-bg-color icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;<br/>
                                    &lt;span class="module-footer fit-bg-color icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;
                                </pre>
                            </figure>
                        </div>
                        <div id="funradio-module-footer-css" class="tab-pane fade">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-css">
                                    {% include "../assets/scss/component/module/module-footer/_module-footer.scss" %}
                                </pre>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <section id="widget" class="group col-md-12">
                <h1 class="kawa-h1">Widget</h1>
                <div id="widgetPartner" class="col-md-12">
                    {% include "../assets/sample/_widget-partners.html" %}
                </div>
                <div id="widgetWeather" class="col-md-12">
                    {% include "../assets/sample/_widget-weather.html" %}
                </div>
                <div id="widgetAstro" class="col-md-12">
                    {% include "../assets/sample/_widget-astro.html" %}
                </div>
            </section>
            <section id="article" class="group col-md-12">
                <h1 class="kawa-h1">Article</h1>
                <div id="articleBody" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Body</h2>
                    <!-- FUNRADIO -->
                    <form class="code-example col-md-12">
                        <div class="col-md-3">
                            <a class="article-text-link">Lien texte article</a>
                        </div>
                        <div class="col-md-3">
                            <a class="article-text-link actu-color">Lien texte article</a>
                        </div>
                        <div class="col-md-3">
                            <a class="article-text-link buzz-color">Lien texte article</a>
                        </div>
                        <div class="col-md-3">
                            <a class="article-text-link super-color">Lien texte article</a>
                        </div>
                        <div class="col-md-3">
                            <a class="article-text-link night-color">Lien texte article</a>
                        </div>
                        <div class="col-md-3">
                            <a class="article-text-link fit-color">Lien texte article</a>
                        </div>
                        <div class="col-md-10">
                            <ul class="article-text-list">
                                <li class="item"><a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                                <li class="item actu-bg-color_before"><a href="#" class="text actu-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                                <li class="item buzz-bg-color_before"><a href="#" class="text buzz-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                                <li class="item super-bg-color_before"><a href="#" class="text super-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                                <li class="item night-bg-color_before"><a href="#" class="text night-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                                <li class="item fit-bg-color_before"><a href="#" class="text fit-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                            </ul>
                        </div>
                    </form>
                    <ul class="nav nav-tabs nav-child">
                        <li class="active"><a data-toggle="tab" href="#funradio-article-body-html">HTML</a></li>
                        <li><a data-toggle="tab" href="#funradio-article-body-css">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="funradio-article-body-html" class="tab-pane fade in active">
                            <figure class="highlighted col-md-12">
                            <pre class="prettyprint lang-html">
                                &lt;a class="article-text-link"&gt;Lien texte article&lt;/a&gt;<br/>
                                &lt;a class="article-text-link actu-color"&gt;Lien texte article&lt;/a&gt;<br/>
                                &lt;a class="article-text-link buzz-color"&gt;Lien texte article&lt;/a&gt;<br/>
                                &lt;a class="article-text-link super-color"&gt;Lien texte article&lt;/a&gt;<br/>
                                &lt;a class="article-text-link night-color"&gt;Lien texte article&lt;/a&gt;<br/>
                                &lt;a class="article-text-link fit-color"&gt;Lien texte article&lt;/a&gt;<br/><br/>
                                &lt;ul class="article-text-list"&gt;<br/>
                                &nbsp;&lt;li class="item"&gt;&lt;a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;<br/>
                                &nbsp;&lt;li class="item actu-bg-color_before"&gt;&lt;a href="#" class="text actu-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;<br/>
                                &nbsp;&lt;li class="item buzz-bg-color_before"&gt;&lt;a href="#" class="text buzz-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;<br/>
                                &nbsp;&lt;li class="item super-bg-color_before"&gt;&lt;a href="#" class="text super-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;<br/>
                                &nbsp;&lt;li class="item night-bg-color_before"&gt;&lt;a href="#" class="text night-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;<br/>
                                &nbsp;&lt;li class="item fit-bg-color_before"&gt;&lt;a href="#" class="text fit-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;<br/>
                                &lt;/ul&gt;
                            </pre>
                            </figure>
                        </div>
                        <div id="funradio-article-body-css" class="tab-pane fade">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-css">
                                    {% include "../assets/scss/component/article/article-text-link/_article-text-link.scss" %}
                                    {% include "../assets/scss/component/article/article-text-list/_article-text-list.scss" %}
                                </pre>
                            </figure>
                        </div>
                    </div>
                </div>
                <div id="articleFooter" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Footer</h2>
                    <!-- FUNRADIO -->
                    <form class="code-example col-md-12">
                        <div class="col-md-5">
                            <span class="article-footer icon icon-chevron-right-bis">Découvrir plus de videos</span>
                        </div>
                    </form>
                    <ul class="nav nav-tabs nav-child">
                        <li class="active"><a data-toggle="tab" href="#funradio-article-footer-html">HTML</a></li>
                        <li><a data-toggle="tab" href="#funradio-article-footer-css">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="funradio-article-footer-html" class="tab-pane fade in active">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-html">
                                    &lt;span class="article-footer icon icon-chevron-right-bis"&gt;Découvrir plus de videos&lt;/span&gt;<br/>
                                </pre>
                            </figure>
                        </div>
                        <div id="funradio-article-footer-css" class="tab-pane fade">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-css">
                                    {% include "../assets/scss/component/article/article-footer/_article-footer.scss" %}
                                </pre>
                            </figure>
                        </div>
                    </div>
                </div>
                <div id="tag" class="subgroup col-md-12">
                    <h2 class="kawa-h2">Tag</h2>
                    <!-- FUNRADIO -->
                    <form class="code-example col-md-12">
                        <div class="col-md-3 position-static">
                            <span class="article-tag">
                                <a href="#" class="tag">Le Saviez-Vous</a>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-tag actu-bg-color">
                                <a href="#" class="tag">Le Saviez-Vous</a>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-tag buzz-bg-color">
                                <a href="#" class="tag">Le Saviez-Vous</a>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-tag super-bg-color">
                                <a href="#" class="tag">Le Saviez-Vous</a>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-tag night-bg-color">
                                <a href="#" class="tag">Le Saviez-Vous</a>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-tag fit-bg-color">
                                <a href="#" class="tag">Le Saviez-Vous</a>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-flag-fix">
                                <span class="uppercase flag">
                                    <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                </span>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-flag-fix actu-bg-color">
                                <span class="uppercase flag actu-border-color actu-bg-color_before actu-border-color_after">
                                    <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                </span>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-flag-fix buzz-bg-color">
                                <span class="uppercase flag buzz-border-color buzz-bg-color_before buzz-border-color_after">
                                    <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                </span>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-flag-fix super-bg-color">
                                <span class="uppercase flag super-border-color super-bg-color_before super-border-color_after">
                                    <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                </span>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-flag-fix night-bg-color">
                                <span class="uppercase flag night-border-color night-bg-color_before night-border-color_after">
                                    <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                </span>
                            </span>
                        </div>
                        <div class="col-md-3 position-static">
                            <span class="article-flag-fix fit-bg-color">
                                <span class="uppercase flag fit-border-color fit-bg-color_before fit-border-color_after">
                                    <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                </span>
                            </span>
                        </div>
                    </form>
                    <ul class="nav nav-tabs nav-child">
                        <li class="active"><a data-toggle="tab" href="#funradio-article-tag-html">HTML</a></li>
                        <li><a data-toggle="tab" href="#funradio-article-tag-css">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="funradio-article-tag-html" class="tab-pane fade in active">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-html">
                                    &lt;span class="article-tag"&gt;<br/>
                                    &nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-tag actu-bg-color"&gt;<br/>
                                    &nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-tag buzz-bg-color"&gt;<br/>
                                    &nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-tag super-bg-color"&gt;<br/>
                                    &nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-tag night-bg-color"&gt;<br/>
                                    &nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-tag fit-bg-color"&gt;<br/>
                                    &nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;<br/>
                                    &lt;/span&gt;<br/><br/>
                                    &lt;span class="article-flag-fix"&gt;<br/>
                                    &nbsp;&lt;span class="uppercase flag"&gt;<br/>
                                    &nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;<br/>
                                    &nbsp;&lt;/span&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-flag-fix actu-bg-color"&gt;<br/>
                                    &nbsp;&lt;span class="uppercase flag actu-border-color actu-bg-color_before actu-border-color_after"&gt;<br/>
                                    &nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;<br/>
                                    &nbsp;&lt;/span&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-flag-fix buzz-bg-color"&gt;<br/>
                                    &nbsp;&lt;span class="uppercase flag buzz-border-color buzz-bg-color_before buzz-border-color_after"&gt;<br/>
                                    &nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;<br/>
                                    &nbsp;&lt;/span&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-flag-fix super-bg-color"&gt;<br/>
                                    &nbsp;&lt;span class="uppercase flag super-border-color super-bg-color_before super-border-color_after"&gt;<br/>
                                    &nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;<br/>
                                    &nbsp;&lt;/span&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-flag-fix night-bg-color"&gt;<br/>
                                    &nbsp;&lt;span class="uppercase flag night-border-color night-bg-color_before night-border-color_after"&gt;<br/>
                                    &nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;<br/>
                                    &nbsp;&lt;/span&gt;<br/>
                                    &lt;/span&gt;<br/>
                                    &lt;span class="article-flag-fix fit-bg-color"&gt;<br/>
                                    &nbsp;&lt;span class="uppercase flag fit-border-color fit-bg-color_before fit-border-color_after"&gt;<br/>
                                    &nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;<br/>
                                    &nbsp;&lt;/span&gt;<br/>
                                    &lt;/span&gt;
                                </pre>
                            </figure>
                        </div>
                        <div id="funradio-article-tag-css" class="tab-pane fade">
                            <figure class="highlighted col-md-12">
                                <pre class="prettyprint lang-css">
                                    {% include "../assets/scss/component/article/article-tag/_article-tag.scss" %}
                                    {% include "../assets/scss/component/article/article-flag-fix/_article-flag-fix.scss" %}
                                </pre>
                            </figure>
                        </div>
                    </div>
                </div>
                <div id="post-preview" class="col-md-12">
                    {% include "../assets/sample/_article-post-preview.html" %}
                </div>
            </section>
        </div>

        <!--Nav Bar -->
        <nav class="col-md-3 scroll-sidebar navbar">
            <ul id="sidebar" class="nav nav-stacked fixed">
                <li>
                    <a href="#general">General</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#header">Header</a></li>
                        <li><a href="#footer">Footer</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#button">Buttons</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#classic">Classic</a></li>
                        <li><a href="#particular">Particular</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#module">Module</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#moduleHeader">Header</a></li>
                        <li><a href="#moduleLink">Link</a></li>
                        <li><a href="#moduleBorder">Border</a></li>
                        <li><a href="#moduleFooter">Footer</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#widget">Widget</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#widgetPartner">Partner</a></li>
                        <li><a href="#widgetWeather">Weather</a></li>
                        <li><a href="#widgetAstro">Astro</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#article">Article</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#articleBody">Body</a></li>
                        <li><a href="#articleFooter">Footer</a></li>
                        <li><a href="#tag">Tag</a></li>
                        <li><a href="#post-preview">Post preview</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>