
@import '../assets/scss/partial/typography/typography';
@import '../assets/scss/partial/typography/typography-lato';
@import '../assets/scss/partial/typography/typography-eurostile';
@import '../assets/scss/partial/typography/typography-oswald';
@import '../assets/scss/partial/typography/typography-raleway';
@import '../assets/scss/partial/typography/typography-roboto';

.arial {
  font-family: $arial;
  font-size: 16px;
}

.helvetica {
  font-family: $helvetica;
  font-size: 16px;
}

.lato {
  font-family: $lato-regular;
  font-size: 16px;
}

.lato.light {
  font-family: $lato-light;
}

.eurostile {
  font-family: $eurostile-regular;
  font-size: 16px;
}

.eurostile.bold {
  font-family: $eurostile-bold;
}

.oswald {
  font-family: $oswald-regular;
  font-size: 16px;
  @include font-smoothing;
}

.oswald.light {
  font-family: $oswald-light;
}

.raleway {
  font-family: $raleway-regular;
  font-size: 16px;
  @include font-smoothing;
}

.raleway.bold {
  font-family: $raleway-bold;
}

.roboto {
  font-family: $roboto-regular;
  font-size: 16px;
}

.roboto.light {
  font-family: $roboto-light;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}