/* Article
----------------------------------------- */

/* Article Body */
.item-list {
  display: block;
  position: relative;
  padding: 0;
  list-style: none;
}

.item-list .item {
  display: block;
  position: relative;
  vertical-align: top;
  padding:u(0 0 0 1.25rem);
  margin-bottom: 0.75rem;
}

.item-list .item:before {
  content: "";
  position: absolute;
  top: u(0.1875rem);
  left: 0;
  width: u(0.625rem);
  height: u(0.625rem);
}