/* Buttons
----------------------------------------- */

/* Common Button */
.btn,
.btn-grey,
.btn-action {
	border:0;
	outline:none;
	display:inline-block;
	background-image:none;
}
.btn {
	padding:u(0.125rem 0.3125rem);
	margin-left:u(0.125rem);
	font-weight:normal;
	font-size:u(0.75rem);
	border-radius:u(0.125rem);
}

.btn-grey {
	font-weight:bold;
	font-size:u(0.875rem);
	padding:u(0 0.875rem);
	line-height:u(1.75rem);
}

.btn-grey:before {
	font-size:u(1.3125rem);
	line-height:inherit;
}
.btn-grey.icon:before {
	margin: 0 .375rem;
	font-variant: normal;
	text-transform: none;
}

/* Timeline Button Refresh */
.timeline-refresh .btn-grey {
	width:u(8.75rem);
	padding:0 u(0.3125rem);
	text-align:left;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.timeline-refresh {
	position: relative;
	float: left;
}

.timeline-notifier {
	position: absolute;
	font-size: 0.875rem;
	top:u(-0.9375rem);
	left:u(7.875rem);
	padding:u(0.25rem 0.625rem);
	border-radius:u(1.5625rem);
}
.timeline-notifier.highlight {
	-webkit-animation: notif-highlight 2.3s infinite;
	animation: notif-highlight 2.3s infinite;
}

/*
 * In several cases, IOS Webkit crash with CSS3 transform property (here: due to timeline important page height)
 * http://stackoverflow.com/questions/17824060/ios-safari-runs-out-of-memory-with-webkit-transform
 * http://css-tricks.com/crashing-mobile-webkit/
 * http://www.paulund.co.uk/ios-media-queries-boilerplate
 */

// iPhone 2G-4S In Portrait & Landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.timeline-notifier.highlight {
		-webkit-animation:none;
		animation:none;
	}
}
// iPhone 5 In Portrait & Landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
	.timeline-notifier.highlight {
		-webkit-animation:none;
		animation:none;
	}
}
// iPads In Portrait & Landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.timeline-notifier.highlight {
		-webkit-animation:none;
		animation:none;
	}
}

/* Song Button */
.song-tool {
	position:relative;
	float:right;
	min-width:u(9.5rem);
	height:u(3.375rem);
	padding:u(0 0.5625rem 0 0.25rem);
}
.song-tool:hover .toggler{
	display:none;
}
.song-partner {
	display:block;
	float:left;
	line-height:u(3.375rem);
	padding-left:u(0.375rem);
}
.partner-pic {
	display: inline-block;
	vertical-align: middle;
}
.toggler {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: .625rem .8125rem;
	z-index: 1;
}
.toggler:before {
	float: left;
}
.toggler.icon:before {
	margin: 0 .375rem;
	font-variant: normal;
	text-transform: none;
}

/* Action */
.btn-action {
	padding:u(0.375rem 1.25rem);
	font-size:u(0.8125rem);
	letter-spacing:1px;
	-webkit-appearance:none;
	//border-radius:u(0.125rem);
}

/* Text Button */
.btn-text {
	display:inline-block;
	vertical-align:top;
}
/*.btn-text .text {
	display:block;
	font-size:u(0.875rem);
	text-transform:uppercase;
}*/
.btn-text:before {
	display:block;
	text-align:center;
	font-size:u(2.5rem);
	margin:0;
}

/* More Button */
/*.btn-pagination,
.btn-more{
	display:inline-block;
	position:relative;
	font-size:u(0.9375rem);
	min-width:u(18.75rem);
	min-height:u(2.5rem);
	padding:u(0 3.125rem 0 0.625rem);
	line-height:u(2.5rem);
	cursor:pointer;
	font-weight:bold;
}
.btn-more:before{
	display:block;
	position:absolute;
	right:u(0.625rem);
	font-size:u(1.5625rem);
	line-height:inherit;
}*/

/* pagination Button */
/*.btn-pagination{
	padding:u(0 0.625rem);
	font-weight:normal;
}
.btn-pagination .links-holder{
	display:inline-block;
	margin:u(0 1rem);
}
.btn-pagination .item{
	display:inline-block;
	color:inherit;
}

.btn-pagination .links-holder .item{
	margin:u(0 0.3125rem);
}

.btn-pagination .item.active,
.btn-pagination .item:hover{
	font-weight:bold;
}
.btn-pagination .icon:before,
.btn-pagination .icon:after{
	line-height: inherit;
	font-size:u(1.5625rem);
}
.btn-pagination .icon:hover{
	font-weight:normal;
	color:$color-05;
}


@include mq("small"){
	.btn-pagination .icon{
		float:right;
	}
	.btn-pagination .icon:first-child{
		float:left;
	}
	.btn-pagination .links-holder{
		display:none;
	}
}*/

/* Link Button */
.btn-link{
	display:block;
	position:relative;
	padding:u(0 0.625rem);
	line-height:u(2.1875rem);
	font-size:u(0.8125rem);
	text-align:center;
}
.btn-link.icon-chevron-left-bis:before {
	line-height: inherit;
	font-size: 1.6875rem;
}

.btn-link.icon:before {
	vertical-align: top;
	margin: 0 .375rem;
	font-variant: normal;
	text-transform: none;
}

/* Submit */
.sbt-input{
	border:0;
	padding:0 u(1rem);
	font-size:u(0.75rem);
	min-height:u(2.1875rem);
	text-align:center;	
}

/* Search */
.btn-search .sbt-label,
.btn-search .sbt-input{
	display:table;
	float:left;
	text-align:center;
	vertical-align:middle;
	border:0;
	padding:u(0 0.625rem);
	width:u(3.75rem);
	height:u(3.75rem);
	cursor:pointer;
}
.btn-search .sbt-input{
	overflow:hidden;
	line-height:u(3.75rem);
}
.btn-search .sbt-input .icon-ff:before{
	font-size: u(2rem);
	line-height: inherit;
	margin: 0;
}
.btn-search .sbt-label{
	font-size:u(0.875rem);
	width:u(8.75rem);
	line-height:u(3.75rem);
}
.btn-search .sbt-input .no-ff{
	display:none;
}
@media (max-width: $mq-medium-bp){
	.btn-search .sbt-label{
		display: none;
	}
}

/* 
 * Toggle Button 
 */
/*.btn-toggle {
	position:relative;
	display:block;
	width:u(2.5rem);
	height:u(1.5rem);
	padding:1px;
	text-align:center;
	cursor:pointer;
}
.btn-toggle:before,
.btn-toggle .thumb  {
	-webkit-tap-highlight-color: transparent;
}
.btn-toggle:before {
	position:absolute;
	display:block;
	top:0;
	left:0;
	right:0;
	bottom:0;
	content:"";
	border-radius:u(1.25rem);
}
.btn-toggle .thumb {
	position:relative;
	display:block;
	width:u(1.375rem);
	height:u(1.375rem);
	border-radius:100%;
}
.btn-toggle.on .thumb {
	margin-left:u(1rem);
}*/