/* Component page
----------------------------------------- */

/* Page Imports */
//@import "_article.scss";
// button action
//@import "../component/buttons/btn/_btn.scss";
// button link
//@import "../component/buttons/btn-link/_btn-link.scss";
// button text
//@import "../component/buttons/btn-text/_btn-text.scss";
// button hover
//@import "../component/buttons/btn-hover/_btn-hover.scss";
// button search
//@import "../component/buttons/btn-search/_btn-search.scss";
//@import "_flag-fix.scss";
//@import "_footer-section.scss";
//@import "_header-main.scss";
//@import "_module.scss";
// module head
//@import "../component/module/module-head/_module-head.scss";
//@import "../component/module/module-head/_module-head-rtl.scss";
// module link
//@import "../component/module/module-link/_module-link.scss";
//@import "../component/module/module-link/_module-link-rtl.scss";
//@import "_post-preview.scss";
//@import "_social-tool.scss";
//@import "_tag-topic.scss";
//@import "_widget-feature.scss";
//@import "_widget-partners.scss";
//@import "_widget-weather.scss";
//@import "_widget-astro.scss";


.float-none {
  float: none!important;
}
@media (min-width: $media-queries-medium) {
  .width-47 {
    width: 47% !important;
  }
}

@media (min-width: $media-queries-small) {
  .width-42 {
    width: 42%!important;
  }
}

.position-static>span{
  position: static;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:link,
.nav-child>li.active>a,
.nav-child>li.active>a:hover,
.nav-child>li.active>a:link{
  outline: none;
}

.nav-child {
  margin-left: 31px;
}

pre.lang-css{
  white-space: pre-wrap!important;
}

.code-example {
  position: relative;
  padding: 45px 15px 60px;
  margin: 0 0 -42px;
}

.code-example div[class*='col-md'], .code-example div[class^='col-md'] {
  margin-top: 7px;
  margin-bottom: 7px;
  cursor: pointer;
}

// For Flag-fix
.code-example .flag-fix {
  max-width: 62%;
}

// For Footer article
.code-example .footer-section {
  padding:0;
}

// For Header
.code-example .main-header {
  position: static;
  height: auto;
}
.code-example .main-nav-hover,
.code-example .slide-logout{
  display: none;
}
.code-example .slide-nav .nav-item:hover{
  .main-nav-hover {
    display: block;
  }
}
.code-example #main-logout:hover {
  .slide-logout {
    display: block;
  }
}


.code-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  content: "Example";
}

.highlighted {
  padding: 9px 14px;
  margin-bottom: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.code-example+.highlighted {
  margin: -15px 0 15px;
  border-width: 0 1px 1px;
  border-radius: 0;
}

.highlighted pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.highlighted pre code {
  display: inline-block;
  padding-right: 45px;
}

@media only screen and (min-width: 768px) {
  .code-example {
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
  }

  .code-example+.highlighted {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}


