/* Flag Fix
----------------------------------------- */
.flag-fix {
	position:absolute;
	display:block;
	z-index:1;
	top:u(0.625rem);
	right:u(-0.1875rem);
	max-width:35%;
}
.flag-fix .bold {
	display:block;
	font-weight:bold;
}
.flag-fix .flag {
	position:relative;
	display:block;
	height:u(3.125rem);
	line-height:u(2.9375rem);
	letter-spacing:1px;
	padding:u(0 0.3125rem 0 0.625rem);
}
.flag-fix .align {
	display:inline-block;
	vertical-align:middle;
	line-height:u(1.0625rem);
	max-height:u(3.125rem);
	overflow:hidden;
	width:100%;
	margin-top:u(-0.25rem);
}
.flag-fix .flag:before {
	position:absolute;
	content:"";
	z-index:-1;
	top:u(-0.1875rem);
	right:u(-0.3125rem);
	bottom:u(-0.1875rem);
	width:u(0.1875rem);
	border-radius:0 3px 3px 0;
	@include old-ie {
		display:none;
	}
}
.flag-fix .flag:after {
	position:absolute;
	left:u(-0.4375rem);
	top:0;
	bottom:0;
	content:"";
	-webkit-transform:rotate(-0.1deg);
	-moz-transform:rotate(-0.1deg);
	-ms-transform:rotate(-0.1deg);
	-o-transform:rotate(-0.1deg);
	transform:rotate(-0.1deg);
}