/* Header Main
----------------------------------------- */

/* Scopped variables */
$u_slides_width:20rem;

/* Header Main */
.main-header {
	position:fixed;
	height:u($main-nav-height + $main-subnav-height + $main-uppernav-height);
	top:0;
	left:0;
	right:0;
	z-index:2147483646;
	backface-visibility:hidden;
}
.main-header * {
	-webkit-tap-highlight-color: transparent;
}
.main-wrapper {
	padding-top:u($main-nav-height + $main-subnav-height + $main-uppernav-height);
}
@include old-ie {
	.main-header {
		position:static;
	}
	.main-wrapper {
		padding-top:0;
	}
}


/* header-upper-nav */
.header-upper-nav{
	height:u(2.125rem);
	overflow:hidden;
}
.upper-nav-list{
	max-width:u(80rem);
	margin:0 auto;
	height:u(1.8125rem);
	font-size:0;
}
.upper-nav-item{
	display:inline-block;
	padding:u(0 0.75rem);
}
.header-upper-nav .newsletter-item{
	float:right;
	width:u(10rem);
	text-align:center;
	padding:0;
}
.main-header .header-upper-nav .icon-enveloppe:before{
	margin-right:u(0.3125rem);
}
@include old-ie {
	.header-upper-nav{
		min-width:u($website-4cols-size);
	}
}

/*webview layout*/
.body-webview .main-wrapper{
	padding-top:0;
}

/* Icons */
.main-header .icon:before {
	line-height:inherit;
	margin:0;
}

.main-header .icon-play:before {
	margin-right:u(0.3125rem);
}
.main-header .icon-flechemenu:before {
	margin-top:-1px;
	opacity:0.6;
}
.main-header .icon-home:before {
	display:none;
}

/* Main Nav */
.main-nav {
	height:u($main-nav-height);
}
.main-nav .nav-item {
	position:relative;
	display:block;
	float:left;
	width:u(5rem);
	height:u($main-nav-height);
}

.universe-header .main-nav .logo {
    border-right:0;
}

.universe-header .slide-nav .universe-toggler .show-dropdown {
	display:none;
}

.main-nav .nav-item-right {
	float:right;
}
.main-nav .logo {
	width:auto;
}
.main-nav .logo .sp {
	vertical-align:middle;
}
.main-nav .sp-logo-rtl-xs {
	display:none;
}

.main-nav .nav-item-right {
	border-right:0;
}
.main-nav .nav-text {
	display:block;
	overflow:hidden;
	padding:u(0 0.3125rem);
	text-overflow:ellipsis;
	white-space:nowrap;
	height:inherit;
}
.main-nav .logo .nav-text {
	padding:u(0 0.625rem);
}
.main-nav .show-dropdown,
.main-nav .nav-toggler,
.main-nav .profile .nav-text,
.main-nav .search .nav-text {
	cursor:pointer;
}

.universe-header .main-nav .nav-item{ //vertical header
	min-width:u(5rem);
	width:auto;
}

.universe-header .nav-toggler, //vertical header
.main-nav .nav-toggler {
	display:none;
	width:u(4.0625rem);
}

.universe-header .nav-toggler{ //vertical header
	min-width:initial;
}

.main-nav .universe-logo{ //vertical header
	display:inline-block;
	vertical-align:middle;
	//margin:u(0 0.625rem);
}
.main-nav .universe-logo-holder{ //vertical header
	display:none;
}

.universe-header .nav-block-mobile { //vertical header
	display:none;
}

.universe-header .nav-block-desktop .nav-item .show-dropdown {
	display:none;
}

/* Main nav sub */
.main-nav-sub {
	height:u($main-subnav-height);
	overflow:hidden;
	padding:u(0 0.6875rem);
}
.main-nav-sub .nav-item {
	position:relative;
	display:block;
	float:left;
	overflow:hidden;
	max-width:100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-right:u(1.25rem);
}
.main-nav-sub .link {
	color:inherit;
}
.main-nav-sub .links {
	overflow:hidden;
}
.main-nav-sub .links .nav-item {
	max-width:30%;
	padding-right:u(1.25rem);
}
.main-nav-sub .links .nav-item.notif-off {
	padding-right:0;
}
.main-nav-sub .right {
	float:right;
	overflow:hidden;
	max-width:30%;
}
.main-nav-sub .right .nav-item {
	margin-right:0;
	padding-left:u(0.3125rem);
}

.main-nav-sub .today {
	margin-right:u(6.5rem);
}
.main-nav-sub .notif {
	position:absolute;
	display:block;
	right:0;
	top:u(0.375rem);
	min-width:u(0.875rem);
	padding:u(0 0.125rem);
	border-radius:u(0.1875rem);
}

/* Main nav hover base */
%hover-base {
	position:absolute;
	overflow:hidden;
	height:0;
	top:u($main-nav-height);
	z-index:1000;
}
%hover-base.small {
	width:u(18.75rem);
}
.active %hover-base {
	height:auto;
}
%hover-base .list {
	float:left;
	padding:u(0.4375rem 0 0);
	list-style-type:none;
	width:49%;
}
%hover-base.small .list {
	float:none;
	width:auto;
	padding-top:0;
}
%hover-base .item {
	display:block;
	padding:u(0.625rem 0);
	margin:u(0 1.25rem);
}
%hover-base .item:first-child {
	border-top:0;
}
%hover-base .item a {
	display:block;
	overflow:hidden;
	max-height:u(2.0625rem);
	color:inherit;
}
%hover-base .title a {
	max-height:u(2.5rem);
}
%hover-base .logo-partner {
	float:right;
	margin:u(0 0 0.25rem 0.25rem);
}


/* Show Dropdown (small arrow down) */
.main-nav .show-dropdown {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:u(0.625rem);
}
.main-nav .show-dropdown .text {
	display:block;
}

/* Main nav hover */
.main-nav-hover {
	@extend %hover-base;
	left:0;
	width:u(37.5rem);
}

/* Logout */
.main-nav-hover-logout {
	@extend %hover-base;
	right:0;
}
.main-nav-hover-logout .logout-toggler {
	display:none;
}
.main-logout {
	padding:u(0 1.25rem);
	border-top:0;
}
.main-logout .icon-logo_club-rtl,
.main-logout .icon-rtl2-logo {
	display:block;
	max-height:u(4.375rem);
	overflow:hidden;
}
.main-logout .icon-logo_club-rtl:before,
.main-logout .icon-rtl2-logo:before {
	position: relative;
	top:u(-0.9375rem);
}
.main-logout .item {
	margin-left:0;
	margin-right:0;
}
.main-logout .item .btn-action {
	max-height:none;
}
.main-logout .logo {
	padding:0;
	border-width:0;
}
.main-logout .btn-action {
	display:block;
	width:100%;
	text-align:center;
	margin-bottom:u(1rem);
}

/* Breadcrumb */
.main-breadcrumb {
	overflow:hidden;
}
.main-breadcrumb .nav-item {
	max-width:25%;
	margin-right:u(0.5rem);
}
.main-breadcrumb .nav-item:before {
	margin:u(1px 0.5rem 0 0);
}
.main-breadcrumb .nav-item:first-child:before {
	content:none;
}

/* Fontface fallback */
.fontface .main-nav .no-ff {
	display:none;
}
.fontface .main-header .icon-home:before {
	display:inline-block;
}

/* Slide Nav */
.slide-nav {
	left:u(-$u_slides_width); // avoid to see the nav closing when resizing browser
}
/* Slide Nav */
.slide-logout {
	right:u(-$u_slides_width); // avoid to see the nav closing when resizing browser
}

@include mq('medium', 'all', 'max-width', 'landscape'){
	.main-header {
		width:100%; // Force a reflow after orientation change for Android Browser (Seen on Android S2 4.1.2)
	}	
	/*.slide-nav {
		// Fix iPhone 5 no scroll nav after orientation change... but:
		border:1px solid transparent; // orientation change Android crash
	}*/	
}


/* MQ Medium State */
@include mq('medium'){
	
	.open-nav,
	.open-nav body,
	.open-logout,
	.open-logout body,
	.main-nav {
		overflow:hidden;
	}
	.main-nav .home {
		background-color:transparent;
	}
	/*.main-nav .nav-text {
		height: auto;
	}*/

	.open-nav .main-header,
	.open-logout .main-header {
		// Fix slide-nav weird position on Android Browser 4.4.2
		position:relative;
	}
	.open-nav .main-wrapper,
	.open-logout .main-wrapper {
		padding-top:0;
	}

	/* Slide Nav & Logout */
	.slide-nav,
	.slide-logout {
		position:fixed;
		display:block;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		top:0;
		bottom:0;
		height:100%;
		padding:u(0 0.75rem 0 0.5rem);
		width:u($u_slides_width);
		max-width:100%;
		z-index:10000;
		-webkit-user-select: none;    
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;    
	}
	.slide-logout {
		padding:0;
		border:0;
	}
	.csstransforms3d .slide-nav,
	.open-nav .slide-nav {
		left:0;
	}
	.csstransforms3d .slide-logout,
	.open-logout .slide-logout {
		right:0;
	}
	.csstransforms3d .slide-nav,
	.csstransforms3d .slide-logout {
		-webkit-transition: all 0.5s;
		   -moz-transition: all 0.5s;
		     -o-transition: all 0.5s;
		        transition: all 0.5s;
	}
	.csstransforms3d .slide-nav {
		-webkit-transform: translate3d(u(-$u_slides_width), 0, 0);
		   -moz-transform: translate3d(u(-$u_slides_width), 0, 0);
		    -ms-transform: translate3d(u(-$u_slides_width), 0, 0);
		     -o-transform: translate3d(u(-$u_slides_width), 0, 0);
		        transform: translate3d(u(-$u_slides_width), 0, 0);
	}
	.csstransforms3d .slide-logout {
		-webkit-transform: translate3d(u($u_slides_width), 0, 0);
		   -moz-transform: translate3d(u($u_slides_width), 0, 0);
		    -ms-transform: translate3d(u($u_slides_width), 0, 0);
		     -o-transform: translate3d(u($u_slides_width), 0, 0);
		        transform: translate3d(u($u_slides_width), 0, 0);
	}
	.csstransforms3d.open-nav .slide-nav,
	.csstransforms3d.open-logout .slide-logout {
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
		    -ms-transform: translate3d(0, 0, 0);
		     -o-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
	}
	.main-header-overlay {
		position:fixed;
		overflow:hidden;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:0;
		height:0;
		opacity:0;
		background: rgba(0, 0, 0, 0.75);
		z-index:5000;
		-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
		    -ms-backface-visibility: hidden;
		        backface-visibility: hidden;
		-webkit-transition: opacity 0.4s;
		   -moz-transition: opacity 0.4s;
		     -o-transition: opacity 0.4s;
		        transition: opacity 0.4s;
	}
	.open-nav .main-header-overlay,
	.open-logout .main-header-overlay {
		opacity:1;
		width:101%;
		height:101%;
	}
	.slide-nav .nav-item {
		float:none;
		width:auto;
		height:auto !important;
		margin:u(0 0.3125rem 0 0);
		border:0;
	}
	.slide-nav .nav-item:last-child {
		margin-bottom:u(5rem); // prevent hiding the last item from the bottom toolbar on some mobiles (ios)
	}
	.slide-nav .nav-text {
		margin-right:u(3.125rem);
	}
	.slide-nav .nav-toggler .nav-text {
		padding-top:u(0.625rem);
		padding-bottom:u(0.625rem);
	}
	.slide-nav .show-dropdown {
		width:u(2.5rem);
		top:u(0.375rem);
		left:auto;
		bottom:u(0.375rem);
		height:auto;
		border:0;
	}
	.slide-nav .active .show-dropdown {
		bottom:0;
	}

	/* Icons */
	.slide-nav .icon-close:before,
	.slide-nav .icon-home:before,
	.main-logout .logout-toggler .icon:before {
		margin:u(-1px 0.3125rem 0 0);
	}
	.slide-nav .icon-flechemenu:before {
		margin-top:0;
	}

	/* Main Nav Hover */
	.main-nav-hover {
		position: relative;
		top: auto;
		width: auto;

		&.small {
			position: relative;
			top: auto;
			width: auto;

			li:first-child .mdl-link {
				border:0;
			}
		}

		.list {
			float:none;
			width:auto;
			border:0;

			&:first-child {
				border:0;
			}

			.item {
				position:relative;

				.ss-list {
					position:relative;
					z-index:1000;
					margin-top:upx(10px);
					padding-left:0;
					display:none;
				}

				&.active {
					.ss-list {
						display:block;
					}

					&.ss-item {
						padding-bottom:0;
					}
				}
			}
		}
	}

	/* Active and :hover states */
	.slide-nav .nav-text:hover {
		background-color:inherit;
	}
	.slide-nav .active .nav-text {
		background-color:inherit;
	}
	.no-touch .slide-nav .show-dropdown:hover .icon:before,
	.slide-nav .active .show-dropdown .icon:before {
		opacity:1;
	}

	/* Main Nav Sub */
	.main-nav-sub .today {
		margin-right:u(1.5rem);
	}
	.main-nav-sub .links .nav-item {
		max-width:40%;
	}

	/* Logout */
	.main-nav-hover-logout {
		position:relative;
		top:auto;
		right:auto;
		z-index:auto;
		width:auto !important;
		height:auto;
		background-color:transparent;
	}
	.main-logout .logout-toggler {
		display:block;
		padding:u(0.625rem 0);
	}
	.main-logout {
		border:0;
		padding:u(0 0.5rem 0 0.75rem);
	}
	.main-logout .logo {
		border-width:1px;
	}
	.main-nav .profile .show-dropdown {
		display:none;
	}

	.universe-header .nav-toggler, //vertical header
	.main-nav .nav-toggler {
		display:block;
	}

    /* VERTICAL DEPENDENCIES */
    .universe-header {
        .icon-club-rtl:before,
		.icon-user:before{
            text-shadow:none;
        }

        .main-nav .universe-logo-holder{
            border-right:0;
            display:block;
        }

        .slide-nav {
            .home .nav-text {
				margin-right:0;
			}

            .nav-item {
                .nav-text {
                    text-transform:none;
                }

            }

            .logo {
                padding-left:0;
				margin-bottom:0;

                .nav-text {
                    text-transform:uppercase;
                    padding-left:10px;

                    .icon-logo-rtl,
					.icon-logo-rtl2{
                        display:none;

                        *:before {
                            font-size:u(3rem);
                        }
                    }

                    .no-ff {
                        display:block;
                    }
                }
            }

            .nav-toggler {
                padding-left:0;

                .nav-text {
                    text-transform:uppercase;
                    padding-left:10px;
                }
            }
        }

		.nav-block-desktop {
			display:none;
		}

		.nav-block-mobile {
			display:block;
		}
    }


	/* UPPER NAV & dependencies */

	.header-upper-nav{
		display:none;
	}
	.main-header{
		height:u($main-nav-height + $main-subnav-height);
	}
	.main-wrapper{
		padding-top:u($main-nav-height + $main-subnav-height);
	}

}

/* MQ Small State */
@include mq('small'){
	.main-wrapper {
		padding-top:u($main-mq-small-nav-height + $main-mq-small-subnav-height);
	}
	.main-header {
		height:u($main-mq-small-nav-height + $main-mq-small-subnav-height);
	}

	.main-nav,
	.main-nav .nav-item {
		height:u($main-mq-small-nav-height);
	}
	.main-nav-sub {
		height:u($main-mq-small-subnav-height);
	}
	.main-nav .nav-item {
		width:auto;
	}
	.universe-header .nav-item{ //vertical header
		min-width: initial;
	}
	.slide-nav .nav-text {
		padding:u(0 0 0 0.625rem);
	}
	.main-nav .logo .nav-text,
	.main-nav-sub {
		padding:u(0 0.3125rem);
	}
	.main-nav-sub .today {
		display:none;
	}
	.main-nav-sub .right {
		max-width:100%;
		float:none;
	}

	.main-nav-sub .onair {
		float:none;
		text-align:center;
	}
	.main-header .main-breadcrumb {
		display:none;
	}

}