/* Module
----------------------------------------- */

// head

.mdl-title {
  display: block;
  padding:u(1rem 1.125rem);
}

// more, right column & foot

.mdl-link {
  display: block;
  overflow: hidden;
  padding:u(1.0625rem 1.25rem);
  outline: none;
}

.mdl-link.icon-chevron-right-bis:before,
.mdl-link.icon-chevron-bas:before {
  float: right;
  margin:u(0 0 0 0.5rem);
}

// border

.mdl-bvl-heavy {
  border-width:u(1px 0.25rem 0.25rem 1px);
  border-style:solid;
  border-radius:u(0 0.25rem 0 0.25rem)
}

.mdl-bvl-thin {
  border-style: solid;
  border-width: 1px;
}

.bo-top {
  border-width: 1px 0 0;
  border-style: solid;
}

@mixin mdl-fix-mdl-common {

  /* Height Fix */
  .mdl-title, .mdl-link {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .mdl-title {
    height:u(3.75rem);
  }
  .mdl-link {
    height:u(3.4375rem);
  }
}

/*
 * If we choose to apply a liquid effect on the last breakpoint,
 * apply all the fixed stuff above this breakpoint.
 */
@if($responsive-liquid-1col == true){
  @include mq('small', 'all', 'min-width'){
    @include mdl-fix-mdl-common;
  }
}@else {
  @include mdl-fix-mdl-common;
}