/* Social Tool
----------------------------------------- */

$social-tools-height:u(3.1875rem);
.bottom-tool-fix {
	padding-bottom:u(3.4375rem);
}
.social-tool {
	overflow:hidden;
	padding:u(0 0.25rem);
	height:$social-tools-height;
}
.social-tool .item {
	display:block;
	float:left;
	height:$social-tools-height;
	vertical-align:top;
	padding:u(0.4375rem 0.75rem 0);
	text-align:center;
}
.social-tool .item:first-child {
	border-left:0;
}
.social-tool .num {
	display:block;
	font-size:u(1.125rem);
	line-height:u(1.25rem);
	text-align:center;
}
.social-tool .text {
	display:block;
	font-size:u(0.6875rem);
}

/* Icons */
.social-tool .icon:before {
	margin:0;
	line-height:inherit;
	font-size:u(1.5rem);
}
.social-tool .icon {
	padding-top:0;
}
.social-tool .icon-play,
.social-tool .icon-play2 {
	float:none;
	overflow:hidden;
	line-height:u(3.1875rem);
}
.social-tool .icon-play:before,
.social-tool .icon-play2:before {
	font-size:u(3rem);
	line-height:inherit;
}