/* Widget Feature Base for:
   - widget astro
   - widgets partners
----------------------------------------- */

.widget-feature-header{
	position:relative;
	height:u(7.5625rem);
	padding:u(0.9375rem);
	border-radius:u(0 0 0 0.25rem);
}
.widget-feature-header .link{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	padding:u(0.9375rem);
	color:inherit;
}
.widget-feature-header .main-icon,
.widget-feature-header .main-logo{
	display:block;
	position:absolute;
	bottom:u(0.9375rem);
}
.widget-feature-header .main-icon{
	left:u(0.9375rem);
}
.widget-feature-header .main-logo{
	right:u(0.9375rem);
}
.widget-feature-content{
	overflow:hidden;
}

/* widget partner img */
.widget-feature-figure{
	width:100%;
	display:block;
	position:relative;
}
.widget-feature-img{
	display:block;
	max-width:100%;
	height:auto;
	margin:0 auto;
}
.widget-feature-iframe{
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 auto;
	border:0;
	padding:0;
}

/* Fixed layout */
@mixin mdl-fix-widget-feature {
	.mdl-fix .widget-feature-header{
		height:u(7.4375rem);
		overflow:hidden;
	}
	.mdl-fix .widget-feature-content{
		height:u(18.1875rem);
	}
	.mdl-fix .partner-mdl .widget-feature-content{
		height:u(18.375rem);
	}
}

/*
 * If we choose to apply a liquid effect on the last breakpoint,
 * apply all the fixed stuff above this breakpoint.
 */
@if($responsive-liquid-1col == true){
	@include mq('small', 'all', 'min-width'){
		@include mdl-fix-widget-feature;
	}
}@else {
	@include mdl-fix-widget-feature;
}