/* Widget Astro
----------------------------------------- */
.astro-header .main-logo{
	width:u(6.5rem);
	height:u(7rem);
	line-height:u(9rem);
}
.astro-header .main-logo:before{
	margin:0;
}
.astro-header .astro-sign{
	position:absolute;
	top:0;
	left:0;
	visibility:hidden;
}
.astro-content{
	padding:u(0.9375rem);
}
.astro-content .sign,
.astro-content .date{
	display:block;
	margin-bottom:u(0.9375rem);
}

/*MQ Small State*/
@include mq('small'){
	.astro-content{
		display:none;
	}
}