<div id="inputText" class="col-md-12">
    <div class="kawa-h2">Text</div>
    <form class="code-example col-md-12">
        <div class="col-md-3">
            <%- include('../../../assets/sample/form/_input-text.html', {sizeInput: 'small', placeholder: 'Rechercher'}) %>
        </div>
        <div class="col-md-3">
            <%- include('../../../assets/sample/form/_input-text.html', {placeholder: 'Rechercher'}) %>
        </div>
        <div class="col-md-3">
            <%- include('../../../assets/sample/form/_input-text.html', {sizeInput: 'large', placeholder: 'Rechercher'}) %>
        </div>
    </form>
    <ul class="nav nav-tabs nav-child">
        <li class="active"><a data-toggle="tab" href="#rtl-input-text-html">HTML</a></li>
        <li><a data-toggle="tab" href="#rtl-input-text-css">CSS</a></li>
        <li><a data-toggle="tab" href="#rtl-input-text-ejs">EJS</a></li>
    </ul>
    <div class="tab-content">
        <div id="rtl-input-text-html" class="tab-pane fade in active">
            <figure class="highlighted col-md-12">
                            <pre class="prettyprint lang-html"><%= include('../../../assets/sample/form/_input-text.html', {sizeInput: 'small'}) %><br/>
<%= include('../../../assets/sample/form/_input-text.html') %><br/>
<%= include('../../../assets/sample/form/_input-text.html', {sizeInput: 'large'}) %></pre>
            </figure>
        </div>
        <div id="rtl-input-text-css" class="tab-pane fade">
            <figure class="highlighted col-md-12">
                <pre class="prettyprint lang-css"><%- include("../../../assets/scss/component/form/_input-text.scss") %></pre>
            </figure>
        </div>
        <div id="rtl-input-text-ejs" class="tab-pane fade">
            <figure class="highlighted col-md-12">
                            <pre class="prettyprint lang-html">

                            </pre>
            </figure>
        </div>
    </div>
</div>