<a href="#" target="_blank">
    <figure class="widget-feature-figure">
        <img class="widget-feature-img img-echo" src="<%= rootPath%>/dist/img/spacer.gif" data-src="<%= rootPath%>/_noprod/img/298x197.gif" width="298" height="197">
        <figcaption class="ph-figcaption">
            <span class="ph-date">Samedi 17/12/2014</span>
            <span class="ph-time">20h00</span>
        </figcaption>
    </figure>
    <div class="ph-info">
        <div class="ph-table">
            <div class="ph-cell">
                <span class="what">Prix du bois de boulogne lorem ipsum</span>
                <span class="where">Hippodrome de Longchamps</span>
            </div>
        </div>
    </div>
</a>