
@import "_colors-common.scss";
@import "_colors-funradio.scss";
@import "_colors-girls.scss";
@import "_colors-rtl.scss";
@import "_colors-rtl2.scss";

/*------------*/
/*    BASE    */
/*------------*/

/* White */
.white { background-color: $white; }
.dark { color: $white; }
.hover-white:hover { background-color: $white; }
.before-white:before { color: $white; }

/* Black */
.black { background-color: $black; }
.black-light { background-color: $black-light; }
.black-lighter { background-color: $black-lighter; }
.light { color: $black; }
.light-light { color: $black-light; }
.light-lighter { color: $black-lighter; }
.hover-black:hover { color: $black; }

/* Grey */
.grey { background-color: $grey; }
.grey-dark { background-color: $grey-dark; }
.grey-darker { background-color: $grey-darker; }
.grey-light { background-color: $grey-light; }
.grey-lighter { background-color: $grey-lighter; }
.grey-login-1col { background-color: $grey-login-1col; }
.before-grey-dark:before { color: $grey-dark; }

/* Validation */
.validation-green { background-color: $validation-green; }
.validation-green-dark { background-color: $validation-green-dark; }
.validation-red { background-color: $validation-red; }
.validation-red-dark { background-color: $validation-red-dark; }
.validation-red-light { background-color: $validation-red-light; }

/* Social */
.twitter-cyan { background-color: $twitter-cyan; }
.twitter-cyan-light { background-color: $twitter-cyan-light; }
.fb-blue { background-color: $fb-blue; }
.fb-blue-light { background-color: $fb-blue-light; }
.fb-blue-dark { background-color: $fb-blue-dark; }
.instagram-blue { background-color: $instagram-blue; }
.instagram-blue-light { background-color: $instagram-blue-light; }
.googleplus-red { background-color: $googleplus-red; }
.googleplus-red-light { background-color: $googleplus-red-light; }
.pinterest-red { background-color: $pinterest-red; }
.pinterest-red-light { background-color: $pinterest-red-light; }
.pinterest-red-dark { background-color: $pinterest-red-dark; }
.youtube-red { background-color: $youtube-red; }
.linkedin-blue { background-color: $linkedin-blue; }

/*------------*/
/*    RTL     */
/*------------*/

/* Grey */
.rtl-grey { background-color: $rtl-grey; }
.rtl-grey-dark { background-color: $rtl-grey-dark; }
.rtl-grey-matt { background-color: $rtl-grey-matt; }
.rtl-grey-light { background-color: $rtl-grey-light; }
.color-rtl-grey { color: $rtl-grey; }
.color-rtl-grey-matt { color: $rtl-grey-matt; }
.bo-rtl-grey-light { border-color: $rtl-grey-light!important; }
.before-rtl-grey-matt:before { background-color: $rtl-grey-matt; }
.icon-color-rtl-grey .icon:before { color: $grey-dark; }

/* Cream */
.rtl-cream { background-color: $rtl-cream; }
.rtl-cream-dark { background-color: $rtl-cream-dark; }
.rtl-cream-light { background-color: $rtl-cream-light; }
.bo-rtl-cream-dark { border-color: $rtl-cream-dark!important; }
.color-rtl-cream { color: $rtl-cream; }
.hover-rtl-cream-black-lighter:hover { background-color: $rtl-cream; color: $black-lighter!important; }

/* Red */
.rtl-red { background-color: $rtl-red; }
.rtl-red-dark { background-color: $rtl-red-dark; }
.rtl-red-light { background-color: $rtl-red-light; }
.rtl-red-lighter { background-color: $rtl-red-lighter; }
.rtl-red-lightest { background-color: $rtl-red-lightest; }
.color-rtl-red { color: $rtl-red; }
.bo-rtl-red { border-color: $rtl-red; }
.bo-rtl-red-lightest { border-color: $rtl-red-lightest!important; }
.hover-rtl-red:hover { color: $rtl-red!important; }
.hover-rtl-red-light-white:hover { background-color: $rtl-red-light; color: $white; text-decoration: none; }
.before-rtl-red:before { background-color: $rtl-red; }

/* Blue */
.rtl-blue { background-color: $rtl-blue; }
.rtl-blue-dark { background-color: $rtl-blue-dark; }
.rtl-blue-darker { background-color: $rtl-blue-darker; }
.rtl-blue-light { background-color: $rtl-blue-light; }
.color-rtl-blue { color: $rtl-blue; }

/* Green */
.rtl-green { background-color: $rtl-green; }
.rtl-green-dark { background-color: $rtl-green-dark; }
.rtl-green-darker { background-color: $rtl-green-darker; }

/* Purple */
.rtl-purple { background-color: $rtl-purple; }

/* Burgundy */
.rtl-burgundy { background-color: $rtl-burgundy; }

/*------------*/
/*    RTL2    */
/*------------*/

/* Black */
.rtl2-black { background-color: $rtl2-black; }
.color-rtl2-black { color: $rtl2-black; }
.hover-rtl2-black:hover { color: $rtl2-black; }

/* Grey */
.rtl2-grey { background-color: $rtl2-grey; }
.rtl2-grey-dark { background-color: $rtl2-grey-dark; }
.rtl2-grey-darker { background-color: $rtl2-grey-darker; }
.color-rtl2-grey { color: $rtl2-grey; }
.color-rtl2-grey-darker { color: $rtl2-grey-darker; }
.hover-rtl2-grey-dark:hover { color: $rtl2-grey-dark!important; }
.hover-rtl2-grey-dark-white:hover { background-color: $rtl2-grey-dark; color: $white; text-decoration: none; }
.icon-color-rtl2-grey .icon:before { color: $rtl2-grey; }

/* Cream */
.rtl2-cream { background-color: $rtl2-cream; }
.rtl2-cream-dark { background-color: $rtl2-cream-dark; }
.rtl2-cream-light { background-color: $rtl2-cream-light; }
.bo-rtl2-cream-light { border-color: $rtl2-cream-light!important; }
.bo-rtl2-cream-dark { border-color: $rtl2-cream-dark!important; }
.hover-rtl2-cream-dark:hover { color: $rtl2-cream-dark!important; }

/* Gold */
.rtl2-gold { background-color: $rtl2-gold; }
.rtl2-gold-dark { background-color: $rtl2-gold-dark; }
.rtl2-gold-light { background-color: $rtl2-gold-light; }
.color-rtl2-gold { color: $rtl2-gold; }
.bo-rtl2-gold { border-color: $rtl2-gold; }
.before-rtl2-gold:before { background-color: $rtl2-gold; }

/* Red */
.rtl2-red { background-color: $rtl2-red; }
.rtl2-red-dark { background-color: $rtl2-red-dark; }
.color-rtl2-red { color: $rtl2-red; }
.hover-rtl2-red:hover { background-color: $rtl2-red; }
.before-rtl2-red:before { background-color: $rtl2-red; }

/* Pink */
.rtl2-pink { background-color: $rtl2-pink; }
.rtl2-pink-dark { background-color: $rtl2-pink-dark; }

/* Purple */
.rtl2-purple { background-color: $rtl2-purple; }

/* Burgundy */
.rtl2-burgundy { background-color: $rtl2-burgundy; }

/*------------*/
/*  FUNRADIO  */
/*------------*/

/* Black */
.fun-black { background-color: $fun-black; }
.color-fun-black { color: $fun-black; }
.hover-fun-black:hover { color: $fun-black; }

/* Grey */
.fun-grey { background-color: $fun-grey; }
.fun-grey-light { background-color: $fun-grey-light; }
.fun-grey-darker { background-color: $fun-grey-darker; }
.color-fun-grey { color: $fun-grey; }
.color-fun-grey-darker { color: $fun-grey-darker; }
.icon-color-fun-grey-darker .icon:before { color: $fun-grey-darker; }

/* Cream */
.fun-cream { background-color: $fun-cream; }
.fun-cream-dark { background-color: $fun-cream-dark; }
.fun-cream-light { background-color: $fun-cream-light; }
.bo-fun-cream-dark { border-color: $fun-cream-dark!important; }

/* Blue */
.fun-blue { background-color: $fun-blue; }
.fun-blue-dark { background-color: $fun-blue-dark; }
.fun-blue-light { background-color: $fun-blue-light; }
.hover-fun-blue:hover { color: $fun-blue; }

/* Pink */
.fun-pink { background-color: $fun-pink; }
.fun-pink-dark { background-color: $fun-pink-dark; }
.fun-pink-light { background-color: $fun-pink-light; }
.color-fun-pink { color: $fun-pink; }
.bo-fun-pink { border-color: $fun-pink; }
.hover-fun-pink-dark-white:hover { background-color: $fun-pink-dark; color: $white; text-decoration: none; }
.before-fun-pink:before { background-color: $fun-pink; }

/* Yellow */
.fun-yellow { background-color: $fun-yellow; }

/* Orange */
.fun-orange { background-color: $fun-orange; }
.fun-orange-dark { background-color: $fun-orange-dark; }
.fun-orange-darker { background-color: $fun-orange-darker; }
.color-fun-orange { color: $fun-orange; }
.before-fun-orange:before { background-color: $fun-orange; }

/* Cherry */
.fun-cherry { background-color: $fun-cherry; }
.fun-cherry-dark { background-color: $fun-cherry-dark; }
.fun-cherry-darker { background-color: $fun-cherry-darker; }
.color-fun-cherry { color: $fun-cherry; }
.before-fun-cherry:before { background-color: $fun-cherry; }

/* Purple */
.fun-purple { background-color: $fun-purple; }
.fun-purple-light { background-color: $fun-purple-light; }
.fun-purple-dark { background-color: $fun-purple-dark; }
.color-fun-purple { color: $fun-purple; }
.before-fun-purple:before { background-color: $fun-purple; }

/* Green */
.fun-green { background-color: $fun-green; }
.fun-green-light { background-color: $fun-green-light; }
.fun-green-lighter{ background-color: $fun-green-lighter; }
.color-fun-green { color: $fun-green; }
.before-fun-green:before { background-color: $fun-green; }

/*------------*/
/*    Girls   */
/*------------*/

/* Black */
.girls-black { background-color: $girls-black; }
.color-girls-black { color: $girls-black; }
.hover-girls-black:hover { color: $girls-black; }

/* Grey */
.girls-grey { background-color: $girls-grey; }
.color-girls-grey { color: $girls-grey; }
.hover-girls-nude-dark-white:hover { background-color: $girls-nude-dark; color: $white; text-decoration: none; }
.hover-girls-nude:hover { background-color: $girls-nude; color: $white; }
.hover-girls-nude-dark:hover { color: $girls-nude-dark; }
.icon-color-girls-grey .icon:before { color: $girls-grey; }

/* Cream */
.girls-cream { background-color: $girls-cream; }
.girls-cream-dark { background-color: $girls-cream-dark; }
.girls-cream-darker { background-color: $girls-cream-darker; }
.girls-cream-light { background-color: $girls-cream-light; }
.bo-girls-cream-darker { border-color: $girls-cream-darker!important; }

/* Nude : Mode & Beaute */
.girls-nude { background-color: $girls-nude; }
.girls-nude-dark { background-color: $girls-nude-dark; }
.girls-nude-light { background-color: $girls-nude-light; }
.color-girls-nude-dark { color: $girls-nude-dark; }
.bo-girls-nude { border-color: $girls-nude; }
.before-girls-nude:before { background-color: $girls-nude; }

/* purple : Astro */
.girls-purple { background-color: $girls-purple; }
.girls-purple-dark { background-color: $girls-purple-dark; }

/* Green : Lifestyle */
.girls-green { background-color: $girls-green; }
.girls-green-dark { background-color: $girls-green-dark; }

/* Blue : Sexo & Psycho */
.girls-blue { background-color: $girls-blue; }
.girls-blue-dark { background-color: $girls-blue-dark; }

/* Brown : Confessions*/
.girls-brown { background-color: $girls-brown; }
.girls-brown-darker { background-color: $girls-brown-darker; }
