body {
    font-family: $arial;
    /*line-height: normal;*/
}

.kawa h1 {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid $grey-light;
}

.kawa h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.kawa p {
    margin: 0 0 10px;
}

.kawa pre code {
    white-space: nowrap;
}

a, a:hover, a:link {
    text-decoration: none;
}