
/* Black */
$rtl-black:               #3F3F3F;

/* Grey */
$rtl-grey:                #7C7C7C;
$rtl-grey-dark:           #706E6E;
$rtl-grey-matt:           #9D9D9D;
$rtl-grey-light:          #D8D8D8;

/* Cream */
$rtl-cream:               #F0F0F0;
$rtl-cream-dark:          #EBEBEB;
$rtl-cream-light:         #F8F8F8;

/* Red */
$rtl-red:                 #E1001B;
$rtl-red-dark:            #CA031B;
$rtl-red-light:           #FF0000;
$rtl-red-lighter:         #EB2629;
$rtl-red-lightest:        #E93B50;
$rtl-red-lightest-light:  #E93B49;

/* Blue */
$rtl-blue:                #42698D;
$rtl-blue-dark:           #2C5C88;
$rtl-blue-darker:         #1A4166;
$rtl-blue-light:          #3781C6;

/* Green */
$rtl-green:               #48A04E;
$rtl-green-dark:          #3C9242;
$rtl-green-darker:        #2C7931;

/* Purple */
$rtl-purple:              #6073BF;

/* Burgundy */
$rtl-burgundy:            #820010;
