
/* Black */
$rtl-black:               #3F3F3F;

/* Grey */
$rtl-grey:                #7C7C7C;
$rtl-grey-dark:           #706E6E;
$rtl-grey-matt:           #9D9D9D;
$rtl-grey-light:          #D8D8D8;

/* Cream */
$rtl-cream:               #F0F0F0;
$rtl-cream-dark:          #EBEBEB;
$rtl-cream-light:         #F8F8F8;

/* Red */
$rtl-red:                 #E1001B;
$rtl-red-dark:            #CA031B;
$rtl-red-light:           #FF0000;
$rtl-red-lighter:         #EB2629;
$rtl-red-lightest:        #E93B50;
$rtl-red-lightest-light:  #E93B49;

/* Blue */
$rtl-blue:                #42698D;
$rtl-blue-dark:           #2C5C88;
$rtl-blue-darker:         #1A4166;
$rtl-blue-light:          #3781C6;

/* Green */
$rtl-green:               #48A04E;
$rtl-green-dark:          #3C9242;
$rtl-green-darker:        #2C7931;

/* Purple */
$rtl-purple:              #6073BF;

/* Burgundy */
$rtl-burgundy:            #820010;

/* Euro 2016 */
$rtl-euro2016:            #381efb;
$rtl-euro2016-light:      #5640FC;
$rtl-euro2016-dark:       #1F0CC0;

/* Elections */
$rtl-elections:           #9D9D9D;
$rtl-elections-light:     #B0B0B0;
$rtl-elections-dark:      #909090;

/* Emploi */
$rtl-emploi:              #0e497b;
$rtl-emploi-light:        #1f5684;
$rtl-emploi-dark:         #173c6a;

/* Examen */
$rtl-examen:              #cc0045;
$rtl-examen-light:        #df1559;
$rtl-examen-dark:        #b60944;

/* Super */
$rtl-super:         #FF003C;
$rtl-super-light:   #F94B5C;
$rtl-super-dark:    #E00035;

/* Futur */
$rtl-futur : #02f56f;
$rtl-futur-light : #90ff90;
$rtl-futur-dark : #0ad665;