/* Common Layout
----------------------------------------- */

/* Remove the 300ms delay on Widows phones - source: http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away */
html {
  -ms-touch-action: manipulation; /* IE10  */
  touch-action: manipulation; /* IE11+  */
}
body {
  font-family: $arial;
  line-height: normal;
  /*font-size: inherit;*/
}
a, a:hover, a:link {
  text-decoration: none;
}

/* For Kawabunga */
.kawa .kawa-h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}
.kawa .kawa-h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.kawa p {
  margin: 0 0 10px;
}
.kawa pre code {
  white-space: nowrap;
}
.uppercase {
  text-transform: uppercase;
}


.page-wrap,
.page-wrap-fluid {
  margin:0 auto;
}
.page-top-padding {
  padding-top:u(1.25rem);
}
.skin-link {
  display:none; // avoid a skin-link displayed without skin.css injected
}

/* Echo Images */
.img-echo {
  background:url('../img/loader.gif') center center no-repeat transparent;
}

@if ($responsive-liquid == false) {

  /* Agressive responsive mode */
  .page-wrap {
    max-width:u($website-4cols-size);
  }
  @include mq('large'){
    .page-wrap {
      max-width:u($website-3cols-size);
    }
  }
  @include mq('medium'){
    .page-wrap {
      max-width:u($website-2cols-size);
    }
  }
  @include mq('small'){
    .page-wrap {
      max-width:u($website-1col-size);
    }
  }

}@else {

  /* Liquid responsive mode */
  .page-wrap {
    max-width:u($website-4cols-size);
  }

}

/* If media-queries are disabled, set the page width equal to the largest col */
@if ($media-queries == false) {
  .page-wrap {
    width:u($website-4cols-size);
  }
}

/* Page wrap fluid isn't related to page wrap and all reponsive stuff */
.page-wrap-fluid {
  max-width:u($website-4cols-size);
}
@include old-ie {
  .page-wrap-fluid {
    width:u($website-4cols-size);
  }
}

/* MQ Large State */
@include mq('large'){
  .mql-hide {
    display:none;
  }
}

/* MQ Medium State */
@include mq('medium'){
  .mqm-hide {
    display:none;
  }
}

/* MQ Small State */
@include mq('small'){
  .mqs-hide {
    display:none;
  }
  .page-top-padding {
    padding-top:u(0.625rem);
  }
}

// import theme :
@import "../layout-theme/_common.scss";