@import "../../config";
@import "../../functions";

@mixin ftv-ad-base {
    display: block;
    overflow: hidden;
    max-width: 100%;
    iframe {
        display: block;
    }
}

.ftv-ad-slot {
    min-height: 1px; // avoid offsets width and height 0x0 (invisible slots are not generated)
}

.ftv-ad-banner {
    @include ftv-ad-base;
    iframe {
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: $media-queries-medium) {
        display: none;
    }
}

.ftv-ad-pave {
    @include ftv-ad-base;
    width: 300px;
    height: 250px;
}

.ftv-ad-sumo {
    @include ftv-ad-base;
    width: 300px;
    height: 600px;
}

.ftv-ad-pave.ftv-ad-sumo {
    width: 300px;
    height: auto;
    min-height: 250px;
    max-height: 600px;
}