/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$btn-android-app-name: 'btn-android-app';
$btn-android-app-x: 7084px;
$btn-android-app-y: 0px;
$btn-android-app-offset-x: -7084px;
$btn-android-app-offset-y: 0px;
$btn-android-app-width: 414px;
$btn-android-app-height: 134px;
$btn-android-app-total-width: 8040px;
$btn-android-app-total-height: 296px;
$btn-android-app-image: '../../../img/sprite-retina-partners.png';
$btn-android-app: (7084px, 0px, -7084px, 0px, 414px, 134px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'btn-android-app', );
$btn-apple-app-name: 'btn-apple-app';
$btn-apple-app-x: 6666px;
$btn-apple-app-y: 0px;
$btn-apple-app-offset-x: -6666px;
$btn-apple-app-offset-y: 0px;
$btn-apple-app-width: 414px;
$btn-apple-app-height: 134px;
$btn-apple-app-total-width: 8040px;
$btn-apple-app-total-height: 296px;
$btn-apple-app-image: '../../../img/sprite-retina-partners.png';
$btn-apple-app: (6666px, 0px, -6666px, 0px, 414px, 134px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'btn-apple-app', );
$btn-femme-checked-name: 'btn-femme-checked';
$btn-femme-checked-x: 2812px;
$btn-femme-checked-y: 0px;
$btn-femme-checked-offset-x: -2812px;
$btn-femme-checked-offset-y: 0px;
$btn-femme-checked-width: 268px;
$btn-femme-checked-height: 86px;
$btn-femme-checked-total-width: 8040px;
$btn-femme-checked-total-height: 296px;
$btn-femme-checked-image: '../../../img/sprite-retina-partners.png';
$btn-femme-checked: (2812px, 0px, -2812px, 0px, 268px, 86px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'btn-femme-checked', );
$btn-femme-name: 'btn-femme';
$btn-femme-x: 1996px;
$btn-femme-y: 0px;
$btn-femme-offset-x: -1996px;
$btn-femme-offset-y: 0px;
$btn-femme-width: 268px;
$btn-femme-height: 86px;
$btn-femme-total-width: 8040px;
$btn-femme-total-height: 296px;
$btn-femme-image: '../../../img/sprite-retina-partners.png';
$btn-femme: (1996px, 0px, -1996px, 0px, 268px, 86px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'btn-femme', );
$btn-homme-checked-name: 'btn-homme-checked';
$btn-homme-checked-x: 2268px;
$btn-homme-checked-y: 0px;
$btn-homme-checked-offset-x: -2268px;
$btn-homme-checked-offset-y: 0px;
$btn-homme-checked-width: 268px;
$btn-homme-checked-height: 86px;
$btn-homme-checked-total-width: 8040px;
$btn-homme-checked-total-height: 296px;
$btn-homme-checked-image: '../../../img/sprite-retina-partners.png';
$btn-homme-checked: (2268px, 0px, -2268px, 0px, 268px, 86px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'btn-homme-checked', );
$btn-homme-name: 'btn-homme';
$btn-homme-x: 2540px;
$btn-homme-y: 0px;
$btn-homme-offset-x: -2540px;
$btn-homme-offset-y: 0px;
$btn-homme-width: 268px;
$btn-homme-height: 86px;
$btn-homme-total-width: 8040px;
$btn-homme-total-height: 296px;
$btn-homme-image: '../../../img/sprite-retina-partners.png';
$btn-homme: (2540px, 0px, -2540px, 0px, 268px, 86px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'btn-homme', );
$icon-astro-name: 'icon-astro';
$icon-astro-x: 3648px;
$icon-astro-y: 0px;
$icon-astro-offset-x: -3648px;
$icon-astro-offset-y: 0px;
$icon-astro-width: 280px;
$icon-astro-height: 80px;
$icon-astro-total-width: 8040px;
$icon-astro-total-height: 296px;
$icon-astro-image: '../../../img/sprite-retina-partners.png';
$icon-astro: (3648px, 0px, -3648px, 0px, 280px, 80px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-astro', );
$icon-dj-name: 'icon-dj';
$icon-dj-x: 448px;
$icon-dj-y: 0px;
$icon-dj-offset-x: -448px;
$icon-dj-offset-y: 0px;
$icon-dj-width: 104px;
$icon-dj-height: 104px;
$icon-dj-total-width: 8040px;
$icon-dj-total-height: 296px;
$icon-dj-image: '../../../img/sprite-retina-partners.png';
$icon-dj: (448px, 0px, -448px, 0px, 104px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-dj', );
$icon-heart-name: 'icon-heart';
$icon-heart-x: 788px;
$icon-heart-y: 0px;
$icon-heart-offset-x: -788px;
$icon-heart-offset-y: 0px;
$icon-heart-width: 112px;
$icon-heart-height: 104px;
$icon-heart-total-width: 8040px;
$icon-heart-total-height: 296px;
$icon-heart-image: '../../../img/sprite-retina-partners.png';
$icon-heart: (788px, 0px, -788px, 0px, 112px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-heart', );
$icon-immo-name: 'icon-immo';
$icon-immo-x: 1284px;
$icon-immo-y: 0px;
$icon-immo-offset-x: -1284px;
$icon-immo-offset-y: 0px;
$icon-immo-width: 160px;
$icon-immo-height: 104px;
$icon-immo-total-width: 8040px;
$icon-immo-total-height: 296px;
$icon-immo-image: '../../../img/sprite-retina-partners.png';
$icon-immo: (1284px, 0px, -1284px, 0px, 160px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-immo', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 340px;
$icon-instagram-y: 0px;
$icon-instagram-offset-x: -340px;
$icon-instagram-offset-y: 0px;
$icon-instagram-width: 104px;
$icon-instagram-height: 104px;
$icon-instagram-total-width: 8040px;
$icon-instagram-total-height: 296px;
$icon-instagram-image: '../../../img/sprite-retina-partners.png';
$icon-instagram: (340px, 0px, -340px, 0px, 104px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-instagram', );
$icon-justice-name: 'icon-justice';
$icon-justice-x: 904px;
$icon-justice-y: 0px;
$icon-justice-offset-x: -904px;
$icon-justice-offset-y: 0px;
$icon-justice-width: 120px;
$icon-justice-height: 104px;
$icon-justice-total-width: 8040px;
$icon-justice-total-height: 296px;
$icon-justice-image: '../../../img/sprite-retina-partners.png';
$icon-justice: (904px, 0px, -904px, 0px, 120px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-justice', );
$icon-kelformation-name: 'icon-kelformation';
$icon-kelformation-x: 672px;
$icon-kelformation-y: 0px;
$icon-kelformation-offset-x: -672px;
$icon-kelformation-offset-y: 0px;
$icon-kelformation-width: 112px;
$icon-kelformation-height: 104px;
$icon-kelformation-total-width: 8040px;
$icon-kelformation-total-height: 296px;
$icon-kelformation-image: '../../../img/sprite-retina-partners.png';
$icon-kelformation: (672px, 0px, -672px, 0px, 112px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-kelformation', );
$icon-keljob-name: 'icon-keljob';
$icon-keljob-x: 232px;
$icon-keljob-y: 0px;
$icon-keljob-offset-x: -232px;
$icon-keljob-offset-y: 0px;
$icon-keljob-width: 104px;
$icon-keljob-height: 104px;
$icon-keljob-total-width: 8040px;
$icon-keljob-total-height: 296px;
$icon-keljob-image: '../../../img/sprite-retina-partners.png';
$icon-keljob: (232px, 0px, -232px, 0px, 104px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-keljob', );
$icon-paris-hippiques-name: 'icon-paris-hippiques';
$icon-paris-hippiques-x: 1620px;
$icon-paris-hippiques-y: 0px;
$icon-paris-hippiques-offset-x: -1620px;
$icon-paris-hippiques-offset-y: 0px;
$icon-paris-hippiques-width: 168px;
$icon-paris-hippiques-height: 105px;
$icon-paris-hippiques-total-width: 8040px;
$icon-paris-hippiques-total-height: 296px;
$icon-paris-hippiques-image: '../../../img/sprite-retina-partners.png';
$icon-paris-hippiques: (1620px, 0px, -1620px, 0px, 168px, 105px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-paris-hippiques', );
$icon-paris-sportifs-name: 'icon-paris-sportifs';
$icon-paris-sportifs-x: 124px;
$icon-paris-sportifs-y: 0px;
$icon-paris-sportifs-offset-x: -124px;
$icon-paris-sportifs-offset-y: 0px;
$icon-paris-sportifs-width: 104px;
$icon-paris-sportifs-height: 104px;
$icon-paris-sportifs-total-width: 8040px;
$icon-paris-sportifs-total-height: 296px;
$icon-paris-sportifs-image: '../../../img/sprite-retina-partners.png';
$icon-paris-sportifs: (124px, 0px, -124px, 0px, 104px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-paris-sportifs', );
$icon-paru-vendu-name: 'icon-paru-vendu';
$icon-paru-vendu-x: 1028px;
$icon-paru-vendu-y: 0px;
$icon-paru-vendu-offset-x: -1028px;
$icon-paru-vendu-offset-y: 0px;
$icon-paru-vendu-width: 120px;
$icon-paru-vendu-height: 92px;
$icon-paru-vendu-total-width: 8040px;
$icon-paru-vendu-total-height: 296px;
$icon-paru-vendu-image: '../../../img/sprite-retina-partners.png';
$icon-paru-vendu: (1028px, 0px, -1028px, 0px, 120px, 92px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-paru-vendu', );
$icon-pme-name: 'icon-pme';
$icon-pme-x: 556px;
$icon-pme-y: 0px;
$icon-pme-offset-x: -556px;
$icon-pme-offset-y: 0px;
$icon-pme-width: 112px;
$icon-pme-height: 66px;
$icon-pme-total-width: 8040px;
$icon-pme-total-height: 296px;
$icon-pme-image: '../../../img/sprite-retina-partners.png';
$icon-pme: (556px, 0px, -556px, 0px, 112px, 66px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-pme', );
$icon-shopping-name: 'icon-shopping';
$icon-shopping-x: 16px;
$icon-shopping-y: 0px;
$icon-shopping-offset-x: -16px;
$icon-shopping-offset-y: 0px;
$icon-shopping-width: 104px;
$icon-shopping-height: 104px;
$icon-shopping-total-width: 8040px;
$icon-shopping-total-height: 296px;
$icon-shopping-image: '../../../img/sprite-retina-partners.png';
$icon-shopping: (16px, 0px, -16px, 0px, 104px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-shopping', );
$icon-tv-name: 'icon-tv';
$icon-tv-x: 1152px;
$icon-tv-y: 0px;
$icon-tv-offset-x: -1152px;
$icon-tv-offset-y: 0px;
$icon-tv-width: 128px;
$icon-tv-height: 104px;
$icon-tv-total-width: 8040px;
$icon-tv-total-height: 296px;
$icon-tv-image: '../../../img/sprite-retina-partners.png';
$icon-tv: (1152px, 0px, -1152px, 0px, 128px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'icon-tv', );
$logo-devices-name: 'logo-devices';
$logo-devices-x: 7502px;
$logo-devices-y: 0px;
$logo-devices-offset-x: -7502px;
$logo-devices-offset-y: 0px;
$logo-devices-width: 538px;
$logo-devices-height: 296px;
$logo-devices-total-width: 8040px;
$logo-devices-total-height: 296px;
$logo-devices-image: '../../../img/sprite-retina-partners.png';
$logo-devices: (7502px, 0px, -7502px, 0px, 538px, 296px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-devices', );
$logo-easyflirt-name: 'logo-easyflirt';
$logo-easyflirt-x: 1792px;
$logo-easyflirt-y: 0px;
$logo-easyflirt-offset-x: -1792px;
$logo-easyflirt-offset-y: 0px;
$logo-easyflirt-width: 200px;
$logo-easyflirt-height: 60px;
$logo-easyflirt-total-width: 8040px;
$logo-easyflirt-total-height: 296px;
$logo-easyflirt-image: '../../../img/sprite-retina-partners.png';
$logo-easyflirt: (1792px, 0px, -1792px, 0px, 200px, 60px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-easyflirt', );
$logo-explorimmo-name: 'logo-explorimmo';
$logo-explorimmo-x: 4860px;
$logo-explorimmo-y: 0px;
$logo-explorimmo-offset-x: -4860px;
$logo-explorimmo-offset-y: 0px;
$logo-explorimmo-width: 318px;
$logo-explorimmo-height: 60px;
$logo-explorimmo-total-width: 8040px;
$logo-explorimmo-total-height: 296px;
$logo-explorimmo-image: '../../../img/sprite-retina-partners.png';
$logo-explorimmo: (4860px, 0px, -4860px, 0px, 318px, 60px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-explorimmo', );
$logo-instagram-name: 'logo-instagram';
$logo-instagram-x: 3364px;
$logo-instagram-y: 0px;
$logo-instagram-offset-x: -3364px;
$logo-instagram-offset-y: 0px;
$logo-instagram-width: 280px;
$logo-instagram-height: 80px;
$logo-instagram-total-width: 8040px;
$logo-instagram-total-height: 296px;
$logo-instagram-image: '../../../img/sprite-retina-partners.png';
$logo-instagram: (3364px, 0px, -3364px, 0px, 280px, 80px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-instagram', );
$logo-justice-name: 'logo-justice';
$logo-justice-x: 4540px;
$logo-justice-y: 0px;
$logo-justice-offset-x: -4540px;
$logo-justice-offset-y: 0px;
$logo-justice-width: 316px;
$logo-justice-height: 100px;
$logo-justice-total-width: 8040px;
$logo-justice-total-height: 296px;
$logo-justice-image: '../../../img/sprite-retina-partners.png';
$logo-justice: (4540px, 0px, -4540px, 0px, 316px, 100px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-justice', );
$logo-kelformation-name: 'logo-kelformation';
$logo-kelformation-x: 5542px;
$logo-kelformation-y: 0px;
$logo-kelformation-offset-x: -5542px;
$logo-kelformation-offset-y: 0px;
$logo-kelformation-width: 370px;
$logo-kelformation-height: 37px;
$logo-kelformation-total-width: 8040px;
$logo-kelformation-total-height: 296px;
$logo-kelformation-image: '../../../img/sprite-retina-partners.png';
$logo-kelformation: (5542px, 0px, -5542px, 0px, 370px, 37px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-kelformation', );
$logo-keljob-name: 'logo-keljob';
$logo-keljob-x: 3932px;
$logo-keljob-y: 0px;
$logo-keljob-offset-x: -3932px;
$logo-keljob-offset-y: 0px;
$logo-keljob-width: 300px;
$logo-keljob-height: 60px;
$logo-keljob-total-width: 8040px;
$logo-keljob-total-height: 296px;
$logo-keljob-image: '../../../img/sprite-retina-partners.png';
$logo-keljob: (3932px, 0px, -3932px, 0px, 300px, 60px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-keljob', );
$logo-leguide-name: 'logo-leguide';
$logo-leguide-x: 6290px;
$logo-leguide-y: 0px;
$logo-leguide-offset-x: -6290px;
$logo-leguide-offset-y: 0px;
$logo-leguide-width: 372px;
$logo-leguide-height: 64px;
$logo-leguide-total-width: 8040px;
$logo-leguide-total-height: 296px;
$logo-leguide-image: '../../../img/sprite-retina-partners.png';
$logo-leguide: (6290px, 0px, -6290px, 0px, 372px, 64px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-leguide', );
$logo-paru-vendu-name: 'logo-paru-vendu';
$logo-paru-vendu-x: 4236px;
$logo-paru-vendu-y: 0px;
$logo-paru-vendu-offset-x: -4236px;
$logo-paru-vendu-offset-y: 0px;
$logo-paru-vendu-width: 300px;
$logo-paru-vendu-height: 60px;
$logo-paru-vendu-total-width: 8040px;
$logo-paru-vendu-total-height: 296px;
$logo-paru-vendu-image: '../../../img/sprite-retina-partners.png';
$logo-paru-vendu: (4236px, 0px, -4236px, 0px, 300px, 60px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-paru-vendu', );
$logo-pme-name: 'logo-pme';
$logo-pme-x: 5916px;
$logo-pme-y: 0px;
$logo-pme-offset-x: -5916px;
$logo-pme-offset-y: 0px;
$logo-pme-width: 370px;
$logo-pme-height: 30px;
$logo-pme-total-width: 8040px;
$logo-pme-total-height: 296px;
$logo-pme-image: '../../../img/sprite-retina-partners.png';
$logo-pme: (5916px, 0px, -5916px, 0px, 370px, 30px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-pme', );
$logo-pmu-name: 'logo-pmu';
$logo-pmu-x: 3084px;
$logo-pmu-y: 0px;
$logo-pmu-offset-x: -3084px;
$logo-pmu-offset-y: 0px;
$logo-pmu-width: 276px;
$logo-pmu-height: 64px;
$logo-pmu-total-width: 8040px;
$logo-pmu-total-height: 296px;
$logo-pmu-image: '../../../img/sprite-retina-partners.png';
$logo-pmu: (3084px, 0px, -3084px, 0px, 276px, 64px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-pmu', );
$logo-soonight-name: 'logo-soonight';
$logo-soonight-x: 1448px;
$logo-soonight-y: 0px;
$logo-soonight-offset-x: -1448px;
$logo-soonight-offset-y: 0px;
$logo-soonight-width: 168px;
$logo-soonight-height: 104px;
$logo-soonight-total-width: 8040px;
$logo-soonight-total-height: 296px;
$logo-soonight-image: '../../../img/sprite-retina-partners.png';
$logo-soonight: (1448px, 0px, -1448px, 0px, 168px, 104px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-soonight', );
$logo-teleloisirs-name: 'logo-teleloisirs';
$logo-teleloisirs-x: 5182px;
$logo-teleloisirs-y: 0px;
$logo-teleloisirs-offset-x: -5182px;
$logo-teleloisirs-offset-y: 0px;
$logo-teleloisirs-width: 356px;
$logo-teleloisirs-height: 72px;
$logo-teleloisirs-total-width: 8040px;
$logo-teleloisirs-total-height: 296px;
$logo-teleloisirs-image: '../../../img/sprite-retina-partners.png';
$logo-teleloisirs: (5182px, 0px, -5182px, 0px, 356px, 72px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'logo-teleloisirs', );
$timeline-end-name: 'timeline-end';
$timeline-end-x: 0px;
$timeline-end-y: 0px;
$timeline-end-offset-x: 0px;
$timeline-end-offset-y: 0px;
$timeline-end-width: 12px;
$timeline-end-height: 72px;
$timeline-end-total-width: 8040px;
$timeline-end-total-height: 296px;
$timeline-end-image: '../../../img/sprite-retina-partners.png';
$timeline-end: (0px, 0px, 0px, 0px, 12px, 72px, 8040px, 296px, '../../../img/sprite-retina-partners.png', 'timeline-end', );
$sprite-retina-partners-width: 8040px;
$sprite-retina-partners-height: 296px;
$sprite-retina-partners-image: '../../../img/sprite-retina-partners.png';
$sprite-retina-partners-sprites: ($btn-android-app, $btn-apple-app, $btn-femme-checked, $btn-femme, $btn-homme-checked, $btn-homme, $icon-astro, $icon-dj, $icon-heart, $icon-immo, $icon-instagram, $icon-justice, $icon-kelformation, $icon-keljob, $icon-paris-hippiques, $icon-paris-sportifs, $icon-paru-vendu, $icon-pme, $icon-shopping, $icon-tv, $logo-devices, $logo-easyflirt, $logo-explorimmo, $logo-instagram, $logo-justice, $logo-kelformation, $logo-keljob, $logo-leguide, $logo-paru-vendu, $logo-pme, $logo-pmu, $logo-soonight, $logo-teleloisirs, $timeline-end, );
$sprite-retina-partners: (8040px, 296px, '../../../img/sprite-retina-partners.png', $sprite-retina-partners-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
