/* Widget Astro Theme
----------------------------------------- */
.astro-header{
}
.astro-header .main-logo{
}
.astro-header .main-logo:before{
	line-height:inherit;
	font-size:u(7rem);
}
.astro-content .sign{
}
.astro-content .date,
.astro-content .text{
}
.astro-content .sign,
.astro-content .date{
	line-height:1;
}
.astro-content .sign{
	font-size:u(2.875rem);
}
.astro-content .date,
.astro-content .text{
	font-size:u(0.875rem);
}
.astro-content .text{
	line-height:1.5;
}