/* Widget Partners Theme
----------------------------------------- */

/* Explorimo */
.explorimmo-figcaption{
  position:absolute;
  right:0;
  bottom:0;
  padding:u(0.3125rem 0.625rem);
  //background:$color-03;
  //color:$color-01;
  font-size:u(1.5625rem);
  //text-transform:uppercase;
}
.explorimmo-info{
  padding:u(0.625rem);
  text-align:left;

  //color:$color-03;
}
.explorimmo-info .what,
.explorimmo-info .where{
  display:block;
  margin-bottom:u(0.3125rem);
}
.explorimmo-info .what{
  //text-transform:uppercase;
}
.explorimmo-info .where{
  font-weight:bold;
}
.explorimmo-info .details{
  font-size:u(0.875rem);
}


/* TV show (teleloisir) */
.tv-show-figcaption,
.tv-show-figcation{
  position:absolute;
  bottom:u(0.3125rem);
  right:u(0.625rem);
}
.tv-show-figcation .btn-text{
  //text-shadow: 0 1px 1px $color-02-l-l;
}
.tv-show-info{
  padding:u(0.9375rem 0.625rem);
  text-align:left;

  //color:$color-03;
}
.tv-show-info .show{
  //color:$color-02-l-l;
  font-size:u(1.25rem);
}
.tv-show-info .channel,
.tv-show-info .time,
.tv-show-info .show,
.tv-show-info .episode{
  display:block;
}
.tv-show-info .time,
.tv-show-info .show,
.tv-show-info .episode{
  //@extend %CustomFont2;
}
.tv-show-info .channel{
  float:left;
  margin-right:8px;
}


/* Le Guide */
.leguide-iframe {
  max-width:u(17.5rem);
  height:u(15.625rem);
  margin-top:u(0.3125rem);
}


/* Paris Sportif */
.ps-date,
.ps-time,
.ps-team {
  display:block;
  text-align:center;
}
.ps-date {
  margin:u(1.25rem 0 1.25rem);

  //color:$color-03;
  font-size:u(0.875rem);
  font-weight:bold;
}
.ps-time {
  //color:$color-02;
  font-size:u(2rem);
}
.ps-team {
  margin-bottom:u(1.25rem);

  //color:$color-02;
  font-size:u(1.25rem);
  font-weight:bold;
}
.ps-item {
  position:relative;
  display:inline-block;
  width:32%;

  font-size:u(2rem);
  line-height:u(4rem);
  //text-transform:uppercase;

  //@extend %CustomFont2;
}
.ps-prono {
  padding:u(0 0.9375rem 1.25rem);

  //color:$color-02;
}
.ps-position,
.ps-value {
  text-align:center;
  overflow:hidden;
}
.ps-position {
  //background:$color-04-l;
}
.ps-value {
  //background:$color-04;
}
.ps-null {
  //border-left:4px solid $color-01;
  //border-right:4px solid $color-01;
}


/* Paris Hippique */ //Example in Kawabunga
.ph-figcaption {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  text-align:center;
  padding-top:u(0.75rem);
}
.ph-date,
.ph-time {
  display:block;
}
.ph-date {
  font-size:u(0.875rem);
  font-weight:bold;
}
.ph-info {
  display:block;
  overflow:hidden;
  width:100%;
  height:u(5.8125rem);
  text-align:center;
}
.ph-time {
  font-size:u(2rem);
}
.ph-info .what,
.ph-info .where {
  display:block;
}
.ph-info .what {
  margin-bottom:u(0.3125rem);
  font-size:u(1.25rem);
  font-weight:bold;
}
.ph-table {
  display:table;
  width:100%;
  height:100%;
}
.ph-cell {
  display:table-cell;
  vertical-align:middle;
}


/* Keljob */
.job-list{
  padding:0;
  list-style: none;
}
.job-item{
  position:relative;
  min-height:u(6.125rem);

  //border-top:1px solid $color-03-l;
  //background:$color-04-l;
}
.job-item:first-child{
  border-top:0;
}
.job-item:before{
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:1px;

  //background:$color-01;
}
.job-link{
  display:block;
  padding:u(0.875rem);

  //background:$color-04-l;
}
.job-link:hover{
  //background:$color-01;
}
.job-title,
.job-compagny{
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow:hidden;
}
.job-title{
  margin-bottom:u(0.125rem);

  //color:$color-02-l-l;
  font-weight:bold;
}
.job-compagny{
  margin-bottom:u(0.9375rem);

  //color:$color-02-l-l;
  font-style:italic;
}
.job-info{
  width:100%;
  height:u(1rem);
  overflow:hidden;

  //color:$color-03;
  font-size:u(0.875rem);
}
.job-contract,
.job-location,
.job-date{
  float:left;
}
.job-location,
.job-date{
  padding:u(0 0.625rem);

  //border-left:1px solid $color-03-l;
}
.job-contract{
  margin-right:u(0.625rem);

  font-weight:bold;
  //text-transform:uppercase;
}


/* keljob / kelformation search */
.keljob .kel-info{
  margin-bottom:u(0.3125rem);
}
.kel-info{
  display:block;
  padding:u(0.625rem);
  padding-bottom:0;

  line-height:1.3;
  font-size:u(1.25rem);
  //color:$color-02-l-l;
  text-align:center;
}
.kel-number{
  display:block;

  font-size:u(1.875rem);
}
.kel-form{
  padding:u(1rem);
}
.kel-field{
  margin-bottom:u(1rem);
  position:relative;
  overflow:hidden;

  //border:1px solid $color-03-l;
}
.kelformation .kel-field{
  margin:u(3rem 0);
}
.kel-label,
.kel-input,
.kel-select{
  display:block;
  width:100%;
  height:u(2.5rem);
  padding:0;
  margin:0;
  border:0;
  border-radius:0;

  font-weight: normal;
  line-height:u(2.5rem);
  background:transparent;
  text-indent:u(0.625rem);
}
.kel-label{
  position:absolute;
  top:0;
  left:0;

  //color:$color-03;
  font-style:italic;
}
.kel-search{
  position:relative;

  text-align:center;
}
.kel-search:before{
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:1px;
  top:50%;
  left:0;
}
.kel-select{
  text-indent:u(0.3125rem);
}
.kel-search:before{
  //background:$color-03-l;
}
.kel-submit{
  display:inline-block;
  position:relative;
  padding:u(0 0.625rem);
  border:0;
  border-radius:0;
  margin:0 auto;

  text-align:center;
  line-height:u(1.875rem);
  font-size:u(0.875rem);
  //color:$color-01;
  //background:$color-03;
  //text-transform:uppercase;

}

/*paru vendu*/
.paru-vendu-iframe{
  max-width:u(17.5rem);
  margin:u(0.3125rem) auto;
}
.paru-vendu .widget-feature-content{
  //background: $color-04-l;
}

/*easyflirt*/
.easyflirt-row {
  position: relative;
  margin:u(0.625rem) auto;
  width:u(16.75rem);
}
.easyflirt-span {
  display:block;
  margin-bottom:u(0.625rem);

  font-size:u(1.375rem);
}
.easyflirt-iam,
.easyflirt-search {
  //display:none;
  position:absolute;
  top:u(3.125rem);
  visibility:hidden;
}
.easyflirt-iam + label,
.easyflirt-search + label {
  float:left;
  cursor:pointer;

  background-repeat:no-repeat;
}
.easyflirt-iam-man + label,
.easyflirt-search-man + label {
  @extend %sp-btn-man;
}
.easyflirt-iam-man:checked + label,
.easyflirt-search-man:checked + label {
  @extend %sp-btn-man-checked;
}
.easyflirt-iam-woman + label,
.easyflirt-search-woman + label {
  @extend %sp-btn-woman;
}
.easyflirt-iam-woman:checked + label,
.easyflirt-search-woman:checked + label {
  @extend %sp-btn-woman-checked;
}
.easyflirt-input {
  width:u(16.75rem);
  height:u(2.625rem);

  //border:1px solid $color-03-l;
  text-indent:u(0.625rem);
}
.easyflirt .mdl-link {
  width:100%;
  text-align:left;
}
@include old-ie {
  .easyflirt-iam,
  .easyflirt-search {
    display:inline-block;
    margin-right:u(0.3125rem);
  }
  .easyflirt-iam + label,
  .easyflirt-search + label {
    float:none;
    display:inline-block;
    width:auto;
  }
  .easyflirt-iam-man + label,
  .easyflirt-search-man + label {
    margin-right:u(1.875rem);
  }
  .easyflirt .easyflirt-row .sp {
    text-indent:0;
    font-size:u(1.125rem);
    background-image:none;
  }
}

/* soonlight */
.soon-txt-content {
  //background-color:$color-02;
  padding:u(0.3125rem);
  width:100%;
  height:u(5.4375rem);
}

.soon-txt-content .soon-txt {
  display:block;
  width:100%;
  height:100%;
  //color:$color-01;
  text-align:center;

  //border-top:2px dashed $color-03-l;
  //border-bottom:2px dashed $color-03-l;
  padding:15px 0;
}

.soon-txt-content .soon-txt .soon-title {
  font-size:u(1.375rem);
  line-height:u(1.625rem);
  display:block;
  text-transform: uppercase;

  //@extend %CustomFont2;
}

.soon-txt-content .soon-txt .soon-subtitle {
  font-size:u(1.0625rem);
  display:block;

  //@extend %CustomFont1;
}


/* MQ Medium State Only */
@include target-mq('small', 'medium'){
  .tv-show .widget-feature-content,
  .explorimmo .widget-feature-content {
    text-align:center;
  }
  .tv-show .widget-feature-figure,
  .explorimmo .widget-feature-figure{
    display:inline-block;
    width:auto;
  }
}

/* MQ Medium State Only */
@include mq('small'){
  .widget-feature-img{
    width:100%;
  }
}

/* MQ above Small */
@include mq('small', 'all', 'min-width'){
  /* Fixed layout */
  .mdl-fix .leguide-iframe,
  .mdl-fix .paru-vendu-iframe{
    margin-top:u(1rem);
  }
  .mdl-fix .tv-show-info {
    padding:u(1.0625rem 0.625rem);
  }
  .mdl-fix .explorimmo .widget-feature-figure{
    max-height:u(12.3125rem);
    overflow:hidden;
  }
  .mdl-fix .explorimmo .widget-feature-img{
    margin-top:u(-1rem);
  }
}