
@import "../../config";
@import "../../functions";
@import "../../themes/default/colors";
@import "../../themes/default/variables";

/* Module Follow Us
----------------------------------------- */
.module-follow-us {
  display: block;
  padding-bottom: px-to-rem(20px);
  text-align: center;
}

.module-follow-us .section-header {
  position: relative;
  border: 0;
  margin-bottom: px-to-rem(10px);
  text-align: center;
  padding-top: 1.875rem;
  font-family: $module-follow-us-font-family;

  @if ($font-smoothing) {
    @include font-smoothing-mixin;
  }
}

.module-follow-us .section-header .main-text {
  display: block;
  padding: 0;
  font-weight: normal;
  font-size: px-to-rem(36px);
  color: $black-lighter;
}

.module-follow-us .item {
  display: inline-block;
  padding: 0 px-to-rem(10px);
  color: $grey-dark;
}

/* Icons */
.module-follow-us .icon:before {
  margin: 0;
  font-size: px-to-rem(150px);
}

/* Fontface */
.fontface .module-follow-us .no-ff {
  display: none;
}

/* Small Layout */
.module-follow-us.small {
  text-align: justify;
}

.module-follow-us.small:after {
  display: inline-block;
  width:  100%;
  content:  "";
}

.module-follow-us.small .section-header-s {
  display:block;
  margin-bottom:px-to-rem(15px);
  text-align: left;
  font-family: $module-follow-us-font-family;

  @if ($font-smoothing) {
    @include font-smoothing-mixin;
  }
}

.module-follow-us.small .section-header-s .text {
  display:block;
  font-size:px-to-rem(26px);
  color: $black-lighter;
}

.module-follow-us.small .item {
  padding: 0 px-to-rem(10px) px-to-rem(16px);
}

.module-follow-us.small .item {
  padding: 0;
}

.module-follow-us.small .icon:before {
  font-size: px-to-rem(40px);
}

.module-follow-us .icon-facebook:before {
  color: $fb-blue;
}
.module-follow-us .icon-twitter:before {
  color: $twitter-cyan;
}
.module-follow-us .icon-googleplus:before {
  color: $googleplus-red;
}
.module-follow-us .icon-instagram:before {
  color: $instagram-blue;
}
.module-follow-us .icon-pinterest:before {
  color: $pinterest-red;
}
.module-follow-us .icon-youtube:before {
  color: $youtube-red;
}
.module-follow-us .icon-newsletter:before {
  color: $module-follow-us-icon-newsletter-color_before;
}

@media (max-width:  $media-queries-large) {
  .module-follow-us .icon:before {
    font-size: px-to-rem(120px);
  }
}

@media (max-width:  $media-queries-medium) {
  .module-follow-us .item {
    padding: 0;
  }

  .module-follow-us.small .icon:before,
  .module-follow-us .icon:before {
    font-size: px-to-rem(90px);
  }

  .module-follow-us .section-header .main-text {
    font-size:px-to-rem(30px);
  }
}

@media (max-width:  $media-queries-small) {
  .module-follow-us {
    text-align: justify;
  }

  .module-follow-us:after {
    display:  inline-block;
    width:  100%;
    content:  "";
  }

  .module-follow-us.small .icon:before,
  .module-follow-us .icon:before {
    font-size: px-to-rem(40px);
  }

  .module-follow-use .section-header {
    padding-top:px-to-rem(15px);
  }

  .module-follow-us .section-header .main-text {
    font-size:px-to-rem(23px);
  }
}