
/* Grey */
$fun-grey:          #7c7c7c;
$fun-grey-light:    #D8D8D8;
$fun-grey-darker:   #706E6E;

/* Cream */
$fun-cream:         #F0F0F0;
$fun-cream-dark:    #D8D8D8;
$fun-cream-light:   #F8F8F8;

/* Blue */
$fun-blue:          #00afec;
$fun-blue-dark:     #259ece;
$fun-blue-light:    #00c1f1;

/* Pink */
$fun-pink:          #ea148c;
$fun-pink-dark:     #d40e7f;
$fun-pink-light:    #ec519b;

/* Yellow */
$fun-yellow:        #fdc131;
