
/* Cream */
$girls-cream:           #F2EDEA;
$girls-cream-dark:      #E7DBD1;
$girls-cream-light:     #F9F6F5;

/* Nude : Mode & Beaute */
$girls-nude:            #C8AA90;
$girls-nude-dark:       #B49981;
$girls-nude-light:      #D9C4B2;

/* purple : Astro */
$girls-purple:          #b390b1;
$girls-purple-dark:     #b390b1;

/* Green : Lifestyle */
$girls-green:           #78C0AA;
$girls-green-dark:      #6EAF9C;

/* Blue : Sexo & Psycho */
$girls-blue:            #7DA1BF;
$girls-blue-dark:       #5D92BD;

/* Brown : Confessions*/
$girls-brown:           #955251;
$girls-brown-darker:    #924442;
