//
// Common colors
// -------------------------

$white:           #FFFFFF;

$black:           #000000;
$black-light:     #201E1E;
$black-lighter:   #3F3F3F;

$grey:            #C2C8CE;
$grey-dark:       #7c7c7c;
$grey-darker:     #706E6E;
$grey-light:      #D8D8D8;
$grey-lighter:    #F4F4F4;
$grey-login-1col: #828384;

/* Green (valid) */
$green:           #48A04E;
$green-dark:      #3C9242;

/* Red (error) */
$red:             #E1001B;
$red-dark:        #CA031B;
$red-light:       #ff7f7f;

/* Facebook blue */
$fb-blue:         #3B5998;
$fb-blue-dark:    #355089;
