
// sass modules: functions, mixins, includes
@import "sass-module/_import.scss";

// partials: colors, typos, reset, tricks
@import "partial/_import.scss";

/*----------------------*/
/*       CONTENT        */
/*----------------------*/

/* -- Structure de la page -- */

.float-none {
  float: none!important;
}
@media (min-width: 61.25em) {
  .width-47 {
    width: 47%!important;
  }

  .width-42 {
    width: 42%!important;
  }
}

.position-static>span{
  position: static;
}

.nav-child {
  margin-left: 31px;
}

.nav-child>li.active>a, .nav-child>li.active>a:hover, .nav-child>li.active>a:link {
  background-color: #F4F4F4;
  outline: 0;
}

.code-example {
  position: relative;
  padding: 45px 15px 60px;
  margin: 0 0 -42px;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border: 1px solid $grey-light;
  border-top-style: none;
}

.code-example div[class*='col-md'], .code-example div[class^='col-md'] {
  margin-top: 7px;
  margin-bottom: 7px;
  cursor: pointer;
}

.code-example .flag-fix {
  max-width: 62%;
}

.code-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: $grey-login-1col;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Example";
}

.highlighted {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: $grey-lighter;
  border: 1px solid $grey-light;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
}

.code-example+.highlighted {
  margin: -15px 0 15px;
  border-width: 0 1px 1px;
  border-radius: 0;
}

.highlighted pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.highlighted pre code {
  display: inline-block;
  padding-right: 45px;
}

.element {
  color: $fb-blue-light;
}

.attribute {
  color: $twitter-cyan;
}

.value {
  color: $googleplus-red;
}

.variable {
  color: $validation-green-dark;
}

@media only screen and (min-width: 768px) {
  .code-example {
    margin-right: 0;
    margin-left: 0;
    background-color: $white;
    border-color: $grey-light;
    border-width: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
  }

  .code-example+.highlighted {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

/* -- MODULE -- */

@media (min-width: 41.3125em) {
  .mdl-link, .mdl-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mdl-title {
    height: 3.75rem;
  }

  .mdl-link {
    height: 3.125rem;
  }
}

@media (max-width: 61.25em){
  .btn-search .sbt-label{
    display: none!important;
  }
}

// head

.mdl-title {
  display: block;
  padding: 1rem 1.125rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: $white;
}

// more, right column & foot

.mdl-link {
  display: block;
  overflow: hidden;
  padding: 1.0625rem 1.25rem;
  line-height: 1.1875rem;
  outline: 0;
  font-size: 0.9375rem;
  font-weight: bold;
}

.mdl-link.icon-chevron-right-bis:before, .mdl-link.icon-chevron-bas:before {
  float: right;
  margin: 0 0 0 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

// border

.mdl-bvl-heavy {
   border-width: 1px .25rem .25rem 1px;
   border-style: solid;
   border-radius: 0 .25rem;
 }

.mdl-bvl-thin {
  border-style: solid;
  border-width: 1px;
}

.bo-top {
  border-width: 1px 0 0;
  border-style: solid;
}

// partner

.g-flr {
  float: right;
}

.partner-mdl {
  position: relative;
  margin-bottom: 1.25rem;
}

.widget-feature-header {
  border-bottom: .25rem solid;
  position: relative;
  height: 7.5625rem;
  padding: .9375rem;
  border-radius: 0 0 0 .25rem;
}

.widget-feature-header .link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: .9375rem;
  color: inherit;
}

.widget-feature-header .main-icon {
  left: .9375rem;
}

.widget-feature-header .main-logo {
  right: .9375rem;
}

.widget-feature-header .main-icon, .widget-feature-header .main-logo {
  display: block;
  position: absolute;
  bottom: .9375rem;
}

.widget-feature-content {
  overflow: hidden;
}

.widget-feature-figure {
  width: 100%;
  display: block;
  position: relative;
}

.widget-feature-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.ph-figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: .75rem;
}

.partner-mdl, .ph-figcaption, .ph-info, .ph-info .what, .ph-info .where, .ph-date, .ph-time {
  display: block;
}

.kel-info, .kel-search, .kel-submit, .ph-figcaption, .ph-info, .ps-position, .ps-value {
  text-align: center;
}

.ph-date {
  font-size: .875rem;
}

.ph-time {
  font-size: 2rem;
}

.ph-info {
  overflow: hidden;
  width: 100%;
  height: 5.8125rem;
}

.ph-info .what {
  margin-bottom: .3125rem;
  font-size: 1.25rem;
}

.explorimmo-info .where, .job-contract, .job-title, .ph-date, .ph-info .what, .ps-date, .ps-team {
  font-weight: 700;
}

.ph-table {
  display: table;
  width: 100%;
  height: 100%;
}

.ph-cell {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 41.3125em) {
  .mdl-fix .widget-feature-header {
    height: 7.4375rem;
    overflow: hidden;
  }

  .mdl-fix .widget-feature-content {
    height: 18.1875rem;
  }

  .mdl-fix .partner-mdl .widget-feature-content {
    height: 18.375rem;
  }
}

@media (max-width: 41.25em) {
  .widget-feature-img {
    width: 100%;
  }
}

@media (max-width: 61.25em) {
  .mqm-g-col6 {
    width: 50%;
  }

  .mqm-g-col1, .mqm-g-col3, .mqm-g-col4, .mqm-g-col6, .mqm-g-col8, .mqm-g-col9 {
    float: left;
    clear: none;
  }

  .mqm-g-flr {
    float: right;
  }
}

/* -- BUTTONS -- */

.btn-action {
  display: inline-block;
  padding: .375rem 1.25rem;
  font-size: .8125rem;
  letter-spacing: 1px;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-image: none;
}

.uppercase {
  text-transform: uppercase;
}

.btn-link {
  display: block;
  padding: 0 .625rem;
  line-height: 2.1875rem;
  font-size: .8125rem;
  position: relative;
  text-align: center;
}

.btn-link.icon-chevron-left-bis:before {
  line-height: inherit;
  font-size: 1.6875rem;
}

.btn-link.icon:before {
  vertical-align: top;
  margin: 0 .375rem;
  font-variant: normal;
  text-transform: none;
}

.timeline-refresh {
  position: relative;
  float: left;
}

.btn-grey {
  display: inline-block;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.75rem;
  border: 0;
  outline: 0;
  background-image: none;
  width: 8.75rem;
  padding: 0 .3125rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-grey:before {
  line-height: inherit!important;
  font-size: 1.3125rem;
}

.btn-grey.icon:before {
  vertical-align: top;
  margin: 0 .375rem;
  font-variant: normal;
  text-transform: none;
}

.timeline-notifier {
  position: absolute;
  top: -.9375rem;
  left: 7.875rem;
  padding: .25rem .625rem;
  font-size: 0.875rem;
  border-radius: 1.5625rem;
}

/*.timeline-notifier-rtl {
  position: absolute;
  top: -.9375rem;
  left: 7.875rem;
  padding: .25rem .625rem;
  border-radius: 1.5625rem;
  font-size: 1.125rem;
  font-family: $lato-regular;
}

.timeline-notifier-rtl2 {
  position: absolute;
  top: -.9375rem;
  left: 7.875rem;
  padding: .25rem .625rem;
  border-radius: 1.5625rem;
  font-family: $lato-regular;
  font-size: 0.875rem;
  border: 3px solid #F5F4F3;
}

.timeline-notifier-fun {
  position: absolute;
  top: -.9375rem;
  left: 7.875rem;
  padding: .25rem .625rem;
  font-family: $lato-regular;
  font-size: 0.875rem;
  border-radius: 99%;
  border: 3px solid #F8F8F8;
}*/

.timeline-notifier.highlight {
  -webkit-animation: notif-highlight 2.3s infinite;
  animation: notif-highlight 2.3s infinite;
}

.song-tool {
  position:relative;
  float:right;
  min-width: 9.5rem;
  height: 3.375rem;
  padding: 0 .5625rem 0 .25rem;
}

.song-tool:hover .toggler/*,
.song-tool .toggler*/{
  display:none;
}

.song-partner {
  display: block;
  float: left;
  line-height: 3.375rem;
  padding-left: .375rem;
}

.partner-pic {
  display: inline-block;
  vertical-align: middle;
}

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .625rem .8125rem;
  z-index: 1;
  font-weight: 700;
  font-size: .875rem;
  text-align: right;
}

.toggler:before {
  float: left;
  color: $white;
  font-size: 2rem;
}

.toggler.icon:before {
  vertical-align: top;
  margin: 0 .375rem;
  font-variant: normal;
  text-transform: none;
}

.img-echo {
  background: url(http://static.rtl.fr/versions/www/3.0.344/img/loader.gif) center center no-repeat;
}

.g-row, .g-row:after {
  clear: both;
}

.sbt-input{
  border: 0;
  padding: 0 1rem;
  font-size: 0.75rem;
  min-height: 2.1875rem;
  text-align: center;
}

.btn-search .sbt-label,
.btn-search .sbt-input{
  display: table;
  float: left;
  text-align: center;
  vertical-align: middle;
  border: 0;
  padding: 0 0.625rem;
  width: 3.75rem;
  height: 3.75rem;
  cursor: pointer;
}
.btn-search .sbt-input{
  overflow: hidden;
  line-height: 3.75rem;
}

.btn-search .sbt-input .icon-ff:before{
  font-size: 2rem;
  line-height: inherit;
  margin: 0;
}

.btn-search .sbt-label{
  font-size: 0.875rem;
  width: 8.75rem;
  line-height: 3.75rem;
}

.btn-search .sbt-input .no-ff{
  display: none;
}

/* -- ARTICLE -- */

.item-list {
  display: block;
  position: relative;
  padding: 0;
  list-style: none;
}

.item-list .item {
  font-size: .9325rem;
  display: block;
  position: relative;
  vertical-align: top;
  padding: 0 0 0 1.25rem;
  margin-bottom: .75rem;
}

.item-list .item:before {
  position: absolute;
  top: .1875rem;
  left: 0;
  width: .625rem;
  height: .625rem;
  content: "";
}

.footer-section {
  /*padding: 1.5625rem;*/
  line-height: 1.5625rem;
  font-size: .9375rem;
  text-align: center;
}

.footer-section .link {
  color: inherit;
  font-weight: 700;
}

.footer-section .link:after, .footer-section .link:before {
  line-height: inherit;
  font-size: 2rem;
}

.link.icon:before {
  float: right;
  vertical-align: top;
  margin: 0 .375rem;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
}

// flag

.flag-fix {
  z-index: 1;
  right: -.1875rem;
  max-width: 35%;
  position: absolute;
  top: .625rem;
  display: block;
}

.flag-fix .flag {
  position: relative;
  display: block;
  height: 3.125rem;
  line-height: 2.9375rem;
  letter-spacing: 1px;
  padding: 0 .3125rem 0 .625rem;
  border-right: .3125rem solid;
}

.flag-fix .flag:before {
  position: absolute;
  z-index: -1;
  top: -.1875rem;
  right: -.3125rem;
  bottom: -.1875rem;
  width: .1875rem;
  border-radius: 0 3px 3px 0;
}

.flag-fix .flag:after {
  position: absolute;
  left: -.4375rem;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-.1deg);
  -moz-transform: rotate(-.1deg);
  -ms-transform: rotate(-.1deg);
  -o-transform: rotate(-.1deg);
  transform: rotate(-.1deg);
  border-top: 1.5625rem solid;
  border-bottom: 1.5625rem solid;
  border-left: .5rem solid transparent;
}

/* RTL */
.flag-fix .bo-rtl-blue {
  border-color: $rtl-blue-dark;
}

.flag-fix .bo-rtl-blue:before {
  background-color: $rtl-blue-darker;
}

.flag-fix .bo-rtl-blue:after {
  border-top-color: $rtl-blue;
  border-bottom-color: $rtl-blue;
}

.flag-fix .bo-rtl-green {
  border-color: $rtl-green-dark;
}

.flag-fix .bo-rtl-green:before {
  background-color: $rtl-green-darker;
}

.flag-fix .bo-rtl-green:after {
  border-top-color: $rtl-green;
  border-bottom-color: $rtl-green;
}

.flag-fix .bo-rtl-red {
  border-color: $rtl-red;
}

.flag-fix .bo-rtl-red:before {
  background-color: $rtl-red-dark;
}

.flag-fix .bo-rtl-red:after {
  border-top-color: $rtl-red;
  border-bottom-color: $rtl-red;
}

.flag-fix .bo-rtl-grey {
  border-color: $rtl-grey;
}

.flag-fix .bo-rtl-grey:before {
  background-color: $rtl-grey-matt;
}

.flag-fix .bo-rtl-grey:after {
  border-top-color: $rtl-grey;
  border-bottom-color: $rtl-grey;
}

/* RTL2 */
.flag-fix .bo-rtl2-gold {
  border-color: $rtl2-gold;
}

.flag-fix .bo-rtl2-gold:before {
  background-color: $rtl2-gold-dark;
}

.flag-fix .bo-rtl2-gold:after {
  border-top-color: $rtl2-gold;
  border-bottom-color: $rtl2-gold;
}

.flag-fix .bo-rtl2-red {
  border-color: $rtl2-red;
}

.flag-fix .bo-rtl2-red:before {
  background-color: $rtl2-red-dark;
}

.flag-fix .bo-rtl2-red:after {
  border-top-color: $rtl2-red;
  border-bottom-color: $rtl2-red;
}

/* Funradio */
.flag-fix .bo-fun-pink {
  border-color: $fun-pink;
}

.flag-fix .bo-fun-pink:before {
  background-color: $fun-pink-dark;
}

.flag-fix .bo-fun-pink:after {
  border-top-color: $fun-pink;
  border-bottom-color: $fun-pink;
}

.flag-fix .bo-fun-blue {
  border-color: $fun-blue;
}

.flag-fix .bo-fun-blue:before {
  background-color: $fun-blue-dark;
}

.flag-fix .bo-fun-blue:after {
  border-top-color: $fun-blue;
  border-bottom-color: $fun-blue;
}

/* Girls */
.flag-fix .bo-girls-nude {
  border-color: $girls-nude;
}

.flag-fix .bo-girls-nude:before {
  background-color: $girls-nude-dark;
}

.flag-fix .bo-girls-nude:after {
  border-top-color: $girls-nude;
  border-bottom-color: $girls-nude;
}

.flag-fix .bo-girls-brown {
  border-color: $girls-brown;
}

.flag-fix .bo-girls-brown:before {
  background-color: $girls-brown-darker;
}

.flag-fix .bo-girls-brown:after {
  border-top-color: $girls-brown;
  border-bottom-color: $girls-brown;
}

.flag-fix .bo-girls-blue {
  border-color: $girls-blue;
}

.flag-fix .bo-girls-blue:before {
  background-color: $girls-blue-dark;
}

.flag-fix .bo-girls-blue:after {
  border-top-color: $girls-blue;
  border-bottom-color: $girls-blue;
}

.flag-fix .bo-girls-green {
  border-color: $girls-green;
}

.flag-fix .bo-girls-green:before {
  background-color: $girls-green-dark;
}

.flag-fix .bo-girls-green:after {
  border-top-color: $girls-green;
  border-bottom-color: $girls-green;
}

.flag-fix .align {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.0625rem;
  max-height: 3.125rem;
  overflow: hidden;
  width: 100%;
  margin-top: -.25rem;
}

.flag-fix .bold {
  display: block;
  font-weight: 700;
}

// tag

.tag-topic {
  display: block;
  position: absolute;
  top: .625rem;
  left: .625rem;
  max-width: 60%;
  padding: .125rem .25rem;
}

.tag-topic .tag {
  display: block;
  min-height: 1.125rem;
  font-size: .825rem;
  color: inherit;
}

// small article

.page-wrap {
  max-width: 80rem;
  margin: 0 auto;
}

.g-row {
  width: 100%;
}

.g-row:before, .g-row:after, .flag-fix .flag:after, .flag-fix .flag:before {
  content: "";
}

.g-row:after, .g-row:before {
  display: table;
}

.g-col3 {
  width: 25%;
}

.g-col1, .g-col3, .g-col4, .g-col6, .g-col8, .g-col9 {
  float: left;
  clear: none;
}

.g-gutter {
  padding-left: .625rem;
  padding-right: .625rem;
}

.post-hat, .post-link, .post-list, .post-list:after, .post-pic, .post-preview, .post-title {
  display: block;
}

.post-fig, .post-preview {
  position: relative;
}

.post-fig .btn-replay {
  position: absolute;
  max-width: 45%;
  overflow: hidden;
  white-space: nowrap;
  right: .625rem;
  bottom: .3125rem;
  text-shadow: 0 1px 1px $black-lighter;
}

.post-fig {
  min-height: 3.9375rem;
  border-style: solid;
  border-width: 0 0 .5rem;
}

.btn-text {
  display: inline-block;
  vertical-align: top;
}

.btn-text:before {
  display: block!important;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
}

.post-link {
  overflow: hidden;
}

.post-pic {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.post-texts {
  overflow: hidden;
  padding-top: 1.25rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

.bottom-tool-fix {
  padding-bottom: 3.4375rem;
}

.post-texts.text-small .post-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.post-hat, .post-texts.text-small .post-title, .post-title {
  margin-bottom: 1rem;
}

.post-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  margin-top: 0;
}

.post-hat {
  font-size: .875rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

.post-preview .social-tool {
  padding: 0 0 0 1rem;
}

.post-preview .mdl-link, .post-preview .social-tool, .post-preview .sponsor-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.post-preview .post-texts .icon-play, .post-preview .post-texts .icon-play2 {
  display: none;
}

.social-tool {
  overflow: hidden;
  padding: 0 .25rem;
  height: 3.1875rem;
}

.social-tool .item:first-child {
  border-left: 0;
}

.social-tool .item {
  display: block;
  float: left;
  height: 3.1875rem;
  vertical-align: top;
  padding: .4375rem .75rem 0;
  text-align: center;
  border-left: 1px solid $grey-light;
}

.social-tool .icon {
  padding-top: 0;
}

.social-tool .num {
  display: block;
  font-size: 1.125rem;
  line-height: 1.25rem;
  text-align: center;
}

.social-tool .icon:before {
  margin: 0;
  line-height: inherit;
  font-size: 1.5rem;
}

.social-tool .text {
  display: block;
  font-size: .6875rem;
}

.social-tool .icon-play, .social-tool .icon-play2 {
  background-color: transparent;
  float: none;
  overflow: hidden;
  line-height: 3.1875rem;
}

.social-tool .icon {
  padding-top: 0;
}

.social-tool .icon-play:before, .social-tool .icon-play2:before {
  font-size: 3rem;
  line-height: inherit;
}

@media (min-width: 41.3125em) {
  .post-preview {
    height: 29.375rem;
  }

  .mdl-fix .post-preview .text-small .post-title, .mdl-fix .post-preview.row-layout .post-title, .mdl-fix .post-preview.xs-layout .post-title {
    max-height: 4.5rem;
  }

  .mdl-fix .post-preview .list-item, .mdl-fix .post-preview .post-hat, .mdl-fix .post-preview .post-title, .mdl-fix .post-preview .text-small .post-title {
    overflow: hidden;
  }

  .mdl-fix .post-preview .post-title {
    max-height: 6.9375rem;
  }

  .mdl-fix .post-preview .post-hat {
    max-height: 4.375rem;
  }
}

@media (max-width: 81.25em) {
  .mql-g-col4 {
    width: 33.3%;
  }

  .mql-g-col1, .mql-g-col3, .mql-g-col4, .mql-g-col6, .mql-g-col8, .mql-g-col9 {
    float: left;
    clear: none;
  }

  .page-wrap {
    max-width: 60rem;
  }
}

@media (max-width: 61.25em) {
  .mqm-g-col12 {
    width: 100%;
    float: none;
    clear: both;
  }

  .page-wrap {
    max-width: 40rem;
  }
}

@media (max-width: 61.25em) and (min-width: 41.3125em) {
  .mdl-fix .post-preview.mqm-row-layout {
    height: auto;
  }

  .post-preview.mqm-row-layout .post-fig, .post-preview.mqm-row-layout .post-fig.brd, .post-preview.mqm-xs-layout .post-fig, .post-preview.mqm-xs-layout .post-fig.brd {
    border: 0;
  }

  .post-preview.mqm-row-layout .post-fig {
    float: left;
    width: 50%;
    max-width: 20.625rem;
  }

  .post-preview.mqm-row-layout .post-pic {
    display: block;
    max-width: none;
    margin: 0;
  }

  .post-preview.mqm-row-layout .post-texts {
    padding-top: .75rem;
  }

  .mdl-fix .post-preview.mqm-row-layout .post-title, .mdl-fix .post-preview.mqm-xs-layout .post-title {
    max-height: 4.5rem;
  }

  .post-preview.mqm-row-layout .post-title, .post-preview.mqm-xs-layout .post-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .post-preview.mqm-row-layout .post-title {
    margin-bottom: .375rem;
  }

  .mdl-fix .post-preview.mqm-row-layout .bullet-list.mdl-link-push, .post-preview.mqm-row-layout .post-hat {
    margin-bottom: 0;
  }

  .post-preview.mqm-row-layout .post-hat, .post-preview.mqm-row-layout .post-list, .post-preview.mqm-xs-layout .post-texts .icon-play, .post-preview.mqm-xs-layout .post-texts .icon-play2 {
    display: block;
  }

  .post-preview.mqm-row-layout .social-tool {
    left: auto;
    right: auto;
  }
}

@media (max-width: 41.25em) {
  .page-wrap {
    max-width: 32.1875rem;
  }

  .g-col1, .g-col12, .g-col3, .g-col4, .g-col6, .g-col8, .g-col9 {
    float: none;
    clear: both;
    width: 100%;
  }

  .post-preview.mqs-xs-layout .post-fig, .post-preview.mqs-xs-layout .post-fig.brd {
    border: 0;
  }

  .post-preview.mqs-xs-layout .btn-replay, .post-preview.mqs-xs-layout .post-hat, .post-preview.mqs-xs-layout .post-list, .post-preview.mqs-xs-layout .post-pic, .post-preview.mqs-xs-layout .tag-partner {
    display: none;
  }

  .post-preview .post-pic, .post-preview.row-layout .post-pic {
    max-width: none;
    width: 100%;
    margin: 0;
  }

  .post-preview.mqs-xs-layout .post-texts {
    padding-top: .75rem;
  }

  .post-preview.mqs-xs-layout .post-title {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  .post-preview.row-layout .post-title, .post-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .post-preview.row-layout .post-hat, .post-preview.row-layout .post-title, .post-title {
    margin-bottom: 1rem;
  }

  .post-preview.mqs-xs-layout .social-tool {
    border-top: 1px solid $grey-light;
  }

  .post-preview.mqs-xs-layout .post-texts .icon-play, .post-preview.mqs-xs-layout .post-texts .icon-play2 {
    display: block;
  }
}








