
@import 'functions';

/* MediaQueries
----------------------------------------- */
$media-queries: true !default;

$media-queries-small   : px-to-rem(660px) !default;  // 640px  2cols size + 20px scrollbar size
$media-queries-medium  : px-to-rem(980px) !default;  // 960px  3cols size + 20px scrollbar size
$media-queries-large   : px-to-rem(1300px) !default; // 1280px 4cols size + 20px scrollbar size

/* Website Gutters - Left:10px - Between Modules:20px - Right:10px
----------------------------------------- */
$website-horizontal-gutters: 0.625rem;

/* Main Header heights
----------------------------------------- */
$main-nav-height: px-to-rem(66px);
$main-mq-small-nav-height: px-to-rem(48px);
$main-subnav-height: px-to-rem(38px);
$main-mq-small-subnav-height: px-to-rem(30px);
$main-uppernav-height: px-to-rem(34px);