@font-face {
    font-family: "Kawabunga-Amp-Icon";
    src: url('../font/Kawabunga-Amp-Icon.eot');
    src: url('../font/Kawabunga-Amp-Icon.eot?#iefix') format('eot'),
    url('../font/Kawabunga-Amp-Icon.woff') format('woff'),
    url('../font/Kawabunga-Amp-Icon.woff2') format('woff2'),
    url('../font/Kawabunga-Amp-Icon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-amp:before {
                     display: inline-block;
                     font-family: "Kawabunga-Amp-Icon";
                     font-style: normal;
                     font-weight: normal;
                     line-height: 1;
                     vertical-align: top;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.icon-amp-lg {
                     font-size: 2.3333333333333333rem;
                     line-height: 0.75rem;
                     vertical-align: -15%;
                 }
.icon-amp-2x { font-size: 2rem; }
.icon-amp-3x { font-size: 3rem; }
.icon-amp-4x { font-size: 4rem; }
.icon-amp-5x { font-size: 5rem; }
.icon-amp-fw {
                     width: 1.2857142857142858rem;
                     text-align: center;
                 }

.icon-amp-funradio-logo:before { content: "\EA01" }
.icon-amp-funradio-square:before { content: "\EA02" }
.icon-amp-girls-logo-new:before { content: "\EA03" }
.icon-amp-girls-logo:before { content: "\EA04" }
.icon-amp-girls-square:before { content: "\EA05" }
.icon-amp-orlc-logo:before { content: "\EA06" }
.icon-amp-rtl-logo:before { content: "\EA07" }
.icon-amp-rtl-square:before { content: "\EA08" }
.icon-amp-rtl2-logo-alt:before { content: "\EA09" }
.icon-amp-rtl2-logo:before { content: "\EA0A" }
.icon-amp-arrow-right-circle:before { content: "\EA0B" }
.icon-amp-clock:before { content: "\EA0C" }
.icon-amp-close:before { content: "\EA0D" }
.icon-amp-home:before { content: "\EA0E" }
.icon-amp-menu-hamburger:before { content: "\EA0F" }
.icon-amp-mini-logo-futur:before { content: "\EA10" }
.icon-amp-mini-logo-girls:before { content: "\EA11" }
.icon-amp-mini-logo-super:before { content: "\EA12" }
.icon-amp-out:before { content: "\EA13" }
.icon-amp-play-circle-leaning:before { content: "\EA14" }
.icon-amp-play-circle:before { content: "\EA15" }
.icon-amp-play:before { content: "\EA16" }
.icon-amp-quote-end:before { content: "\EA17" }
.icon-amp-quote-start:before { content: "\EA18" }
.icon-amp-quote-v2:before { content: "\EA19" }
.icon-amp-search-v2:before { content: "\EA1A" }
.icon-amp-search:before { content: "\EA1B" }
.icon-amp-user:before { content: "\EA1C" }
.icon-amp-facebook-like:before { content: "\EA1D" }
.icon-amp-facebook-message:before { content: "\EA1E" }
.icon-amp-facebook-share:before { content: "\EA1F" }
.icon-amp-facebook-sign:before { content: "\EA20" }
.icon-amp-facebook-square-alt:before { content: "\EA21" }
.icon-amp-facebook-square:before { content: "\EA22" }
.icon-amp-facebook:before { content: "\EA23" }
.icon-amp-googleplus-sign:before { content: "\EA24" }
.icon-amp-googleplus-square:before { content: "\EA25" }
.icon-amp-googleplus:before { content: "\EA26" }
.icon-amp-instagram-like:before { content: "\EA27" }
.icon-amp-instagram-sign:before { content: "\EA28" }
.icon-amp-instagram-square:before { content: "\EA29" }
.icon-amp-instagram:before { content: "\EA2A" }
.icon-amp-linkedin-sign:before { content: "\EA2B" }
.icon-amp-linkedin-square:before { content: "\EA2C" }
.icon-amp-linkedin:before { content: "\EA2D" }
.icon-amp-pinterest-sign:before { content: "\EA2E" }
.icon-amp-pinterest-square:before { content: "\EA2F" }
.icon-amp-pinterest:before { content: "\EA30" }
.icon-amp-sms:before { content: "\EA31" }
.icon-amp-snapchat-sign:before { content: "\EA32" }
.icon-amp-snapchat-square:before { content: "\EA33" }
.icon-amp-snapchat:before { content: "\EA34" }
.icon-amp-twitter-sign:before { content: "\EA35" }
.icon-amp-twitter-square:before { content: "\EA36" }
.icon-amp-twitter:before { content: "\EA37" }
.icon-amp-youtube-sign:before { content: "\EA38" }
.icon-amp-youtube-square:before { content: "\EA39" }
.icon-amp-youtube:before { content: "\EA3A" }


/*
 * mixins
 */
@mixin icon-amp-funradio-logo() { content: "\EA01" }
@mixin icon-amp-funradio-square() { content: "\EA02" }
@mixin icon-amp-girls-logo-new() { content: "\EA03" }
@mixin icon-amp-girls-logo() { content: "\EA04" }
@mixin icon-amp-girls-square() { content: "\EA05" }
@mixin icon-amp-orlc-logo() { content: "\EA06" }
@mixin icon-amp-rtl-logo() { content: "\EA07" }
@mixin icon-amp-rtl-square() { content: "\EA08" }
@mixin icon-amp-rtl2-logo-alt() { content: "\EA09" }
@mixin icon-amp-rtl2-logo() { content: "\EA0A" }
@mixin icon-amp-arrow-right-circle() { content: "\EA0B" }
@mixin icon-amp-clock() { content: "\EA0C" }
@mixin icon-amp-close() { content: "\EA0D" }
@mixin icon-amp-home() { content: "\EA0E" }
@mixin icon-amp-menu-hamburger() { content: "\EA0F" }
@mixin icon-amp-mini-logo-futur() { content: "\EA10" }
@mixin icon-amp-mini-logo-girls() { content: "\EA11" }
@mixin icon-amp-mini-logo-super() { content: "\EA12" }
@mixin icon-amp-out() { content: "\EA13" }
@mixin icon-amp-play-circle-leaning() { content: "\EA14" }
@mixin icon-amp-play-circle() { content: "\EA15" }
@mixin icon-amp-play() { content: "\EA16" }
@mixin icon-amp-quote-end() { content: "\EA17" }
@mixin icon-amp-quote-start() { content: "\EA18" }
@mixin icon-amp-quote-v2() { content: "\EA19" }
@mixin icon-amp-search-v2() { content: "\EA1A" }
@mixin icon-amp-search() { content: "\EA1B" }
@mixin icon-amp-user() { content: "\EA1C" }
@mixin icon-amp-facebook-like() { content: "\EA1D" }
@mixin icon-amp-facebook-message() { content: "\EA1E" }
@mixin icon-amp-facebook-share() { content: "\EA1F" }
@mixin icon-amp-facebook-sign() { content: "\EA20" }
@mixin icon-amp-facebook-square-alt() { content: "\EA21" }
@mixin icon-amp-facebook-square() { content: "\EA22" }
@mixin icon-amp-facebook() { content: "\EA23" }
@mixin icon-amp-googleplus-sign() { content: "\EA24" }
@mixin icon-amp-googleplus-square() { content: "\EA25" }
@mixin icon-amp-googleplus() { content: "\EA26" }
@mixin icon-amp-instagram-like() { content: "\EA27" }
@mixin icon-amp-instagram-sign() { content: "\EA28" }
@mixin icon-amp-instagram-square() { content: "\EA29" }
@mixin icon-amp-instagram() { content: "\EA2A" }
@mixin icon-amp-linkedin-sign() { content: "\EA2B" }
@mixin icon-amp-linkedin-square() { content: "\EA2C" }
@mixin icon-amp-linkedin() { content: "\EA2D" }
@mixin icon-amp-pinterest-sign() { content: "\EA2E" }
@mixin icon-amp-pinterest-square() { content: "\EA2F" }
@mixin icon-amp-pinterest() { content: "\EA30" }
@mixin icon-amp-sms() { content: "\EA31" }
@mixin icon-amp-snapchat-sign() { content: "\EA32" }
@mixin icon-amp-snapchat-square() { content: "\EA33" }
@mixin icon-amp-snapchat() { content: "\EA34" }
@mixin icon-amp-twitter-sign() { content: "\EA35" }
@mixin icon-amp-twitter-square() { content: "\EA36" }
@mixin icon-amp-twitter() { content: "\EA37" }
@mixin icon-amp-youtube-sign() { content: "\EA38" }
@mixin icon-amp-youtube-square() { content: "\EA39" }
@mixin icon-amp-youtube() { content: "\EA3A" }