@font-face {
    font-family: "Kawabunga-Icon";
    src: url('../font/Kawabunga-Icon.eot');
    src: url('../font/Kawabunga-Icon.eot?#iefix') format('eot'),
    url('../font/Kawabunga-Icon.woff') format('woff'),
    url('../font/Kawabunga-Icon.woff2') format('woff2'),
    url('../font/Kawabunga-Icon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
                     display: inline-block;
                     font-family: "Kawabunga-Icon";
                     font-style: normal;
                     font-weight: normal;
                     line-height: 1;
                     vertical-align: top;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.icon-lg {
                     font-size: 2.3333333333333333rem;
                     line-height: 0.75rem;
                     vertical-align: -15%;
                 }
.icon-2x { font-size: 2rem; }
.icon-3x { font-size: 3rem; }
.icon-4x { font-size: 4rem; }
.icon-5x { font-size: 5rem; }
.icon-fw {
                     width: 1.2857142857142858rem;
                     text-align: center;
                 }

.icon-funradio-club-alt:before { content: "\EA01" }
.icon-funradio-club:before { content: "\EA02" }
.icon-funradio-logo-alt:before { content: "\EA03" }
.icon-funradio-logo:before { content: "\EA04" }
.icon-funradio-square:before { content: "\EA05" }
.icon-girls-logo-alt:before { content: "\EA06" }
.icon-girls-logo-new:before { content: "\EA07" }
.icon-girls-logo:before { content: "\EA08" }
.icon-girls-square:before { content: "\EA09" }
.icon-ipfrance-logo:before { content: "\EA0A" }
.icon-mediapanel-logo:before { content: "\EA0B" }
.icon-orlc-logo-mini:before { content: "\EA0C" }
.icon-orlc-logo:before { content: "\EA0D" }
.icon-pmu-logo:before { content: "\EA0E" }
.icon-rtl-club-alt:before { content: "\EA0F" }
.icon-rtl-club:before { content: "\EA10" }
.icon-rtl-logo:before { content: "\EA11" }
.icon-rtl-square:before { content: "\EA12" }
.icon-rtl2-logo-alt:before { content: "\EA13" }
.icon-rtl2-logo-alt2:before { content: "\EA14" }
.icon-rtl2-logo-alt3:before { content: "\EA15" }
.icon-rtl2-logo:before { content: "\EA16" }
.icon-astro-balance:before { content: "\EA17" }
.icon-astro-belier:before { content: "\EA18" }
.icon-astro-cancer:before { content: "\EA19" }
.icon-astro-capricorne:before { content: "\EA1A" }
.icon-astro-gemeaux:before { content: "\EA1B" }
.icon-astro-lion:before { content: "\EA1C" }
.icon-astro-poissons:before { content: "\EA1D" }
.icon-astro-sagittaire:before { content: "\EA1E" }
.icon-astro-scorpion:before { content: "\EA1F" }
.icon-astro-taureau:before { content: "\EA20" }
.icon-astro-verseau:before { content: "\EA21" }
.icon-astro-vierge:before { content: "\EA22" }
.icon-meteo-p0:before { content: "\EA23" }
.icon-meteo-p1:before { content: "\EA24" }
.icon-meteo-p10:before { content: "\EA25" }
.icon-meteo-p11:before { content: "\EA26" }
.icon-meteo-p11n:before { content: "\EA27" }
.icon-meteo-p12:before { content: "\EA28" }
.icon-meteo-p13:before { content: "\EA29" }
.icon-meteo-p13n:before { content: "\EA2A" }
.icon-meteo-p14:before { content: "\EA2B" }
.icon-meteo-p15:before { content: "\EA2C" }
.icon-meteo-p16:before { content: "\EA2D" }
.icon-meteo-p17:before { content: "\EA2E" }
.icon-meteo-p1n:before { content: "\EA2F" }
.icon-meteo-p2:before { content: "\EA30" }
.icon-meteo-p2n:before { content: "\EA31" }
.icon-meteo-p3:before { content: "\EA32" }
.icon-meteo-p3n:before { content: "\EA33" }
.icon-meteo-p4:before { content: "\EA34" }
.icon-meteo-p4n:before { content: "\EA35" }
.icon-meteo-p5:before { content: "\EA36" }
.icon-meteo-p5n:before { content: "\EA37" }
.icon-meteo-p6:before { content: "\EA38" }
.icon-meteo-p7:before { content: "\EA39" }
.icon-meteo-p7n:before { content: "\EA3A" }
.icon-meteo-p8:before { content: "\EA3B" }
.icon-meteo-p9:before { content: "\EA3C" }
.icon-meteo-wind:before { content: "\EA3D" }
.icon-analyze:before { content: "\EA3E" }
.icon-barn:before { content: "\EA3F" }
.icon-horse-profile:before { content: "\EA40" }
.icon-horserace-flat-2:before { content: "\EA41" }
.icon-horserace-flat:before { content: "\EA42" }
.icon-horserace-harness:before { content: "\EA43" }
.icon-horserace-obstacle:before { content: "\EA44" }
.icon-horserace-trot:before { content: "\EA45" }
.icon-horsewhip:before { content: "\EA46" }
.icon-laurel:before { content: "\EA47" }
.icon-level-crack:before { content: "\EA48" }
.icon-level-etalon:before { content: "\EA49" }
.icon-level-foal:before { content: "\EA4A" }
.icon-level-miler:before { content: "\EA4B" }
.icon-level-poney:before { content: "\EA4C" }
.icon-level-poulain:before { content: "\EA4D" }
.icon-level-pursang:before { content: "\EA4E" }
.icon-level-stayer:before { content: "\EA4F" }
.icon-level-yearling:before { content: "\EA50" }
.icon-winner:before { content: "\EA51" }
.icon-answer:before { content: "\EA52" }
.icon-arrow-bottom:before { content: "\EA53" }
.icon-arrow-curve:before { content: "\EA54" }
.icon-arrow-down-circle:before { content: "\EA55" }
.icon-arrow-down-light:before { content: "\EA56" }
.icon-arrow-down:before { content: "\EA57" }
.icon-arrow-left-circle:before { content: "\EA58" }
.icon-arrow-left-light:before { content: "\EA59" }
.icon-arrow-left-sign:before { content: "\EA5A" }
.icon-arrow-left:before { content: "\EA5B" }
.icon-arrow-menu-down:before { content: "\EA5C" }
.icon-arrow-right-circle:before { content: "\EA5D" }
.icon-arrow-right-light:before { content: "\EA5E" }
.icon-arrow-right-sign:before { content: "\EA5F" }
.icon-arrow-right:before { content: "\EA60" }
.icon-arrow-up-circle:before { content: "\EA61" }
.icon-arrow-up-light:before { content: "\EA62" }
.icon-arrow-up:before { content: "\EA63" }
.icon-betting:before { content: "\EA64" }
.icon-buy-music:before { content: "\EA65" }
.icon-calendar:before { content: "\EA66" }
.icon-check-circle:before { content: "\EA67" }
.icon-check:before { content: "\EA68" }
.icon-clock-v2:before { content: "\EA69" }
.icon-clock-v3:before { content: "\EA6A" }
.icon-clock:before { content: "\EA6B" }
.icon-close-circle:before { content: "\EA6C" }
.icon-close-sign:before { content: "\EA6D" }
.icon-close:before { content: "\EA6E" }
.icon-comment-plus:before { content: "\EA6F" }
.icon-comment-square:before { content: "\EA70" }
.icon-comment:before { content: "\EA71" }
.icon-cup:before { content: "\EA72" }
.icon-date:before { content: "\EA73" }
.icon-departure:before { content: "\EA74" }
.icon-dices:before { content: "\EA75" }
.icon-distance:before { content: "\EA76" }
.icon-download:before { content: "\EA77" }
.icon-email:before { content: "\EA78" }
.icon-envelope-sign:before { content: "\EA79" }
.icon-envelope:before { content: "\EA7A" }
.icon-equalizer:before { content: "\EA7B" }
.icon-favorite:before { content: "\EA7C" }
.icon-folder:before { content: "\EA7D" }
.icon-fullscreen-off:before { content: "\EA7E" }
.icon-fullscreen:before { content: "\EA7F" }
.icon-gallery:before { content: "\EA80" }
.icon-giftbox:before { content: "\EA81" }
.icon-hamburger-menu:before { content: "\EA82" }
.icon-heart:before { content: "\EA83" }
.icon-hippodrome:before { content: "\EA84" }
.icon-home:before { content: "\EA85" }
.icon-info-circle:before { content: "\EA86" }
.icon-less-circle:before { content: "\EA87" }
.icon-like:before { content: "\EA88" }
.icon-list:before { content: "\EA89" }
.icon-location:before { content: "\EA8A" }
.icon-lock:before { content: "\EA8B" }
.icon-logout:before { content: "\EA8C" }
.icon-menu-hamburger:before { content: "\EA8D" }
.icon-menu:before { content: "\EA8E" }
.icon-mini-logo-futur:before { content: "\EA8F" }
.icon-mini-logo-girls:before { content: "\EA90" }
.icon-mini-logo-super:before { content: "\EA91" }
.icon-onair:before { content: "\EA92" }
.icon-out:before { content: "\EA93" }
.icon-pen:before { content: "\EA94" }
.icon-pin:before { content: "\EA95" }
.icon-play-circle-leaning:before { content: "\EA96" }
.icon-play-circle:before { content: "\EA97" }
.icon-play:before { content: "\EA98" }
.icon-plus-circle:before { content: "\EA99" }
.icon-print-square:before { content: "\EA9A" }
.icon-print-v2:before { content: "\EA9B" }
.icon-print:before { content: "\EA9C" }
.icon-profit:before { content: "\EA9D" }
.icon-pub:before { content: "\EA9E" }
.icon-question:before { content: "\EA9F" }
.icon-quote-end:before { content: "\EAA0" }
.icon-quote-left:before { content: "\EAA1" }
.icon-quote-start:before { content: "\EAA2" }
.icon-quote-v2:before { content: "\EAA3" }
.icon-quote:before { content: "\EAA4" }
.icon-race-name:before { content: "\EAA5" }
.icon-refresh:before { content: "\EAA6" }
.icon-replay:before { content: "\EAA7" }
.icon-retweet:before { content: "\EAA8" }
.icon-rss:before { content: "\EAA9" }
.icon-screen:before { content: "\EAAA" }
.icon-search-v2:before { content: "\EAAB" }
.icon-search:before { content: "\EAAC" }
.icon-seat:before { content: "\EAAD" }
.icon-send:before { content: "\EAAE" }
.icon-share:before { content: "\EAAF" }
.icon-sheet:before { content: "\EAB0" }
.icon-sound-v2:before { content: "\EAB1" }
.icon-sound:before { content: "\EAB2" }
.icon-specialty:before { content: "\EAB3" }
.icon-star-empty:before { content: "\EAB4" }
.icon-star:before { content: "\EAB5" }
.icon-stop:before { content: "\EAB6" }
.icon-tweet-star:before { content: "\EAB7" }
.icon-user:before { content: "\EAB8" }
.icon-video:before { content: "\EAB9" }
.icon-warning:before { content: "\EABA" }
.icon-world:before { content: "\EABB" }
.icon-zoom-sign:before { content: "\EABC" }
.icon-facebook-like:before { content: "\EABD" }
.icon-facebook-message:before { content: "\EABE" }
.icon-facebook-share:before { content: "\EABF" }
.icon-facebook-sign:before { content: "\EAC0" }
.icon-facebook-square-alt:before { content: "\EAC1" }
.icon-facebook-square:before { content: "\EAC2" }
.icon-facebook:before { content: "\EAC3" }
.icon-googleplus-sign:before { content: "\EAC4" }
.icon-googleplus-square:before { content: "\EAC5" }
.icon-googleplus:before { content: "\EAC6" }
.icon-instagram-like:before { content: "\EAC7" }
.icon-instagram-sign:before { content: "\EAC8" }
.icon-instagram-square:before { content: "\EAC9" }
.icon-instagram:before { content: "\EACA" }
.icon-linkedin-sign:before { content: "\EACB" }
.icon-linkedin-square:before { content: "\EACC" }
.icon-linkedin:before { content: "\EACD" }
.icon-pinterest-sign:before { content: "\EACE" }
.icon-pinterest-square:before { content: "\EACF" }
.icon-pinterest:before { content: "\EAD0" }
.icon-sms:before { content: "\EAD1" }
.icon-snapchat-sign:before { content: "\EAD2" }
.icon-snapchat-square:before { content: "\EAD3" }
.icon-snapchat:before { content: "\EAD4" }
.icon-twitter-sign:before { content: "\EAD5" }
.icon-twitter-square:before { content: "\EAD6" }
.icon-twitter:before { content: "\EAD7" }
.icon-youtube-sign:before { content: "\EAD8" }
.icon-youtube-square:before { content: "\EAD9" }
.icon-youtube:before { content: "\EADA" }


/*
 * mixins
 */
@mixin icon-funradio-club-alt() { content: "\EA01" }
@mixin icon-funradio-club() { content: "\EA02" }
@mixin icon-funradio-logo-alt() { content: "\EA03" }
@mixin icon-funradio-logo() { content: "\EA04" }
@mixin icon-funradio-square() { content: "\EA05" }
@mixin icon-girls-logo-alt() { content: "\EA06" }
@mixin icon-girls-logo-new() { content: "\EA07" }
@mixin icon-girls-logo() { content: "\EA08" }
@mixin icon-girls-square() { content: "\EA09" }
@mixin icon-ipfrance-logo() { content: "\EA0A" }
@mixin icon-mediapanel-logo() { content: "\EA0B" }
@mixin icon-orlc-logo-mini() { content: "\EA0C" }
@mixin icon-orlc-logo() { content: "\EA0D" }
@mixin icon-pmu-logo() { content: "\EA0E" }
@mixin icon-rtl-club-alt() { content: "\EA0F" }
@mixin icon-rtl-club() { content: "\EA10" }
@mixin icon-rtl-logo() { content: "\EA11" }
@mixin icon-rtl-square() { content: "\EA12" }
@mixin icon-rtl2-logo-alt() { content: "\EA13" }
@mixin icon-rtl2-logo-alt2() { content: "\EA14" }
@mixin icon-rtl2-logo-alt3() { content: "\EA15" }
@mixin icon-rtl2-logo() { content: "\EA16" }
@mixin icon-astro-balance() { content: "\EA17" }
@mixin icon-astro-belier() { content: "\EA18" }
@mixin icon-astro-cancer() { content: "\EA19" }
@mixin icon-astro-capricorne() { content: "\EA1A" }
@mixin icon-astro-gemeaux() { content: "\EA1B" }
@mixin icon-astro-lion() { content: "\EA1C" }
@mixin icon-astro-poissons() { content: "\EA1D" }
@mixin icon-astro-sagittaire() { content: "\EA1E" }
@mixin icon-astro-scorpion() { content: "\EA1F" }
@mixin icon-astro-taureau() { content: "\EA20" }
@mixin icon-astro-verseau() { content: "\EA21" }
@mixin icon-astro-vierge() { content: "\EA22" }
@mixin icon-meteo-p0() { content: "\EA23" }
@mixin icon-meteo-p1() { content: "\EA24" }
@mixin icon-meteo-p10() { content: "\EA25" }
@mixin icon-meteo-p11() { content: "\EA26" }
@mixin icon-meteo-p11n() { content: "\EA27" }
@mixin icon-meteo-p12() { content: "\EA28" }
@mixin icon-meteo-p13() { content: "\EA29" }
@mixin icon-meteo-p13n() { content: "\EA2A" }
@mixin icon-meteo-p14() { content: "\EA2B" }
@mixin icon-meteo-p15() { content: "\EA2C" }
@mixin icon-meteo-p16() { content: "\EA2D" }
@mixin icon-meteo-p17() { content: "\EA2E" }
@mixin icon-meteo-p1n() { content: "\EA2F" }
@mixin icon-meteo-p2() { content: "\EA30" }
@mixin icon-meteo-p2n() { content: "\EA31" }
@mixin icon-meteo-p3() { content: "\EA32" }
@mixin icon-meteo-p3n() { content: "\EA33" }
@mixin icon-meteo-p4() { content: "\EA34" }
@mixin icon-meteo-p4n() { content: "\EA35" }
@mixin icon-meteo-p5() { content: "\EA36" }
@mixin icon-meteo-p5n() { content: "\EA37" }
@mixin icon-meteo-p6() { content: "\EA38" }
@mixin icon-meteo-p7() { content: "\EA39" }
@mixin icon-meteo-p7n() { content: "\EA3A" }
@mixin icon-meteo-p8() { content: "\EA3B" }
@mixin icon-meteo-p9() { content: "\EA3C" }
@mixin icon-meteo-wind() { content: "\EA3D" }
@mixin icon-analyze() { content: "\EA3E" }
@mixin icon-barn() { content: "\EA3F" }
@mixin icon-horse-profile() { content: "\EA40" }
@mixin icon-horserace-flat-2() { content: "\EA41" }
@mixin icon-horserace-flat() { content: "\EA42" }
@mixin icon-horserace-harness() { content: "\EA43" }
@mixin icon-horserace-obstacle() { content: "\EA44" }
@mixin icon-horserace-trot() { content: "\EA45" }
@mixin icon-horsewhip() { content: "\EA46" }
@mixin icon-laurel() { content: "\EA47" }
@mixin icon-level-crack() { content: "\EA48" }
@mixin icon-level-etalon() { content: "\EA49" }
@mixin icon-level-foal() { content: "\EA4A" }
@mixin icon-level-miler() { content: "\EA4B" }
@mixin icon-level-poney() { content: "\EA4C" }
@mixin icon-level-poulain() { content: "\EA4D" }
@mixin icon-level-pursang() { content: "\EA4E" }
@mixin icon-level-stayer() { content: "\EA4F" }
@mixin icon-level-yearling() { content: "\EA50" }
@mixin icon-winner() { content: "\EA51" }
@mixin icon-answer() { content: "\EA52" }
@mixin icon-arrow-bottom() { content: "\EA53" }
@mixin icon-arrow-curve() { content: "\EA54" }
@mixin icon-arrow-down-circle() { content: "\EA55" }
@mixin icon-arrow-down-light() { content: "\EA56" }
@mixin icon-arrow-down() { content: "\EA57" }
@mixin icon-arrow-left-circle() { content: "\EA58" }
@mixin icon-arrow-left-light() { content: "\EA59" }
@mixin icon-arrow-left-sign() { content: "\EA5A" }
@mixin icon-arrow-left() { content: "\EA5B" }
@mixin icon-arrow-menu-down() { content: "\EA5C" }
@mixin icon-arrow-right-circle() { content: "\EA5D" }
@mixin icon-arrow-right-light() { content: "\EA5E" }
@mixin icon-arrow-right-sign() { content: "\EA5F" }
@mixin icon-arrow-right() { content: "\EA60" }
@mixin icon-arrow-up-circle() { content: "\EA61" }
@mixin icon-arrow-up-light() { content: "\EA62" }
@mixin icon-arrow-up() { content: "\EA63" }
@mixin icon-betting() { content: "\EA64" }
@mixin icon-buy-music() { content: "\EA65" }
@mixin icon-calendar() { content: "\EA66" }
@mixin icon-check-circle() { content: "\EA67" }
@mixin icon-check() { content: "\EA68" }
@mixin icon-clock-v2() { content: "\EA69" }
@mixin icon-clock-v3() { content: "\EA6A" }
@mixin icon-clock() { content: "\EA6B" }
@mixin icon-close-circle() { content: "\EA6C" }
@mixin icon-close-sign() { content: "\EA6D" }
@mixin icon-close() { content: "\EA6E" }
@mixin icon-comment-plus() { content: "\EA6F" }
@mixin icon-comment-square() { content: "\EA70" }
@mixin icon-comment() { content: "\EA71" }
@mixin icon-cup() { content: "\EA72" }
@mixin icon-date() { content: "\EA73" }
@mixin icon-departure() { content: "\EA74" }
@mixin icon-dices() { content: "\EA75" }
@mixin icon-distance() { content: "\EA76" }
@mixin icon-download() { content: "\EA77" }
@mixin icon-email() { content: "\EA78" }
@mixin icon-envelope-sign() { content: "\EA79" }
@mixin icon-envelope() { content: "\EA7A" }
@mixin icon-equalizer() { content: "\EA7B" }
@mixin icon-favorite() { content: "\EA7C" }
@mixin icon-folder() { content: "\EA7D" }
@mixin icon-fullscreen-off() { content: "\EA7E" }
@mixin icon-fullscreen() { content: "\EA7F" }
@mixin icon-gallery() { content: "\EA80" }
@mixin icon-giftbox() { content: "\EA81" }
@mixin icon-hamburger-menu() { content: "\EA82" }
@mixin icon-heart() { content: "\EA83" }
@mixin icon-hippodrome() { content: "\EA84" }
@mixin icon-home() { content: "\EA85" }
@mixin icon-info-circle() { content: "\EA86" }
@mixin icon-less-circle() { content: "\EA87" }
@mixin icon-like() { content: "\EA88" }
@mixin icon-list() { content: "\EA89" }
@mixin icon-location() { content: "\EA8A" }
@mixin icon-lock() { content: "\EA8B" }
@mixin icon-logout() { content: "\EA8C" }
@mixin icon-menu-hamburger() { content: "\EA8D" }
@mixin icon-menu() { content: "\EA8E" }
@mixin icon-mini-logo-futur() { content: "\EA8F" }
@mixin icon-mini-logo-girls() { content: "\EA90" }
@mixin icon-mini-logo-super() { content: "\EA91" }
@mixin icon-onair() { content: "\EA92" }
@mixin icon-out() { content: "\EA93" }
@mixin icon-pen() { content: "\EA94" }
@mixin icon-pin() { content: "\EA95" }
@mixin icon-play-circle-leaning() { content: "\EA96" }
@mixin icon-play-circle() { content: "\EA97" }
@mixin icon-play() { content: "\EA98" }
@mixin icon-plus-circle() { content: "\EA99" }
@mixin icon-print-square() { content: "\EA9A" }
@mixin icon-print-v2() { content: "\EA9B" }
@mixin icon-print() { content: "\EA9C" }
@mixin icon-profit() { content: "\EA9D" }
@mixin icon-pub() { content: "\EA9E" }
@mixin icon-question() { content: "\EA9F" }
@mixin icon-quote-end() { content: "\EAA0" }
@mixin icon-quote-left() { content: "\EAA1" }
@mixin icon-quote-start() { content: "\EAA2" }
@mixin icon-quote-v2() { content: "\EAA3" }
@mixin icon-quote() { content: "\EAA4" }
@mixin icon-race-name() { content: "\EAA5" }
@mixin icon-refresh() { content: "\EAA6" }
@mixin icon-replay() { content: "\EAA7" }
@mixin icon-retweet() { content: "\EAA8" }
@mixin icon-rss() { content: "\EAA9" }
@mixin icon-screen() { content: "\EAAA" }
@mixin icon-search-v2() { content: "\EAAB" }
@mixin icon-search() { content: "\EAAC" }
@mixin icon-seat() { content: "\EAAD" }
@mixin icon-send() { content: "\EAAE" }
@mixin icon-share() { content: "\EAAF" }
@mixin icon-sheet() { content: "\EAB0" }
@mixin icon-sound-v2() { content: "\EAB1" }
@mixin icon-sound() { content: "\EAB2" }
@mixin icon-specialty() { content: "\EAB3" }
@mixin icon-star-empty() { content: "\EAB4" }
@mixin icon-star() { content: "\EAB5" }
@mixin icon-stop() { content: "\EAB6" }
@mixin icon-tweet-star() { content: "\EAB7" }
@mixin icon-user() { content: "\EAB8" }
@mixin icon-video() { content: "\EAB9" }
@mixin icon-warning() { content: "\EABA" }
@mixin icon-world() { content: "\EABB" }
@mixin icon-zoom-sign() { content: "\EABC" }
@mixin icon-facebook-like() { content: "\EABD" }
@mixin icon-facebook-message() { content: "\EABE" }
@mixin icon-facebook-share() { content: "\EABF" }
@mixin icon-facebook-sign() { content: "\EAC0" }
@mixin icon-facebook-square-alt() { content: "\EAC1" }
@mixin icon-facebook-square() { content: "\EAC2" }
@mixin icon-facebook() { content: "\EAC3" }
@mixin icon-googleplus-sign() { content: "\EAC4" }
@mixin icon-googleplus-square() { content: "\EAC5" }
@mixin icon-googleplus() { content: "\EAC6" }
@mixin icon-instagram-like() { content: "\EAC7" }
@mixin icon-instagram-sign() { content: "\EAC8" }
@mixin icon-instagram-square() { content: "\EAC9" }
@mixin icon-instagram() { content: "\EACA" }
@mixin icon-linkedin-sign() { content: "\EACB" }
@mixin icon-linkedin-square() { content: "\EACC" }
@mixin icon-linkedin() { content: "\EACD" }
@mixin icon-pinterest-sign() { content: "\EACE" }
@mixin icon-pinterest-square() { content: "\EACF" }
@mixin icon-pinterest() { content: "\EAD0" }
@mixin icon-sms() { content: "\EAD1" }
@mixin icon-snapchat-sign() { content: "\EAD2" }
@mixin icon-snapchat-square() { content: "\EAD3" }
@mixin icon-snapchat() { content: "\EAD4" }
@mixin icon-twitter-sign() { content: "\EAD5" }
@mixin icon-twitter-square() { content: "\EAD6" }
@mixin icon-twitter() { content: "\EAD7" }
@mixin icon-youtube-sign() { content: "\EAD8" }
@mixin icon-youtube-square() { content: "\EAD9" }
@mixin icon-youtube() { content: "\EADA" }