@font-face {
    font-family: "Kawabunga-Icon";
    src: url('../font/Kawabunga-Icon.eot');
    src: url('../font/Kawabunga-Icon.eot?#iefix') format('eot'),
    url('../font/Kawabunga-Icon.woff') format('woff'),
    url('../font/Kawabunga-Icon.woff2') format('woff2'),
    url('../font/Kawabunga-Icon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
                     display: inline-block;
                     font-family: "Kawabunga-Icon";
                     font-style: normal;
                     font-weight: normal;
                     line-height: 1;
                     vertical-align: top;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.icon-lg {
                     font-size: 2.3333333333333333rem;
                     line-height: 0.75rem;
                     vertical-align: -15%;
                 }
.icon-2x { font-size: 2rem; }
.icon-3x { font-size: 3rem; }
.icon-4x { font-size: 4rem; }
.icon-5x { font-size: 5rem; }
.icon-fw {
                     width: 1.2857142857142858rem;
                     text-align: center;
                 }

.icon-funradio-club-alt:before { content: "\EA01" }
.icon-funradio-club:before { content: "\EA02" }
.icon-funradio-logo-alt:before { content: "\EA03" }
.icon-funradio-logo:before { content: "\EA04" }
.icon-funradio-square:before { content: "\EA05" }
.icon-girls-logo-alt:before { content: "\EA06" }
.icon-girls-logo-new:before { content: "\EA07" }
.icon-girls-logo:before { content: "\EA08" }
.icon-girls-square:before { content: "\EA09" }
.icon-ipfrance-logo:before { content: "\EA0A" }
.icon-mediapanel-logo:before { content: "\EA0B" }
.icon-orlc-logo:before { content: "\EA0C" }
.icon-rtl-club-alt:before { content: "\EA0D" }
.icon-rtl-club:before { content: "\EA0E" }
.icon-rtl-logo:before { content: "\EA0F" }
.icon-rtl-square:before { content: "\EA10" }
.icon-rtl2-logo-alt:before { content: "\EA11" }
.icon-rtl2-logo-alt2:before { content: "\EA12" }
.icon-rtl2-logo:before { content: "\EA13" }
.icon-astro-balance:before { content: "\EA14" }
.icon-astro-belier:before { content: "\EA15" }
.icon-astro-cancer:before { content: "\EA16" }
.icon-astro-capricorne:before { content: "\EA17" }
.icon-astro-gemeaux:before { content: "\EA18" }
.icon-astro-lion:before { content: "\EA19" }
.icon-astro-poissons:before { content: "\EA1A" }
.icon-astro-sagittaire:before { content: "\EA1B" }
.icon-astro-scorpion:before { content: "\EA1C" }
.icon-astro-taureau:before { content: "\EA1D" }
.icon-astro-verseau:before { content: "\EA1E" }
.icon-astro-vierge:before { content: "\EA1F" }
.icon-meteo-p0:before { content: "\EA20" }
.icon-meteo-p1:before { content: "\EA21" }
.icon-meteo-p10:before { content: "\EA22" }
.icon-meteo-p11:before { content: "\EA23" }
.icon-meteo-p11n:before { content: "\EA24" }
.icon-meteo-p12:before { content: "\EA25" }
.icon-meteo-p13:before { content: "\EA26" }
.icon-meteo-p13n:before { content: "\EA27" }
.icon-meteo-p14:before { content: "\EA28" }
.icon-meteo-p15:before { content: "\EA29" }
.icon-meteo-p16:before { content: "\EA2A" }
.icon-meteo-p17:before { content: "\EA2B" }
.icon-meteo-p1n:before { content: "\EA2C" }
.icon-meteo-p2:before { content: "\EA2D" }
.icon-meteo-p2n:before { content: "\EA2E" }
.icon-meteo-p3:before { content: "\EA2F" }
.icon-meteo-p3n:before { content: "\EA30" }
.icon-meteo-p4:before { content: "\EA31" }
.icon-meteo-p4n:before { content: "\EA32" }
.icon-meteo-p5:before { content: "\EA33" }
.icon-meteo-p5n:before { content: "\EA34" }
.icon-meteo-p6:before { content: "\EA35" }
.icon-meteo-p7:before { content: "\EA36" }
.icon-meteo-p7n:before { content: "\EA37" }
.icon-meteo-p8:before { content: "\EA38" }
.icon-meteo-p9:before { content: "\EA39" }
.icon-meteo-wind:before { content: "\EA3A" }
.icon-answer:before { content: "\EA3B" }
.icon-arrow-down-circle:before { content: "\EA3C" }
.icon-arrow-left-circle:before { content: "\EA3D" }
.icon-arrow-left-sign:before { content: "\EA3E" }
.icon-arrow-left:before { content: "\EA3F" }
.icon-arrow-menu-down:before { content: "\EA40" }
.icon-arrow-right-circle:before { content: "\EA41" }
.icon-arrow-right-sign:before { content: "\EA42" }
.icon-arrow-right:before { content: "\EA43" }
.icon-arrow-up-circle:before { content: "\EA44" }
.icon-buy-music:before { content: "\EA45" }
.icon-calendar:before { content: "\EA46" }
.icon-check:before { content: "\EA47" }
.icon-clock:before { content: "\EA48" }
.icon-close-circle:before { content: "\EA49" }
.icon-close-sign:before { content: "\EA4A" }
.icon-comment-plus:before { content: "\EA4B" }
.icon-comment-square:before { content: "\EA4C" }
.icon-comment:before { content: "\EA4D" }
.icon-cup:before { content: "\EA4E" }
.icon-dices:before { content: "\EA4F" }
.icon-download:before { content: "\EA50" }
.icon-envelope-sign:before { content: "\EA51" }
.icon-envelope:before { content: "\EA52" }
.icon-folder:before { content: "\EA53" }
.icon-fullscreen:before { content: "\EA54" }
.icon-home:before { content: "\EA55" }
.icon-info-circle:before { content: "\EA56" }
.icon-like:before { content: "\EA57" }
.icon-lock:before { content: "\EA58" }
.icon-menu-hamburger:before { content: "\EA59" }
.icon-menu:before { content: "\EA5A" }
.icon-onair:before { content: "\EA5B" }
.icon-out:before { content: "\EA5C" }
.icon-pen:before { content: "\EA5D" }
.icon-pin:before { content: "\EA5E" }
.icon-play-circle-leaning:before { content: "\EA5F" }
.icon-play-circle:before { content: "\EA60" }
.icon-print-square:before { content: "\EA61" }
.icon-print:before { content: "\EA62" }
.icon-pub:before { content: "\EA63" }
.icon-question:before { content: "\EA64" }
.icon-quote-end:before { content: "\EA65" }
.icon-quote-start:before { content: "\EA66" }
.icon-refresh:before { content: "\EA67" }
.icon-retweet:before { content: "\EA68" }
.icon-rss:before { content: "\EA69" }
.icon-screen:before { content: "\EA6A" }
.icon-search:before { content: "\EA6B" }
.icon-seat:before { content: "\EA6C" }
.icon-send:before { content: "\EA6D" }
.icon-share:before { content: "\EA6E" }
.icon-sheet:before { content: "\EA6F" }
.icon-sound:before { content: "\EA70" }
.icon-star-empty:before { content: "\EA71" }
.icon-star:before { content: "\EA72" }
.icon-stop:before { content: "\EA73" }
.icon-tweet-star:before { content: "\EA74" }
.icon-user:before { content: "\EA75" }
.icon-video:before { content: "\EA76" }
.icon-warning:before { content: "\EA77" }
.icon-world:before { content: "\EA78" }
.icon-zoom-sign:before { content: "\EA79" }
.icon-facebook-like:before { content: "\EA7A" }
.icon-facebook-message:before { content: "\EA7B" }
.icon-facebook-share:before { content: "\EA7C" }
.icon-facebook-sign:before { content: "\EA7D" }
.icon-facebook-square-alt:before { content: "\EA7E" }
.icon-facebook-square:before { content: "\EA7F" }
.icon-facebook:before { content: "\EA80" }
.icon-googleplus-sign:before { content: "\EA81" }
.icon-googleplus-square:before { content: "\EA82" }
.icon-googleplus:before { content: "\EA83" }
.icon-instagram-like:before { content: "\EA84" }
.icon-instagram-sign:before { content: "\EA85" }
.icon-instagram-square:before { content: "\EA86" }
.icon-instagram:before { content: "\EA87" }
.icon-linkedin-sign:before { content: "\EA88" }
.icon-linkedin-square:before { content: "\EA89" }
.icon-linkedin:before { content: "\EA8A" }
.icon-pinterest-sign:before { content: "\EA8B" }
.icon-pinterest-square:before { content: "\EA8C" }
.icon-pinterest:before { content: "\EA8D" }
.icon-sms:before { content: "\EA8E" }
.icon-twitter-sign:before { content: "\EA8F" }
.icon-twitter-square:before { content: "\EA90" }
.icon-twitter:before { content: "\EA91" }
.icon-youtube-sign:before { content: "\EA92" }