@font-face {
    font-family: "Kawabunga-Amp-Icon";
    src: url('../font/Kawabunga-Amp-Icon.eot');
    src: url('../font/Kawabunga-Amp-Icon.eot?#iefix') format('eot'),
    url('../font/Kawabunga-Amp-Icon.woff') format('woff'),
    url('../font/Kawabunga-Amp-Icon.woff2') format('woff2'),
    url('../font/Kawabunga-Amp-Icon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-amp:before {
                     display: inline-block;
                     font-family: "Kawabunga-Amp-Icon";
                     font-style: normal;
                     font-weight: normal;
                     line-height: 1;
                     vertical-align: top;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.icon-amp-lg {
                     font-size: 2.3333333333333333rem;
                     line-height: 0.75rem;
                     vertical-align: -15%;
                 }
.icon-amp-2x { font-size: 2rem; }
.icon-amp-3x { font-size: 3rem; }
.icon-amp-4x { font-size: 4rem; }
.icon-amp-5x { font-size: 5rem; }
.icon-amp-fw {
                     width: 1.2857142857142858rem;
                     text-align: center;
                 }

.icon-amp-funradio-logo:before { content: "\EA01" }
.icon-amp-funradio-square:before { content: "\EA02" }
.icon-amp-girls-logo-new:before { content: "\EA03" }
.icon-amp-girls-logo:before { content: "\EA04" }
.icon-amp-girls-square:before { content: "\EA05" }
.icon-amp-orlc-logo:before { content: "\EA06" }
.icon-amp-rtl-logo:before { content: "\EA07" }
.icon-amp-rtl-square:before { content: "\EA08" }
.icon-amp-rtl2-logo-alt:before { content: "\EA09" }
.icon-amp-rtl2-logo:before { content: "\EA0A" }
.icon-amp-clock:before { content: "\EA0B" }
.icon-amp-play-circle-leaning:before { content: "\EA0C" }
.icon-amp-play-circle:before { content: "\EA0D" }
.icon-amp-quote-end:before { content: "\EA0E" }
.icon-amp-quote-start:before { content: "\EA0F" }
.icon-amp-search:before { content: "\EA10" }
.icon-amp-user:before { content: "\EA11" }
.icon-amp-facebook-like:before { content: "\EA12" }
.icon-amp-facebook-message:before { content: "\EA13" }
.icon-amp-facebook-share:before { content: "\EA14" }
.icon-amp-facebook-sign:before { content: "\EA15" }
.icon-amp-facebook-square-alt:before { content: "\EA16" }
.icon-amp-facebook-square:before { content: "\EA17" }
.icon-amp-facebook:before { content: "\EA18" }
.icon-amp-googleplus-sign:before { content: "\EA19" }
.icon-amp-googleplus-square:before { content: "\EA1A" }
.icon-amp-googleplus:before { content: "\EA1B" }
.icon-amp-instagram-like:before { content: "\EA1C" }
.icon-amp-instagram-sign:before { content: "\EA1D" }
.icon-amp-instagram-square:before { content: "\EA1E" }
.icon-amp-instagram:before { content: "\EA1F" }
.icon-amp-linkedin-sign:before { content: "\EA20" }
.icon-amp-linkedin-square:before { content: "\EA21" }
.icon-amp-linkedin:before { content: "\EA22" }
.icon-amp-pinterest-sign:before { content: "\EA23" }
.icon-amp-pinterest-square:before { content: "\EA24" }
.icon-amp-pinterest:before { content: "\EA25" }
.icon-amp-sms:before { content: "\EA26" }
.icon-amp-twitter-sign:before { content: "\EA27" }
.icon-amp-twitter-square:before { content: "\EA28" }
.icon-amp-twitter:before { content: "\EA29" }
.icon-amp-youtube-sign:before { content: "\EA2A" }