
@import 'config';
@import 'sass-module/common-mixins';


/* Grid System
----------------------------------------- */

/* Grid Row */		
.g-row {
	clear:both;
	width:100%;
}
.g-row:before,
.g-row:after {
	content:"";
	display:table;
}
.g-row:after {
	clear:both;
}

/* Grid Gutter */
.g-gutter {
	padding-left: $website-horizontal-gutters;
	padding-right: $website-horizontal-gutters;
}

/* Grid Columns */
.g-col1,
.g-col3,
.g-col4,
.g-col6,
.g-col8,
.g-col9 {
	float:left;
	clear:none;
}
.g-flr {
	float: right;
}
.g-fll {
	float: left;
}
.g-fln {
	float: none;
}
.g-col1 {
	width:8.3333%;
}
.g-col3 {
	width:25%;
}
.g-col4 {
	width:33.3%;
}
.g-col6 {
	width:50%;
}
.g-col8 {
	width:66.7%;
}
.g-col9 {
	width:75%;
}
.g-col12 {
	width:100%;
	float:none;
	clear:both;
}

/* 2 Cols 1 Fixed Grid */
.g-2cols {
	padding-right: u(20rem);
}
.g-2cols-main {
	float: left;
	width:100%;
	max-width: 100%;
}
.g-2cols-aside {
	float: right;
	width: u(20rem);
	margin-right: u(-20rem);
}

/* MQ Large State */
@include mq('large'){
	
	/* Grid Columns */
	.mql-g-col1,
	.mql-g-col3,
	.mql-g-col4,
	.mql-g-col6,
	.mql-g-col8,
	.mql-g-col9 {
		float:left;
		clear:none;
	}
	.mql-g-flr {
		float: right;
	}
	.mql-g-fll {
		float: left;
	}
	.mql-g-fln {
		float: none;
	}
	.mql-g-col1 {
		width:8.3333%;
	}
	.mql-g-col3 {
		width:25%;
	}
	.mql-g-col4 {
		width:33.3%;
	}
	.mql-g-col6 {
		width:50%;
	}
	.mql-g-col8 {
		width:66.7%;
	}
	.mql-g-col9 {
		width:75%;
	}
	.mql-g-col12 {
		width:100%;
		float:none;
		clear:both;
	}

	/* 2 Cols 1 Fixed Grid */
	.mql-g-2cols-stack {
		padding-right:0;
	} 
	.mql-g-2cols-stack .g-2cols-main,
	.mql-g-2cols-stack .g-2cols-aside {
		float:none;
		width:auto;
		margin-right:0;
	}

}

/* MQ Medium State */
@include mq('medium'){
	
	/* Grid Columns */
	.mqm-g-col1,
	.mqm-g-col3,
	.mqm-g-col4,
	.mqm-g-col6,
	.mqm-g-col8,
	.mqm-g-col9 {
		float:left;
		clear:none;
	}
	.mqm-g-flr {
		float: right;
	}
	.mqm-g-fll {
		float: left;
	}
	.mqm-g-fln {
		float: none;
	}
	.mqm-g-col1 {
		width:8.3333%;
	}
	.mqm-g-col3 {
		width:25%;
	}
	.mqm-g-col4 {
		width:33.3%;
	}
	.mqm-g-col6 {
		width:50%;
	}
	.mqm-g-col8 {
		width:66.7%;
	}
	.mqm-g-col9 {
		width:75%;
	}
	.mqm-g-col12 {
		width:100%;
		float:none;
		clear:both;
	}

	/* 2 Cols 1 Fixed Grid */
	.mqm-g-2cols-stack {
		padding-right:0;
	} 
	.mqm-g-2cols-stack .g-2cols-main,
	.mqm-g-2cols-stack .g-2cols-aside {
		float:none;
		width:auto;
		margin-right:0;
	}

}

/* MQ Small State (stack all by default) */
@include mq('small'){
	
	/* Grid Columns */	
	.g-col1,
	.g-col3,
	.g-col4,
	.g-col6,
	.g-col8,
	.g-col9,
	.g-col12 {
		float:none;
		clear:both;
		width:100%;
	}
	
	/* 2 Cols 1 Fixed Grid */
	.g-2cols {
		padding-right:0;
	} 
	.g-2cols .g-2cols-main,
	.g-2cols .g-2cols-aside {
		float:none;
		width:auto;
		margin-right:0;
	}

}