/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-partner-android-appstore-modal {
  background-image: url(../img/sprite-partners.png);
  background-position: -3603px 0px;
  width: 179px;
  height: 62px;
}
.sprite-partner-android-appstore {
  background-image: url(../img/sprite-partners.png);
  background-position: -4523px 0px;
  width: 207px;
  height: 67px;
}
.sprite-partner-apple-appstore-modal {
  background-image: url(../img/sprite-partners.png);
  background-position: -4152px 0px;
  width: 185px;
  height: 62px;
}
.sprite-partner-apple-appstore {
  background-image: url(../img/sprite-partners.png);
  background-position: -4730px 0px;
  width: 207px;
  height: 67px;
}
.sprite-partner-btn-femme-checked {
  background-image: url(../img/sprite-partners.png);
  background-position: -1658px 0px;
  width: 134px;
  height: 43px;
}
.sprite-partner-btn-femme {
  background-image: url(../img/sprite-partners.png);
  background-position: -1524px 0px;
  width: 134px;
  height: 43px;
}
.sprite-partner-btn-homme-checked {
  background-image: url(../img/sprite-partners.png);
  background-position: -1390px 0px;
  width: 134px;
  height: 43px;
}
.sprite-partner-btn-homme {
  background-image: url(../img/sprite-partners.png);
  background-position: -1256px 0px;
  width: 134px;
  height: 43px;
}
.sprite-partner-icon-astro-blue {
  background-image: url(../img/sprite-partners.png);
  background-position: -1930px 0px;
  width: 140px;
  height: 40px;
}
.sprite-partner-icon-astro {
  background-image: url(../img/sprite-partners.png);
  background-position: -2210px 0px;
  width: 140px;
  height: 40px;
}
.sprite-partner-icon-badge-futur {
  background-image: url(../img/sprite-partners.png);
  background-position: -132px 0px;
  width: 44px;
  height: 44px;
}
.sprite-partner-icon-badge-girls {
  background-image: url(../img/sprite-partners.png);
  background-position: 0px 0px;
  width: 44px;
  height: 44px;
}
.sprite-partner-icon-badge-orlc {
  background-image: url(../img/sprite-partners.png);
  background-position: -88px 0px;
  width: 44px;
  height: 44px;
}
.sprite-partner-icon-badge-super {
  background-image: url(../img/sprite-partners.png);
  background-position: -44px 0px;
  width: 44px;
  height: 44px;
}
.sprite-partner-icon-dj {
  background-image: url(../img/sprite-partners.png);
  background-position: -176px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-heart {
  background-image: url(../img/sprite-partners.png);
  background-position: -492px 0px;
  width: 56px;
  height: 52px;
}
.sprite-partner-icon-immo {
  background-image: url(../img/sprite-partners.png);
  background-position: -908px 0px;
  width: 80px;
  height: 52px;
}
.sprite-partner-icon-instagram {
  background-image: url(../img/sprite-partners.png);
  background-position: -384px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-justice {
  background-image: url(../img/sprite-partners.png);
  background-position: -784px 0px;
  width: 60px;
  height: 52px;
}
.sprite-partner-icon-kelformation {
  background-image: url(../img/sprite-partners.png);
  background-position: -548px 0px;
  width: 56px;
  height: 52px;
}
.sprite-partner-icon-keljob {
  background-image: url(../img/sprite-partners.png);
  background-position: -228px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-laurier {
  background-image: url(../img/sprite-partners.png);
  background-position: -604px 0px;
  width: 60px;
  height: 52px;
}
.sprite-partner-icon-paris-hippiques {
  background-image: url(../img/sprite-partners.png);
  background-position: -988px 0px;
  width: 84px;
  height: 53px;
}
.sprite-partner-icon-paris-sportifs {
  background-image: url(../img/sprite-partners.png);
  background-position: -280px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-paru-vendu {
  background-image: url(../img/sprite-partners.png);
  background-position: -664px 0px;
  width: 60px;
  height: 46px;
}
.sprite-partner-icon-pme {
  background-image: url(../img/sprite-partners.png);
  background-position: -436px 0px;
  width: 56px;
  height: 33px;
}
.sprite-partner-icon-shopping-new {
  background-image: url(../img/sprite-partners.png);
  background-position: -724px 0px;
  width: 60px;
  height: 46px;
}
.sprite-partner-icon-shopping {
  background-image: url(../img/sprite-partners.png);
  background-position: -332px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-tv {
  background-image: url(../img/sprite-partners.png);
  background-position: -844px 0px;
  width: 64px;
  height: 52px;
}
.sprite-partner-logo-bacbrevet {
  background-image: url(../img/sprite-partners.png);
  background-position: -2496px 0px;
  width: 150px;
  height: 30px;
}
.sprite-partner-logo-devices {
  background-image: url(../img/sprite-partners.png);
  background-position: -4937px 0px;
  width: 269px;
  height: 148px;
}
.sprite-partner-logo-easyflirt {
  background-image: url(../img/sprite-partners.png);
  background-position: -1156px 0px;
  width: 100px;
  height: 30px;
}
.sprite-partner-logo-explorimmo {
  background-image: url(../img/sprite-partners.png);
  background-position: -3104px 0px;
  width: 159px;
  height: 30px;
}
.sprite-partner-logo-instagram {
  background-image: url(../img/sprite-partners.png);
  background-position: -2070px 0px;
  width: 140px;
  height: 40px;
}
.sprite-partner-logo-justice {
  background-image: url(../img/sprite-partners.png);
  background-position: -2946px 0px;
  width: 158px;
  height: 50px;
}
.sprite-partner-logo-kelformation {
  background-image: url(../img/sprite-partners.png);
  background-position: -3782px 0px;
  width: 185px;
  height: 19px;
}
.sprite-partner-logo-keljob {
  background-image: url(../img/sprite-partners.png);
  background-position: -2796px 0px;
  width: 150px;
  height: 30px;
}
.sprite-partner-logo-leguide {
  background-image: url(../img/sprite-partners.png);
  background-position: -4337px 0px;
  width: 186px;
  height: 32px;
}
.sprite-partner-logo-mareduc {
  background-image: url(../img/sprite-partners.png);
  background-position: -2350px 0px;
  width: 146px;
  height: 25px;
}
.sprite-partner-logo-paru-vendu {
  background-image: url(../img/sprite-partners.png);
  background-position: -2646px 0px;
  width: 150px;
  height: 30px;
}
.sprite-partner-logo-pme {
  background-image: url(../img/sprite-partners.png);
  background-position: -3967px 0px;
  width: 185px;
  height: 15px;
}
.sprite-partner-logo-pmu {
  background-image: url(../img/sprite-partners.png);
  background-position: -1792px 0px;
  width: 138px;
  height: 32px;
}
.sprite-partner-logo-soonight {
  background-image: url(../img/sprite-partners.png);
  background-position: -1072px 0px;
  width: 84px;
  height: 52px;
}
.sprite-partner-logo-teleloisirs {
  background-image: url(../img/sprite-partners.png);
  background-position: -3425px 0px;
  width: 178px;
  height: 36px;
}
.sprite-partner-logo-wingit {
  background-image: url(../img/sprite-partners.png);
  background-position: -3263px 0px;
  width: 162px;
  height: 27px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .sprite-partner-android-appstore-modal {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-android-appstore {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-apple-appstore-modal {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-apple-appstore {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-btn-femme-checked {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-btn-femme {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-btn-homme-checked {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-btn-homme {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-astro-blue {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-astro {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-badge-futur {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-badge-girls {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-badge-orlc {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-badge-super {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-dj {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-heart {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-immo {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-instagram {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-justice {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-kelformation {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-keljob {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-laurier {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-paris-hippiques {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-paris-sportifs {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-paru-vendu {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-pme {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-shopping-new {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-shopping {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-icon-tv {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-bacbrevet {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-devices {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-easyflirt {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-explorimmo {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-instagram {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-justice {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-kelformation {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-keljob {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-leguide {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-mareduc {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-paru-vendu {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-pme {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-pmu {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-soonight {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-teleloisirs {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
  .sprite-partner-logo-wingit {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 5206px 148px;
  }
}
