/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.sprite-partner-android-appstore {
  background-image: url(../img/sprite-partners.png);
  background-position: -3682px 0px;
  width: 207px;
  height: 67px;
}
.sprite-partner-apple-appstore {
  background-image: url(../img/sprite-partners.png);
  background-position: -3475px 0px;
  width: 207px;
  height: 67px;
}
.sprite-partner-btn-femme-checked {
  background-image: url(../img/sprite-partners.png);
  background-position: -1020px 0px;
  width: 134px;
  height: 43px;
}
.sprite-partner-btn-femme {
  background-image: url(../img/sprite-partners.png);
  background-position: -1422px 0px;
  width: 134px;
  height: 43px;
}
.sprite-partner-btn-homme-checked {
  background-image: url(../img/sprite-partners.png);
  background-position: -1288px 0px;
  width: 134px;
  height: 43px;
}
.sprite-partner-btn-homme {
  background-image: url(../img/sprite-partners.png);
  background-position: -1154px 0px;
  width: 134px;
  height: 43px;
}
.sprite-partner-icon-astro {
  background-image: url(../img/sprite-partners.png);
  background-position: -1694px 0px;
  width: 140px;
  height: 40px;
}
.sprite-partner-icon-dj {
  background-image: url(../img/sprite-partners.png);
  background-position: -104px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-heart {
  background-image: url(../img/sprite-partners.png);
  background-position: -316px 0px;
  width: 56px;
  height: 52px;
}
.sprite-partner-icon-immo {
  background-image: url(../img/sprite-partners.png);
  background-position: -672px 0px;
  width: 80px;
  height: 52px;
}
.sprite-partner-icon-instagram {
  background-image: url(../img/sprite-partners.png);
  background-position: -156px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-justice {
  background-image: url(../img/sprite-partners.png);
  background-position: -428px 0px;
  width: 60px;
  height: 52px;
}
.sprite-partner-icon-kelformation {
  background-image: url(../img/sprite-partners.png);
  background-position: -372px 0px;
  width: 56px;
  height: 52px;
}
.sprite-partner-icon-keljob {
  background-image: url(../img/sprite-partners.png);
  background-position: -208px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-laurier {
  background-image: url(../img/sprite-partners.png);
  background-position: -488px 0px;
  width: 60px;
  height: 52px;
}
.sprite-partner-icon-paris-hippiques {
  background-image: url(../img/sprite-partners.png);
  background-position: -836px 0px;
  width: 84px;
  height: 53px;
}
.sprite-partner-icon-paris-sportifs {
  background-image: url(../img/sprite-partners.png);
  background-position: 0px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-paru-vendu {
  background-image: url(../img/sprite-partners.png);
  background-position: -548px 0px;
  width: 60px;
  height: 46px;
}
.sprite-partner-icon-pme {
  background-image: url(../img/sprite-partners.png);
  background-position: -260px 0px;
  width: 56px;
  height: 33px;
}
.sprite-partner-icon-shopping {
  background-image: url(../img/sprite-partners.png);
  background-position: -52px 0px;
  width: 52px;
  height: 52px;
}
.sprite-partner-icon-tv {
  background-image: url(../img/sprite-partners.png);
  background-position: -608px 0px;
  width: 64px;
  height: 52px;
}
.sprite-partner-logo-bacbrevet {
  background-image: url(../img/sprite-partners.png);
  background-position: -1974px 0px;
  width: 150px;
  height: 30px;
}
.sprite-partner-logo-devices {
  background-image: url(../img/sprite-partners.png);
  background-position: -3889px 0px;
  width: 269px;
  height: 148px;
}
.sprite-partner-logo-easyflirt {
  background-image: url(../img/sprite-partners.png);
  background-position: -920px 0px;
  width: 100px;
  height: 30px;
}
.sprite-partner-logo-explorimmo {
  background-image: url(../img/sprite-partners.png);
  background-position: -2582px 0px;
  width: 159px;
  height: 30px;
}
.sprite-partner-logo-instagram {
  background-image: url(../img/sprite-partners.png);
  background-position: -1834px 0px;
  width: 140px;
  height: 40px;
}
.sprite-partner-logo-justice {
  background-image: url(../img/sprite-partners.png);
  background-position: -2424px 0px;
  width: 158px;
  height: 50px;
}
.sprite-partner-logo-kelformation {
  background-image: url(../img/sprite-partners.png);
  background-position: -2919px 0px;
  width: 185px;
  height: 19px;
}
.sprite-partner-logo-keljob {
  background-image: url(../img/sprite-partners.png);
  background-position: -2274px 0px;
  width: 150px;
  height: 30px;
}
.sprite-partner-logo-leguide {
  background-image: url(../img/sprite-partners.png);
  background-position: -3289px 0px;
  width: 186px;
  height: 32px;
}
.sprite-partner-logo-paru-vendu {
  background-image: url(../img/sprite-partners.png);
  background-position: -2124px 0px;
  width: 150px;
  height: 30px;
}
.sprite-partner-logo-pme {
  background-image: url(../img/sprite-partners.png);
  background-position: -3104px 0px;
  width: 185px;
  height: 15px;
}
.sprite-partner-logo-pmu {
  background-image: url(../img/sprite-partners.png);
  background-position: -1556px 0px;
  width: 138px;
  height: 32px;
}
.sprite-partner-logo-soonight {
  background-image: url(../img/sprite-partners.png);
  background-position: -752px 0px;
  width: 84px;
  height: 52px;
}
.sprite-partner-logo-teleloisirs {
  background-image: url(../img/sprite-partners.png);
  background-position: -2741px 0px;
  width: 178px;
  height: 36px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .sprite-partner-android-appstore {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-apple-appstore {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-btn-femme-checked {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-btn-femme {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-btn-homme-checked {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-btn-homme {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-astro {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-dj {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-heart {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-immo {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-instagram {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-justice {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-kelformation {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-keljob {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-laurier {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-paris-hippiques {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-paris-sportifs {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-paru-vendu {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-pme {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-shopping {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-icon-tv {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-bacbrevet {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-devices {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-easyflirt {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-explorimmo {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-instagram {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-justice {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-kelformation {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-keljob {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-leguide {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-paru-vendu {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-pme {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-pmu {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-soonight {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
  .sprite-partner-logo-teleloisirs {
    background-image: url(../img/sprite-partners@2x.png);
    background-size: 4158px 148px;
  }
}
