
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff") format('woff');
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.woff") format('woff');
}

$roboto-regular: Roboto-Regular, Arial, Verdana, sans-serif;
$roboto-light: Roboto-Light, Arial, Verdana, sans-serif;
