
@font-face {
  font-family: "Oswald-Regular";
  src: url("../fonts/Oswald-Regular.eot");
}
@font-face {
  font-family: "Oswald-Regular";
  src: url("../fonts/Oswald-Regular.woff") format('woff'), url("../fonts/Oswald-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Light";
  src: url("../fonts/Oswald-Light.eot");
}
@font-face {
  font-family: "Oswald-Light";
  src: url("../fonts/Oswald-Light.woff") format('woff'), url("../fonts/Oswald-Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

$oswald-regular: Oswald-Regular, Arial, Verdana, sans-serif;
$oswald-light: Oswald-Light, Arial, Verdana, sans-serif;
