
@font-face {
  font-family: "Eurostile-Regular";
  src: url("../fonts/Eurostile.eot");
}
@font-face {
  font-family: "Eurostile-Regular";
  src: url("../fonts/Eurostile.woff") format('woff'), url("../fonts/Eurostile.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eurostile-Bold";
  src: url("../fonts/Eurostile-Bold.eot");
}
@font-face {
  font-family: "Eurostile-Bold";
  src: url("../fonts/Eurostile-Bold.woff") format('woff'), url("../fonts/Eurostile-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

$eurostile-regular: Eurostile-Regular, Arial, Verdana, sans-serif;
$eurostile-bold: Eurostile-Bold, Arial, Verdana, sans-serif;
