
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.eot");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$lato-regular: Lato-Regular, Arial, Verdana, sans-serif;
$lato-light: Lato-Light, Arial, Verdana, sans-serif;
