<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if active == 'index' %}active{% endif %}"><a href="index.html">Home</a></li>
        <li class="{% if active == 'typography' %}active{% endif %}"><a href="typography.html">Typographie</a></li>
        <li class="{% if active == 'colors' %}active{% endif %}"><a href="colors.html">Colors</a></li>
        <li class="{% if active == 'icons' %}active{% endif %}"><a href="icons.html">Icons</a></li>
        <li class="{% if active == 'sprites' %}active{% endif %}"><a href="sprites.html">Sprites</a></li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Components <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="{% if active == 'components-default' %}active{% endif %}"><a href="components-default.html">Default</a></li>
            <li class="{% if active == 'components-rtl' %}active{% endif %}"><a href="components-rtl.html">RTL</a></li>
            <li class="{% if active == 'components-rtl2' %}active{% endif %}"><a href="components-rtl2.html">RTL2</a></li>
            <li class="{% if active == 'components-funradio' %}active{% endif %}"><a href="components-funradio.html">Fun Radio</a></li>
            <li class="{% if active == 'components-girls' %}active{% endif %}"><a href="components-girls.html">Girls</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ads <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="{% if active == 'ads-ftv' %}active{% endif %}"><a href="ads-ftv.html">FTV</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
