<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Components sandbox</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <link rel="stylesheet" href="../css/components-rtl.css">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        <div class="container kawa">
            <%- include('_navbar.html', {active: 'components-rtl'}) %>

            <div class="row">
                <!--Main Content -->
                <div class="col-md-9">

                    <section id="button" class="col-md-12">
                        <h1 class="kawa-h1">Buttons</h1>
                        <div id="classic" class="col-md-12">
                            <h2 class="kawa-h2">Classic</h2>
                            <p>Le texte est en majuscule lorqu'il y a un seul mot sinon en minuscule.</p>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-2">
                                    <%- include('../../assets/sample/button/_btn.html', {textBtn: 'Voter'}) %>
                                </div>
                                <div class="col-md-3">
                                    <%- include('../../assets/sample/button/_btn.html', {textBtn: 'Inscrivez-vous'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-classic-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-classic-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-classic-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-classic-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/button/_btn.html', {textBtn: 'Voter'}) %><%= include('../../assets/sample/button/_btn.html', {textBtn: 'Inscrivez-vous'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-classic-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/button/_btn.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-classic-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="particular" class="col-md-12">
                            <h2 class="kawa-h2">Particular</h2>
                            <!-- RTL -->
                            <form class="site code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-link.html', {textBtn: 'Aller vers l&apos;émission'}) %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-hover.html') %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-bicolor.html', {sizeBtn: 'btn-bicolor-large', textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-bicolor.html', {textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-bicolor.html', {sizeBtn: 'btn-bicolor-small', textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %>
                                </div>
                                <div class="col-md-2">
                                    <div class="example-set-color position-static">
                                        <%- include('../../assets/sample/button/_btn-text.html') %>
                                    </div>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-particular-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-particular-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-particular-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-particular-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/button/_btn-link.html', {textBtn: 'Aller vers l&apos;émission'}) %><br/>
<%= include('../../assets/sample/button/_btn-hover.html') %><br/>
<%= include('../../assets/sample/button/_btn-bicolor.html', {sizeBtn: 'btn-bicolor-large', textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %><br/>
<%= include('../../assets/sample/button/_btn-bicolor.html', {textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %><br/>
<%= include('../../assets/sample/button/_btn-bicolor.html', {sizeBtn: 'btn-bicolor-small', textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %><br/>
<%= include('../../assets/sample/button/_btn-text.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-particular-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/button/_btn-link.scss") %>
                                            <%- include("../../assets/scss/component/button/_btn-hover.scss") %>
                                            <%- include("../../assets/scss/component/button/_btn-bicolor.scss") %>
                                            <%- include("../../assets/scss/component/button/_btn-text.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-particular-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="input" class="col-md-12">
                        <h1 class="kawa-h1">Input</h1>
                        <div id="inputText" class="col-md-12">
                            <h2 class="kawa-h2">Text</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-3">
                                    <%- include('../../assets/sample/input/_input-text.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-input-text-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-input-text-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-input-text-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-input-text-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/input/_input-text.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-input-text-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/input/_input-text.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-input-text-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="page" class="col-md-12">
                        <h1 class="kawa-h1">Page</h1>
                        <div id="pageHeader" class="col-md-12">
                            <h2 class="kawa-h2">Header</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-12">
                                    <%- include('../../assets/sample/page/_page-header.html', {uppercase: 'uppercase', title: 'Commentaires', dateTime: 'true'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-page-header-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-page-header-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-page-header-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-page-header-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/page/_page-header.html', {uppercase: 'uppercase', title: 'Commentaires', dateTime: 'true'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-page-header-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include("../../assets/scss/component/page/_page-header.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-page-header-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="module" class="col-md-12">
                        <h1 class="kawa-h1">Module</h1>
                        <div id="moduleHeader" class="col-md-12">
                            <h2 class="kawa-h2">Header</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-header.html', {text: 'La question du jour'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'actu-bg-color'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'sport-bg-color'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'culture-bg-color'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-module-header-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-header-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-header-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-module-header-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/module/_module-header.html', {text: 'La question du jour'}) %><br/>
<%= include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'actu-bg-color'}) %><br/>
<%= include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'sport-bg-color'}) %><br/>
<%= include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'culture-bg-color'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-header-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-header.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-header-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="moduleLink" class="col-md-12">
                            <h2 class="kawa-h2">Link</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-link.html', {text: 'Voir plus de commentaires', border: 'border'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-link.html', {text: 'Voir le dossier', border: 'border-top'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-link-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-link-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-link-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-link-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/module/_module-link.html', {text: 'Voir plus de commentaires', border: 'border'}) %><br/>
<%= include('../../assets/sample/module/_module-link.html', {text: 'Voir le dossier', border: 'border-top'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-link-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-link.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-link-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="moduleBorder" class="col-md-12">
                            <h2 class="kawa-h2">Border</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <div class="module-border"><p>Module avec bordure fine</p></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="module-border-heavy"><p>Module avec bordure &eacute;paisse</p></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="module-border-top"><p>Module avec bordure haute</p></div>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-border-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-border-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-border-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-border-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">
&lt;div class="module-border"&gt;&lt;p&gt;Module avec bordure fine&lt;/p&gt;&lt;/div&gt;
&lt;div class="module-border-heavy"&gt;&lt;p&gt;Module avec bordure &eacute;paisse&lt;/p&gt;&lt;/div&gt;
&lt;div class="module-border-top"&gt;&lt;p&gt;Module avec bordure haute&lt;/p&gt;&lt;/div&gt;</pre>
                                    </figure>
                                </div>
                                <div id="rtl-border-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-border.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-border-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="moduleFooter" class="col-md-12">
                            <h2 class="kawa-h2">Footer</h2>
                            <p>Boutons en pied de module. Cas particuliers:
                                <br/>- Pied de module au couleur des thématiques (ex: Parcourir tous les replays).
                                <br/>Les textes et chevrons passent en #ffffff
                                <br/>- Pied de module "r&eacute;servez vos places" avec pointill&eacute;s.
                            </p>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-5">
                                    <span class="module-footer icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="module-footer actu-bg-color icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="module-footer sport-bg-color icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="module-footer culture-bg-color icon icon-chevron-right-bis">La page de l'&eacute;mission</span>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-module-footer-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-footer-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-footer-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-module-footer-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">
&lt;span class="module-footer icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;
&lt;span class="module-footer actu-bg-color icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;
&lt;span class="module-footer sport-bg-color icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;
&lt;span class="module-footer culture-bg-color icon icon-chevron-right-bis"&gt;La page de l'&eacute;mission&lt;/span&gt;</pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-footer-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-footer.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-footer-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="moduleFollowUs" class="col-md-12">
                            <h2 class="kawa-h2">Follow us</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-12">
                                    <%- include('../../assets/sample/module/_module-follow-us.html', {domain: 'RTL'}) %>
                                    <%- include('../../assets/sample/module/_module-follow-us.html', {domain: 'RTL', size: 'small'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-module-follow-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-follow-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-follow-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-module-follow-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/module/_module-follow-us.html', {domain: 'RTL'}) %><%= include('../../assets/sample/module/_module-follow-us.html', {domain: 'RTL', size: 'small'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-follow-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include('../../assets/scss/component/module/_module-follow-us.scss') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-follow-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="moduleComment" class="col-md-12">
                            <h2 class="kawa-h2">Comment</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-8">
                                    <div class="module-comment">
                                        <form>
                                            <fieldset class="js-field-limiter js-field-policy">
                                                <textarea rows="5" cols="50" class="module-comment-field js-field-listener js-textarea-policy js-textarea-request" placeholder="Commenter" name="text"></textarea>
                                                <input class="btn uppercase module-comment-submit js-submit-listener js-submit-policy js-submit-request" type="submit" value="Envoyer">
                                                <em class="module-comment-counter"><b class="js-counter-listener">500</b> caractères restants</em>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-module-comment-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-comment-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-comment-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-module-comment-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">
&lt;div class="module-comment"&gt;
&nbsp;&lt;form&gt;
&nbsp;&nbsp;&lt;fieldset class="js-field-limiter js-field-policy"&gt;
&nbsp;&nbsp;&nbsp;&lt;textarea rows="5" cols="50" class="module-comment-field js-field-listener js-textarea-policy js-textarea-request" placeholder="Commenter" name="text"&gt;&lt;/textarea&gt;
&nbsp;&nbsp;&nbsp;&lt;input class="btn uppercase module-comment-submit js-submit-listener js-submit-policy js-submit-request" type="submit" value="Envoyer"&gt;
&nbsp;&nbsp;&nbsp;&lt;em class="module-comment-counter"&gt;&lt;b class="js-counter-listener"&gt;500&lt;/b&gt; caractères restants&lt;/em&gt;
&nbsp;&nbsp;&lt;/fieldset&gt;
&nbsp;&lt;/form&gt;
&lt;/div&gt;</pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-comment-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-comment.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-comment-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="widget" class="col-md-12">
                        <h1 class="kawa-h1">Widget</h1>
                        <div id="widgetPartner" class="col-md-12">
                            <h2 class="kawa-h2">Partner</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/widget/_widget-partner.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-widget-partners-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-partners-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-partners-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-widget-partners-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/widget/_widget-partner.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-partners-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/widget/_widget-partner.scss") %><%- include("../../assets/scss/component/widget/_widget-feature.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-partners-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="widgetWeather" class="col-md-12">
                            <h2 class="kawa-h2">Weather</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/widget/_widget-weather.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-widget-weather-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-weather-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-weather-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-widget-weather-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/widget/_widget-weather.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-weather-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include("../../assets/scss/component/widget/_widget-weather.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-weather-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="widgetAstro" class="col-md-12">
                            <h2 class="kawa-h2">Astro</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/widget/_widget-astro.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-widget-astro-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-astro-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-astro-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-widget-astro-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/widget/_widget-astro.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-astro-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include("../../assets/scss/component/widget/_widget-astro.scss") %><%= include("../../assets/scss/component/widget/_widget-feature.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-astro-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="article" class="col-md-12">
                        <h1 class="kawa-h1">Article</h1>
                        <div id="articleBody" class="col-md-12">
                            <h2 class="kawa-h2">Body</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-3">
                                    <a class="article-text-link">Lien texte article</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="article-text-link actu-color">Lien texte article</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="article-text-link sport-color">Lien texte article</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="article-text-link culture-color">Lien texte article</a>
                                </div>
                                <div class="col-md-10">
                                    <ul class="article-text-list">
                                        <li class="item"><a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                                        <li class="item actu-bg-color_before"><a href="#" class="text actu-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                                        <li class="item sport-bg-color_before"><a href="#" class="text sport-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                                        <li class="item culture-bg-color_before"><a href="#" class="text culture-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                                    </ul>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-article-body-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-body-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-body-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-article-body-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">
&lt;a class="article-text-link"&gt;Lien texte article&lt;/a&gt;
&lt;a class="article-text-link actu-color"&gt;Lien texte article&lt;/a&gt;
&lt;a class="article-text-link sport-color"&gt;Lien texte article&lt;/a&gt;
&lt;a class="article-text-link culture-color"&gt;Lien texte article&lt;/a&gt;<br/>
&lt;ul class="article-text-list"&gt;
&nbsp;&lt;li class="item"&gt;&lt;a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;
&nbsp;&lt;li class="item actu-bg-color_before"&gt;&lt;a href="#" class="text actu-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;
&nbsp;&lt;li class="item sport-bg-color_before"&gt;&lt;a href="#" class="text sport-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;
&nbsp;&lt;li class="item culture-bg-color_before"&gt;&lt;a href="#" class="text culture-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-body-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/article/_article-text-link.scss") %>
                                            <%- include("../../assets/scss/component/article/_article-text-list.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-body-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="articleFooter" class="col-md-12">
                            <h2 class="kawa-h2">Footer</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-5">
                                    <span class="article-footer icon icon-chevron-right-bis">Découvrir plus de videos</span>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-article-footer-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-footer-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-footer-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-article-footer-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">&lt;span class="article-footer icon icon-chevron-right-bis"&gt;Découvrir plus de videos&lt;/span&gt;</pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-footer-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/article/_article-footer.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-footer-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="tag" class="col-md-12">
                            <h2 class="kawa-h2">Tag</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-3 position-static">
                                    <span class="article-tag">
                                        <a href="#" class="tag">Le Saviez-Vous</a>
                                    </span>
                                </div>
                                <div class="col-md-3 position-static">
                                    <span class="article-tag actu-bg-color">
                                        <a href="#" class="tag">Le Saviez-Vous</a>
                                    </span>
                                </div>
                                <div class="col-md-3 position-static">
                                    <span class="article-tag sport-bg-color">
                                        <a href="#" class="tag">Le Saviez-Vous</a>
                                    </span>
                                </div>
                                <div class="col-md-3 position-static">
                                    <span class="article-tag culture-bg-color">
                                        <a href="#" class="tag">Le Saviez-Vous</a>
                                    </span>
                                </div>
                                <div class="col-md-3 position-static">
                                    <span class="article-flag-fix">
                                        <span class="uppercase flag">
                                            <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-md-3 position-static">
                                    <span class="article-flag-fix actu-bg-color">
                                        <span class="uppercase flag actu-border-color actu-bg-color_before actu-border-color_after">
                                            <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-md-3 position-static">
                                    <span class="article-flag-fix sport-bg-color">
                                        <span class="uppercase flag sport-border-color sport-bg-color_before sport-border-color_after">
                                            <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-md-3 position-static">
                                    <span class="article-flag-fix culture-bg-color">
                                        <span class="uppercase flag culture-border-color culture-bg-color_before culture-border-color_after">
                                            <span class="align">dossier<b class="bold">sp&eacute;cial</b></span>
                                        </span>
                                    </span>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-article-tag-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-tag-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-tag-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-article-tag-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">
&lt;span class="article-tag"&gt;
&nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;
&lt;/span&gt;
&lt;span class="article-tag actu-bg-color"&gt;
&nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;
&lt;/span&gt;
&lt;span class="article-tag sport-bg-color"&gt;
&nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;
&lt;/span&gt;
&lt;span class="article-tag culture-bg-color"&gt;
&nbsp;&lt;a href="#" class="tag">Le Saviez-Vous&lt;/a&gt;
&lt;/span&gt;<br/>
&lt;span class="article-flag-fix"&gt;
&nbsp;&lt;span class="uppercase flag"&gt;
&nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;
&nbsp;&lt;/span&gt;
&lt;/span&gt;
&lt;span class="article-flag-fix actu-bg-color"&gt;
&nbsp;&lt;span class="uppercase flag actu-border-color actu-bg-color_before actu-border-color_after"&gt;
&nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;
&nbsp;&lt;/span&gt;
&lt;/span&gt;
&lt;span class="article-flag-fix sport-bg-color"&gt;
&nbsp;&lt;span class="uppercase flag sport-border-color sport-bg-color_before sport-border-color_after"&gt;
&nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;
&nbsp;&lt;/span&gt;
&lt;/span&gt;
&lt;span class="article-flag-fix culture-bg-color"&gt;
&nbsp;&lt;span class="uppercase flag culture-border-color culture-bg-color_before culture-border-color_after"&gt;
&nbsp;&nbsp;&lt;span class="align">dossier&lt;b class="bold">sp&eacute;cial&lt;/b&gt;&lt;/span&gt;
&nbsp;&lt;/span&gt;
&lt;/span&gt;</pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-tag-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/article/_article-tag.scss") %>
                                            <%- include("../../assets/scss/component/article/_article-flag-fix.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-tag-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="post-preview" class="col-md-12">
                            <h2 class="kawa-h2">Post preview</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/article/_article-post-preview.html', {tagTitle: 'Le Saviez-Vous', flagTopTitle: 'dossier', flagBottomTitle: 'spécial'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-article-preview-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-preview-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-preview-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-article-preview-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/article/_article-post-preview.html', {tagTitle: 'Le Saviez-Vous', flagTopTitle: 'dossier', flagBottomTitle: 'spécial'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-preview-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include("../../assets/scss/component/article/_article-post-preview.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-preview-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!--Nav Bar -->
                <nav class="col-md-3 scroll-sidebar navbar">
                    <ul id="sidebar" class="nav nav-stacked fixed">
                        <li>
                            <a href="#general">General</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#header">Header</a></li>
                                <li><a href="#footer">Footer</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#button">Buttons</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#classic">Classic</a></li>
                                <li><a href="#particular">Particular</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#input">Input</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#inputText">Text</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#page">Page</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#pageHeader">Header</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#module">Module</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#moduleHeader">Header</a></li>
                                <li><a href="#moduleLink">Link</a></li>
                                <li><a href="#moduleBorder">Border</a></li>
                                <li><a href="#moduleFooter">Footer</a></li>
                                <li><a href="#moduleFollowUs">Follow us</a></li>
                                <li><a href="#moduleComment">Comment</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#widget">Widget</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#widgetPartner">Partner</a></li>
                                <li><a href="#widgetWeather">Weather</a></li>
                                <li><a href="#widgetAstro">Astro</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#article">Article</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#articleBody">Body</a></li>
                                <li><a href="#articleFooter">Footer</a></li>
                                <li><a href="#tag">Tag</a></li>
                                <li><a href="#post-preview">Post preview</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>