<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Components sandbox</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <link rel="stylesheet" href="../css/components-rtl.css">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        <div class="container kawa">
            <%- include('_navbar.html', {active: 'components-rtl'}) %>

            <div class="row">
                <!--Main Content -->
                <div class="col-md-9">

                    <section id="general" class="col-md-12">
                        <h1 class="kawa-h1">General</h1>
                        <div id="mainFooter" class="col-md-12">
                            <h2 class="kawa-h2">Main footer</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-12">
                                    <%- include('../../assets/sample/page/_main-footer.html', {logo: 'rtl'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-main-footer-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-main-footer-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-main-footer-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-main-footer-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/page/_main-footer.html', {logo: 'rtl'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-main-footer-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/page/_main-footer.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-main-footer-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section id="button" class="col-md-12">
                        <h1 class="kawa-h1">Buttons</h1>
                        <div id="classic" class="col-md-12">
                            <h2 class="kawa-h2">Classic</h2>
                            <p>Le texte est en majuscule lorqu'il y a un seul mot sinon en minuscule.</p>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-2">
                                    <%- include('../../assets/sample/button/_btn.html', {textBtn: 'Voter'}) %>
                                </div>
                                <div class="col-md-3">
                                    <%- include('../../assets/sample/button/_btn.html', {textBtn: 'Inscrivez-vous'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-classic-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-classic-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-classic-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-classic-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/button/_btn.html', {textBtn: 'Voter'}) %><%= include('../../assets/sample/button/_btn.html', {textBtn: 'Inscrivez-vous'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-classic-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/button/_btn.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-classic-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="particular" class="col-md-12">
                            <h2 class="kawa-h2">Particular</h2>
                            <!-- RTL -->
                            <form class="site code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-link.html', {textBtn: 'Aller vers l&apos;émission'}) %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-hover.html') %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-bicolor.html', {sizeBtn: 'btn-bicolor-large', textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-bicolor.html', {textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/button/_btn-bicolor.html', {sizeBtn: 'btn-bicolor-small', textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %>
                                </div>
                                <div class="col-md-2">
                                    <div class="example-set-color position-static">
                                        <%- include('../../assets/sample/button/_btn-text.html') %>
                                    </div>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-particular-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-particular-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-particular-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-particular-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/button/_btn-link.html', {textBtn: 'Aller vers l&apos;émission'}) %><br/>
<%= include('../../assets/sample/button/_btn-hover.html') %><br/>
<%= include('../../assets/sample/button/_btn-bicolor.html', {sizeBtn: 'btn-bicolor-large', textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %><br/>
<%= include('../../assets/sample/button/_btn-bicolor.html', {textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %><br/>
<%= include('../../assets/sample/button/_btn-bicolor.html', {sizeBtn: 'btn-bicolor-small', textBtn: 'Nouvelle discussion', classIcon: 'icon-crayon'}) %><br/>
<%= include('../../assets/sample/button/_btn-text.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-particular-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/button/_btn-link.scss") %>
                                            <%- include("../../assets/scss/component/button/_btn-hover.scss") %>
                                            <%- include("../../assets/scss/component/button/_btn-bicolor.scss") %>
                                            <%- include("../../assets/scss/component/button/_btn-text.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-particular-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="input" class="col-md-12">
                        <h1 class="kawa-h1">Input</h1>
                        <div id="inputText" class="col-md-12">
                            <h2 class="kawa-h2">Text</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-3">
                                    <%- include('../../assets/sample/input/_input-text.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-input-text-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-input-text-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-input-text-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-input-text-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/input/_input-text.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-input-text-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/input/_input-text.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-input-text-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="page" class="col-md-12">
                        <h1 class="kawa-h1">Page</h1>
                        <div id="pageHeader" class="col-md-12">
                            <h2 class="kawa-h2">Header</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-12">
                                    <%- include('../../assets/sample/page/_page-header.html', {uppercase: 'uppercase', title: 'Commentaires', dateTime: 'true'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-page-header-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-page-header-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-page-header-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-page-header-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/page/_page-header.html', {uppercase: 'uppercase', title: 'Commentaires', dateTime: 'true'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-page-header-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include("../../assets/scss/component/page/_page-header.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-page-header-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="module" class="col-md-12">
                        <h1 class="kawa-h1">Module</h1>
                        <div id="moduleHeader" class="col-md-12">
                            <h2 class="kawa-h2">Header</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-header.html', {text: 'La question du jour'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'actu-bg-color'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'sport-bg-color'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'culture-bg-color'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-module-header-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-header-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-header-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-module-header-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/module/_module-header.html', {text: 'La question du jour'}) %><br/>
<%= include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'actu-bg-color'}) %><br/>
<%= include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'sport-bg-color'}) %><br/>
<%= include('../../assets/sample/module/_module-header.html', {text: 'La question du jour', category: 'culture-bg-color'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-header-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-header.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-header-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="moduleLink" class="col-md-12">
                            <h2 class="kawa-h2">Link</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-link.html', {text: 'Voir plus de commentaires', border: 'border'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-link.html', {text: 'Voir le dossier', border: 'border-top'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-link-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-link-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-link-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-link-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/module/_module-link.html', {text: 'Voir plus de commentaires', border: 'border'}) %><br/>
<%= include('../../assets/sample/module/_module-link.html', {text: 'Voir le dossier', border: 'border-top'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-link-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-link.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-link-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="moduleBorder" class="col-md-12">
                            <h2 class="kawa-h2">Border</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/module/_module-border.html', {text: 'Module avec bordure fine'}) %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/module/_module-border.html', {border: '-heavy', text: 'Module avec bordure épaisse'}) %>
                                </div>
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/module/_module-border.html', {border: '-top', text: 'Module avec bordure haute'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-border-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-border-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-border-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-border-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/module/_module-border.html', {text: 'Module avec bordure fine'}) %><br/>
<%= include('../../assets/sample/module/_module-border.html', {border: '-heavy', text: 'Module avec bordure épaisse'}) %><br/>
<%= include('../../assets/sample/module/_module-border.html', {border: '-top', text: 'Module avec bordure haute'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-border-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-border.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-border-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="moduleFooter" class="col-md-12">
                            <h2 class="kawa-h2">Footer</h2>
                            <p>Boutons en pied de module. Cas particuliers:
                                <br/>- Pied de module au couleur des thématiques (ex: Parcourir tous les replays).
                                <br/>Les textes et chevrons passent en #ffffff
                                <br/>- Pied de module "r&eacute;servez vos places" avec pointill&eacute;s.
                            </p>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-footer.html') %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-footer.html', {category: 'actu-bg-color'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-footer.html', {category: 'sport-bg-color'}) %>
                                </div>
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/module/_module-footer.html', {category: 'culture-bg-color'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-module-footer-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-footer-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-footer-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-module-footer-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/module/_module-footer.html') %><br/>
<%= include('../../assets/sample/module/_module-footer.html', {category: 'actu-bg-color'}) %><br/>
<%= include('../../assets/sample/module/_module-footer.html', {category: 'sport-bg-color'}) %><br/>
<%= include('../../assets/sample/module/_module-footer.html', {category: 'culture-bg-color'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-footer-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-footer.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-footer-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="moduleFollowUs" class="col-md-12">
                            <h2 class="kawa-h2">Follow us</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-12">
                                    <%- include('../../assets/sample/module/_module-follow-us.html', {domain: 'RTL'}) %>
                                    <%- include('../../assets/sample/module/_module-follow-us.html', {domain: 'RTL', size: 'small'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-module-follow-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-follow-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-follow-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-module-follow-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/module/_module-follow-us.html', {domain: 'RTL'}) %><%= include('../../assets/sample/module/_module-follow-us.html', {domain: 'RTL', size: 'small'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-follow-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include('../../assets/scss/component/module/_module-follow-us.scss') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-follow-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="moduleComment" class="col-md-12">
                            <h2 class="kawa-h2">Comment</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-8">
                                    <%- include('../../assets/sample/module/_module-comment.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-module-comment-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-comment-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-module-comment-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-module-comment-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/module/_module-comment.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-comment-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/module/_module-comment.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-module-comment-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="widget" class="col-md-12">
                        <h1 class="kawa-h1">Widget</h1>
                        <div id="widgetPartner" class="col-md-12">
                            <h2 class="kawa-h2">Partner</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/widget/_widget-partner.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-widget-partners-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-partners-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-partners-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-widget-partners-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/widget/_widget-partner.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-partners-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/widget/_widget-partner.scss") %><%- include("../../assets/scss/component/widget/_widget-feature.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-partners-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="widgetWeather" class="col-md-12">
                            <h2 class="kawa-h2">Weather</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/widget/_widget-weather.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-widget-weather-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-weather-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-weather-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-widget-weather-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/widget/_widget-weather.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-weather-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include("../../assets/scss/component/widget/_widget-weather.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-weather-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="widgetAstro" class="col-md-12">
                            <h2 class="kawa-h2">Astro</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/widget/_widget-astro.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-widget-astro-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-astro-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-widget-astro-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-widget-astro-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/widget/_widget-astro.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-astro-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include("../../assets/scss/component/widget/_widget-astro.scss") %><%= include("../../assets/scss/component/widget/_widget-feature.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-widget-astro-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="article" class="col-md-12">
                        <h1 class="kawa-h1">Article</h1>
                        <div id="articleBody" class="col-md-12">
                            <h2 class="kawa-h2">Body</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-3">
                                    <%- include('../../assets/sample/article/_article-text-link.html') %>
                                </div>
                                <div class="col-md-3">
                                    <%- include('../../assets/sample/article/_article-text-link.html', {category: 'actu-color'}) %>
                                </div>
                                <div class="col-md-3">
                                    <%- include('../../assets/sample/article/_article-text-link.html', {category: 'sport-color'}) %>
                                </div>
                                <div class="col-md-3">
                                    <%- include('../../assets/sample/article/_article-text-link.html', {category: 'culture-color'}) %>
                                </div>
                                <div class="col-md-10">
                                    <ul class="article-text-list">
                                        <%- include('../../assets/sample/article/_article-text-list.html') %>
                                        <%- include('../../assets/sample/article/_article-text-list.html', {category: 'actu-color', category_before: 'actu-bg-color_before'}) %>
                                        <%- include('../../assets/sample/article/_article-text-list.html', {category: 'sport-color', category_before: 'sport-bg-color_before'}) %>
                                        <%- include('../../assets/sample/article/_article-text-list.html', {category: 'culture-color', category_before: 'culture-bg-color_before'}) %>
                                    </ul>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-article-body-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-body-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-body-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-article-body-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/article/_article-text-link.html') %>
<%= include('../../assets/sample/article/_article-text-link.html', {category: 'actu-color'}) %>
<%= include('../../assets/sample/article/_article-text-link.html', {category: 'sport-color'}) %>
<%= include('../../assets/sample/article/_article-text-link.html', {category: 'culture-color'}) %><br/>
<%= include('../../assets/sample/article/_article-text-list.html') %>
<%= include('../../assets/sample/article/_article-text-list.html', {category: 'actu-color', category_before: 'actu-bg-color_before'}) %>
<%= include('../../assets/sample/article/_article-text-list.html', {category: 'sport-color', category_before: 'sport-bg-color_before'}) %>
<%= include('../../assets/sample/article/_article-text-list.html', {category: 'culture-color', category_before: 'culture-bg-color_before'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-body-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/article/_article-text-link.scss") %>
                                            <%- include("../../assets/scss/component/article/_article-text-list.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-body-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="articleFooter" class="col-md-12">
                            <h2 class="kawa-h2">Footer</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-5">
                                    <%- include('../../assets/sample/article/_article-footer.html') %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-article-footer-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-footer-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-footer-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-article-footer-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/article/_article-footer.html') %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-footer-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/article/_article-footer.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-footer-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="tag" class="col-md-12">
                            <h2 class="kawa-h2">Tag</h2>
                            <!-- RTL -->
                            <form class="code-example col-md-12">
                                <div class="col-md-3 position-static">
                                    <%- include('../../assets/sample/article/_article-tag.html') %>
                                </div>
                                <div class="col-md-3 position-static">
                                    <%- include('../../assets/sample/article/_article-tag.html', {category: 'actu-bg-color'}) %>
                                </div>
                                <div class="col-md-3 position-static">
                                    <%- include('../../assets/sample/article/_article-tag.html', {category: 'sport-bg-color'}) %>
                                </div>
                                <div class="col-md-3 position-static">
                                    <%- include('../../assets/sample/article/_article-tag.html', {category: 'culture-bg-color'}) %>
                                </div>
                                <div class="col-md-3 position-static">
                                    <%- include('../../assets/sample/article/_article-flag-fix.html') %>
                                </div>
                                <div class="col-md-3 position-static">
                                    <%- include('../../assets/sample/article/_article-flag-fix.html', {category: 'actu-bg-color', category_border: 'actu-border-color', category_before: 'actu-bg-color_before', category_after: 'actu-border-color_after'}) %>
                                </div>
                                <div class="col-md-3 position-static">
                                    <%- include('../../assets/sample/article/_article-flag-fix.html', {category: 'sport-bg-color', category_border: 'sport-border-color', category_before: 'sport-bg-color_before', category_after: 'sport-border-color_after'}) %>
                                </div>
                                <div class="col-md-3 position-static">
                                    <%- include('../../assets/sample/article/_article-flag-fix.html', {category: 'culture-bg-color', category_border: 'culture-border-color', category_before: 'culture-bg-color_before', category_after: 'culture-border-color_after'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-article-tag-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-tag-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-tag-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-article-tag-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/article/_article-tag.html') %>
<%= include('../../assets/sample/article/_article-tag.html', {category: 'actu-bg-color'}) %>
<%= include('../../assets/sample/article/_article-tag.html', {category: 'sport-bg-color'}) %>
<%= include('../../assets/sample/article/_article-tag.html', {category: 'culture-bg-color'}) %><br/>
<%= include('../../assets/sample/article/_article-flag-fix.html') %>
<%= include('../../assets/sample/article/_article-flag-fix.html', {category: 'actu-bg-color', category_border: 'actu-border-color', category_before: 'actu-bg-color_before', category_after: 'actu-border-color_after'}) %>
<%= include('../../assets/sample/article/_article-flag-fix.html', {category: 'sport-bg-color', category_border: 'sport-border-color', category_before: 'sport-bg-color_before', category_after: 'sport-border-color_after'}) %>
<%= include('../../assets/sample/article/_article-flag-fix.html', {category: 'culture-bg-color', category_border: 'culture-border-color', category_before: 'culture-bg-color_before', category_after: 'culture-border-color_after'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-tag-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%- include("../../assets/scss/component/article/_article-tag.scss") %>
                                            <%- include("../../assets/scss/component/article/_article-flag-fix.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-tag-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="post-preview" class="col-md-12">
                            <h2 class="kawa-h2">Post preview</h2>
                            <form class="code-example col-md-12">
                                <div class="col-md-4">
                                    <%- include('../../assets/sample/article/_article-post-preview.html', {tagTitle: 'Le Saviez-Vous', flagTopTitle: 'dossier', flagBottomTitle: 'spécial'}) %>
                                </div>
                            </form>
                            <ul class="nav nav-tabs nav-child">
                                <li class="active"><a data-toggle="tab" href="#rtl-article-preview-html">HTML</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-preview-css">CSS</a></li>
                                <li><a data-toggle="tab" href="#rtl-article-preview-ejs">EJS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="rtl-article-preview-html" class="tab-pane fade in active">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html"><%= include('../../assets/sample/article/_article-post-preview.html', {tagTitle: 'Le Saviez-Vous', flagTopTitle: 'dossier', flagBottomTitle: 'spécial'}) %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-preview-css" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-css"><%= include("../../assets/scss/component/article/_article-post-preview.scss") %></pre>
                                    </figure>
                                </div>
                                <div id="rtl-article-preview-ejs" class="tab-pane fade">
                                    <figure class="highlighted col-md-12">
                                        <pre class="prettyprint lang-html">

                                        </pre>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!--Nav Bar -->
                <nav class="col-md-3 scroll-sidebar navbar">
                    <ul id="sidebar" class="nav nav-stacked fixed">
                        <li>
                            <a href="#general">General</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#mainFooter">Main footer</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#button">Buttons</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#classic">Classic</a></li>
                                <li><a href="#particular">Particular</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#input">Input</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#inputText">Text</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#page">Page</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#pageHeader">Header</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#module">Module</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#moduleHeader">Header</a></li>
                                <li><a href="#moduleLink">Link</a></li>
                                <li><a href="#moduleBorder">Border</a></li>
                                <li><a href="#moduleFooter">Footer</a></li>
                                <li><a href="#moduleFollowUs">Follow us</a></li>
                                <li><a href="#moduleComment">Comment</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#widget">Widget</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#widgetPartner">Partner</a></li>
                                <li><a href="#widgetWeather">Weather</a></li>
                                <li><a href="#widgetAstro">Astro</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#article">Article</a>
                            <ul class="nav nav-stacked">
                                <li><a href="#articleBody">Body</a></li>
                                <li><a href="#articleFooter">Footer</a></li>
                                <li><a href="#tag">Tag</a></li>
                                <li><a href="#post-preview">Post preview</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>