
@font-face {
  font-family: "Raleway-Regular";
  src: url("../font/Raleway-Regular.eot");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../font/Raleway-Regular.woff") format('woff'),
  url("../font/Raleway-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../font/Raleway-Bold.eot");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../font/Raleway-Bold.woff") format('woff'),
  url("../font/Raleway-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

$raleway-regular: Raleway-Regular, Arial, Verdana, sans-serif;
$raleway-bold: Raleway-Bold, Arial, Verdana, sans-serif;
