
@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular.woff") format('woff');
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../font/Roboto-Light.woff") format('woff');
}

$roboto-regular-font-family: Roboto-Regular, Arial, Verdana, sans-serif;
$roboto-light-font-family: Roboto-Light, Arial, Verdana, sans-serif;
