
/* Black */
$orlc-black:                #3F3F3F;

/* Grey */
$orlc-grey:                 #7C7C7C;
$orlc-grey-dark:            #575757;
$orlc-grey-matt:            #889191;
$orlc-grey-light:           #D8D8D8;

/* Cream */
$orlc-cream:                #F0F0F0;
$orlc-cream-dark:           #EBEBEB;
$orlc-cream-light:          #F8F8F8;

/* Blue */
$orlc-blue:                 #48A8CC;
$orlc-blue-dark:            #3781C6;

/* Green */
$orlc-green:                #48A04E;
$orlc-green-light:          #72B677;
$orlc-green-dark:           #308435;

/* Green Linden */
$orlc-green-linden:         #7DB01A;
$orlc-green-linden-light:   #9DB150;

/* Green Fir */
$orlc-green-fir:            #3B6B4B;
$orlc-green-fir-light:      #526759;
$orlc-green-fir-dark:       #335E41;

/* Yellow */
$orlc-yellow:               #D79E04;

/* Brown */
$orlc-brown:                #944A30;
$orlc-brown-light:          #D17C4C;