
/* Black */
$ORLC-black:                #3F3F3F;

/* Grey */
$ORLC-grey:                 #7C7C7C;
$ORLC-grey-dark:            #706E6E;
$ORLC-grey-matt:            #9D9D9D;
$ORLC-grey-light:           #D8D8D8;

/* Cream */
$ORLC-cream:                #F0F0F0;
$ORLC-cream-dark:           #EBEBEB;
$ORLC-cream-light:          #F8F8F8;

/* Blue */
$ORLC-blue:                 #48A8CC;
$ORLC-blue-dark:            #3781C6;

/* Green */
$ORLC-green:                #48A04E;
$ORLC-green-light:          #72B677;
$ORLC-green-dark:           #308435;

/* Green Linden */
$ORLC-green-linden:         #7DB01A;
$ORLC-green-linden-light:   #9DB150;

/* Green Fir */
$ORLC-green-fir:            #3B6B4B;
$ORLC-green-fir-light:      #526759;
$ORLC-green-fir-dark:       #335E41;

/* Yellow */
$ORLC-yellow:               #D79E04;

/* Brown */
$ORLC-brown:                #944A30;
$ORLC-brown-light:          #D17C4C;