
/* Black */
$ORLC-black:                #3F3F3F;

/* Grey */
$ORLC-grey:                 #7C7C7C;
$ORLC-grey-dark:            #706E6E;
$ORLC-grey-matt:            #9D9D9D;
$ORLC-grey-light:           #D8D8D8;

/* Cream */
$ORLC-cream:                #F0F0F0;
$ORLC-cream-dark:           #EBEBEB;
$ORLC-cream-light:          #F8F8F8;

/* Blue */
$ORLC-blue:                 #48A8CC;
$ORLC-blue-dark:            #3781C6;

/* Green */
$ORLC-green:                #48A04E;
$ORLC-green-light:          #72B677;
$ORLC-green-lighter:        #7DB01A;
$ORLC-green-lightest:       #9DB150;
$ORLC-green-lightest-light: #65AF6A;
$ORLC-green-dark:           #308435;
$ORLC-green-darker:         #3B6B4B;
$ORLC-green-darkest:        #526759;

/* Yellow */
$ORLC-yellow:               #D79E04;

/* Brown */
$ORLC-brown:                #944A30;
$ORLC-brown-light:          #D17C4C;