
@import "../default/colors";
@import "colors";
@import "../rtl/font";

$font-design: $lato-regular-font-family;

// Main footer
$footer-main-font-family: $font-design;
$footer-main-text-color: $orlc-grey;
$footer-main-list-bg-color: $orlc-green;
$footer-main-list-item-border-color: $orlc-green-light;
$footer-main-list-link-bg-color_hover: $orlc-green-light;

// Button
$btn-bg-color: $orlc-green;
$btn-bg-color_hover: $orlc-green-light;

$btn-hover-bg-color: $orlc-grey-light;
$btn-hover-frontside-bg-color_hover: $orlc-grey-dark;

$btn-link-bg-color: $orlc-green;
$btn-link-bg-color_hover: $orlc-green-light;

$btn-bicolor-label-bg-color: $orlc-green;
$btn-bicolor-input-bg-color: $orlc-green-dark;

// Input
$input-text-input-border-color: $orlc-grey-light;

// Module
$module-header-font-family: $lato-light-font-family;
$module-header-bg-color: $orlc-grey;

$module-border-border-color: $orlc-grey-light;

$module-comment-border-color: $orlc-grey-light;
$module-comment-color: $orlc-black;
$module-comment-form-bg-color: $orlc-cream;
$module-comment-bg-color: $orlc-cream-dark;
$module-comment-title-font-family: $font-design;

$module-link-bg-color: $orlc-cream;
$module-link-color: $orlc-black;

$module-footer-bg-color: $orlc-grey;

$module-follow-us-font-family: $lato-light-font-family;
$module-follow-us-icon-newsletter-color_before: $orlc-black;

// Article
$article-text-link-color: $orlc-grey;
$article-text-link-color_hover: $black;

$article-text-list-color: $orlc-grey;
$article-text-list-color_hover: $black;
$article-text-list-item-bg-color_before: $orlc-grey;

$article-footer-color: $orlc-black;

$article-preview-fig-border-color: $orlc-green;
$article-preview-link-color: $black;
$article-preview-link-color_hover: $orlc-green;
$article-preview-social-tool-color: $orlc-grey;
$article-preview-social-tool-icon-play-color_before: $orlc-grey-dark;

$article-tag-font-family: $lato-light-font-family;
$article-tag-bg-color: $orlc-grey;

$article-flag-fix-bg-color: $orlc-grey;
$article-flag-fix-border-color: $orlc-grey;
$article-flag-fix-bg-color_before: $orlc-grey-matt;
$article-flag-fix-border-color_after: $orlc-grey;

// Page
$page-header-font-family: $lato-light-font-family;
$page-header-border-color: $orlc-green;
$page-header-main-text-color: $orlc-black;
$page-header-right-text-bg-color: $orlc-cream-light;
$page-header-right-text-color: $orlc-black;

// Widget
$widget-feature-border-color: $orlc-grey;

$widget-astro-header-bg-color: $orlc-blue-dark;
$widget-astro-content-sign-color: $orlc-blue-dark;
$widget-astro-content-date-color: $orlc-grey;
$widget-astro-content-text-color: $orlc-grey;

$widget-weather-header-border-color: $orlc-grey-light;
$widget-weather-header-bg-color: $orlc-blue-dark;
$widget-weather-list-item-border-color: $orlc-cream-dark;
$widget-weather-list-text-color: $orlc-grey;