
// import themes
@import "../../assets/scss/themes/default/colors";
@import "../../assets/scss/themes/rtl/colors";
@import "../../assets/scss/themes/rtl2/colors";
@import "../../assets/scss/themes/funradio/colors";
@import "../../assets/scss/themes/girls/colors";
@import "../../assets/scss/themes/onrefaitlescourses-2016.rtl.fr/colors";

// import config, template
@import "../../assets/scss/kawabunga-base";
@import "common/kawabunga-layout";

// import tool
@import "common/side-nav";


/* Color page
----------------------------------------- */

.kawa-colors {
  margin: 15px -10px 20px;
  overflow: hidden;
}

.kawa-colors-list {
  padding-left: 0;
  list-style: none;
}

.kawa-colors li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #FFFFFF;
}

.kawa-colors li>span {
  display: block;
  text-align: center;
  word-wrap: break-word;
  padding-top: 36px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .kawa-colors {
    margin-right: 0;
    margin-left: 0;
  }

  .kawa-colors li {
    width: 20%;
    font-size: 12px;
  }
}

/*------------*/
/*    BASE    */
/*------------*/

/* White */
.white { background-color: $white; }
.dark { color: $white; }

/* Black */
.black { background-color: $black; }
.black-light { background-color: $black-light; }
.black-lighter { background-color: $black-lighter; }

/* Grey */
.grey { background-color: $grey; }
.grey-dark { background-color: $grey-dark; }
.grey-darker { background-color: $grey-darker; }
.grey-light { background-color: $grey-light; }
.grey-lighter { background-color: $grey-lighter; }
.grey-login-1col { background-color: $grey-login-1col; }

/* Validation */
.validation-green { background-color: $validation-green; }
.validation-green-dark { background-color: $validation-green-dark; }
.validation-red { background-color: $validation-red; }
.validation-red-dark { background-color: $validation-red-dark; }
.validation-red-light { background-color: $validation-red-light; }

/* Social */
.twitter-cyan { background-color: $twitter-cyan; }
.twitter-cyan-light { background-color: $twitter-cyan-light; }
.fb-blue { background-color: $fb-blue; }
.fb-blue-light { background-color: $fb-blue-light; }
.fb-blue-dark { background-color: $fb-blue-dark; }
.instagram-blue { background-color: $instagram-blue; }
.instagram-blue-light { background-color: $instagram-blue-light; }
.googleplus-red { background-color: $googleplus-red; }
.googleplus-red-light { background-color: $googleplus-red-light; }
.pinterest-red { background-color: $pinterest-red; }
.pinterest-red-light { background-color: $pinterest-red-light; }
.youtube-red { background-color: $youtube-red; }
.linkedin-blue { background-color: $linkedin-blue; }
.snapchat-yellow { background-color:$snapchat-yellow; }

/* Partners article-v2 */
.easyflirt-pink {background-color: $easyflirt-pink;}
.leguide-blue {background-color: $leguide-blue;}
.explorimmo-green {background-color: $explorimmo-green;}
.keljob-red {background-color: $keljob-red;}
.pmu-green {background-color: $pmu-green;}
.soonnight-purple {background-color: $soonnight-purple;}

/*------------*/
/*    RTL     */
/*------------*/

/* Grey */
.rtl-grey { background-color: $rtl-grey; }
.rtl-grey-dark { background-color: $rtl-grey-dark; }
.rtl-grey-matt { background-color: $rtl-grey-matt; }
.rtl-grey-light { background-color: $rtl-grey-light; }

/* Cream */
.rtl-cream { background-color: $rtl-cream; }
.rtl-cream-dark { background-color: $rtl-cream-dark; }
.rtl-cream-light { background-color: $rtl-cream-light; }

/* Red */
.rtl-red { background-color: $rtl-red; }
.rtl-red-dark { background-color: $rtl-red-dark; }
.rtl-red-light { background-color: $rtl-red-light; }
.rtl-red-lighter { background-color: $rtl-red-lighter; }
.rtl-red-lightest { background-color: $rtl-red-lightest; }

/* Blue */
.rtl-blue { background-color: $rtl-blue; }
.rtl-blue-dark { background-color: $rtl-blue-dark; }
.rtl-blue-darker { background-color: $rtl-blue-darker; }
.rtl-blue-light { background-color: $rtl-blue-light; }

/* Green */
.rtl-green { background-color: $rtl-green; }
.rtl-green-dark { background-color: $rtl-green-dark; }
.rtl-green-darker { background-color: $rtl-green-darker; }

/* Purple */
.rtl-purple { background-color: $rtl-purple; }

/* Burgundy */
.rtl-burgundy { background-color: $rtl-burgundy; }

/* Euro 2016 */
.rtl-euro2016 { background-color: $rtl-euro2016; }
.rtl-euro2016-light { background-color: $rtl-euro2016-light; }
.rtl-euro2016-dark { background-color: $rtl-euro2016-dark; }

/* Elections */
.rtl-elections { background-color: $rtl-elections; }
.rtl-elections-light { background-color: $rtl-elections-light; }
.rtl-elections-dark { background-color: $rtl-elections-dark; }

/* Emploi */
.rtl-emploi { background-color: $rtl-emploi; }
.rtl-emploi-light { background-color: $rtl-emploi-light; }
.rtl-emploi-dark { background-color: $rtl-emploi-dark; }

/* Examens */
.rtl-examen {background-color:$rtl-examen;}
.rtl-examen-light {background-color:$rtl-examen-light;}
.rtl-examen-dark {background-color:$rtl-examen-dark;}

/* Futur */
.rtl-futur {background-color: $rtl-futur;}
.rtl-futur-light {background-color: $rtl-futur-light;}
.rtl-futur-dark {background-color: $rtl-futur-dark;}

/* Girls */
.rtl-girls {background-color: $rtl-girls;}
.rtl-girls-light {background-color: $rtl-girls-light;}
.rtl-girls-dark {background-color: $rtl-girls-dark;}

/* Feel Good */
.rtl-feelgood {background-color: $rtl-feelgood;}
.rtl-feelgood-light {background-color: $rtl-feelgood-light;}
.rtl-feelgood-dark {background-color: $rtl-feelgood-dark;}

/* Partenaire */
.rtl-partner {background-color: $rtl-partner;}
.rtl-partner-light {background-color: $rtl-partner-light;}
.rtl-partner-dark {background-color: $rtl-partner-dark;}

/* Astro */
.rtl-astro {background-color: $rtl-astro;}

/*------------*/
/*    RTL2    */
/*------------*/

/* Black */
.rtl2-black { background-color: $rtl2-black; }

/* Grey */
.rtl2-grey { background-color: $rtl2-grey; }
.rtl2-grey-dark { background-color: $rtl2-grey-dark; }
.rtl2-grey-darker { background-color: $rtl2-grey-darker; }

/* Cream */
.rtl2-cream { background-color: $rtl2-cream; }
.rtl2-cream-dark { background-color: $rtl2-cream-dark; }
.rtl2-cream-light { background-color: $rtl2-cream-light; }

/* Gold */
.rtl2-gold { background-color: $rtl2-gold; }
.rtl2-gold-dark { background-color: $rtl2-gold-dark; }
.rtl2-gold-light { background-color: $rtl2-gold-light; }

/* Red */
.rtl2-red { background-color: $rtl2-red; }
.rtl2-red-dark { background-color: $rtl2-red-dark; }

/* Pink */
.rtl2-pink { background-color: $rtl2-pink; }
.rtl2-pink-dark { background-color: $rtl2-pink-dark; }

/* Purple */
.rtl2-purple { background-color: $rtl2-purple; }

/* Burgundy */
.rtl2-burgundy { background-color: $rtl2-burgundy; }

/*------------*/
/*  FUNRADIO  */
/*------------*/

/* Black */
.fun-black { background-color: $fun-black; }

/* Grey */
.fun-grey { background-color: $fun-grey; }
.fun-grey-light { background-color: $fun-grey-light; }
.fun-grey-darker { background-color: $fun-grey-darker; }

/* Cream */
.fun-cream { background-color: $fun-cream; }
.fun-cream-dark { background-color: $fun-cream-dark; }
.fun-cream-light { background-color: $fun-cream-light; }

/* Blue */
.fun-blue { background-color: $fun-blue; }
.fun-blue-dark { background-color: $fun-blue-dark; }
.fun-blue-light { background-color: $fun-blue-light; }

/* Pink */
.fun-pink { background-color: $fun-pink; }
.fun-pink-dark { background-color: $fun-pink-dark; }
.fun-pink-light { background-color: $fun-pink-light; }

/* Yellow */
.fun-yellow { background-color: $fun-yellow; }

/* Orange */
.fun-orange { background-color: $fun-orange; }
.fun-orange-dark { background-color: $fun-orange-dark; }
.fun-orange-darker { background-color: $fun-orange-darker; }

/* Cherry */
.fun-cherry { background-color: $fun-cherry; }
.fun-cherry-dark { background-color: $fun-cherry-dark; }
.fun-cherry-darker { background-color: $fun-cherry-darker; }

/* Purple */
.fun-purple { background-color: $fun-purple; }
.fun-purple-light { background-color: $fun-purple-light; }
.fun-purple-dark { background-color: $fun-purple-dark; }

/* Green */
.fun-green { background-color: $fun-green; }
.fun-green-light { background-color: $fun-green-light; }
.fun-green-lighter{ background-color: $fun-green-lighter; }

/* Buzz */
.fun-buzz { background-color: $fun-buzz; }
.fun-buzz-light { background-color: $fun-buzz-light; }
.fun-buzz-dark { background-color: $fun-buzz-dark; }

/* Super */
.fun-super { background-color: $fun-super; }
.fun-super-light { background-color: $fun-super-light; }
.fun-super-dark { background-color: $fun-super-dark; }

/* Night */
.fun-night { background-color: $fun-night; }
.fun-night-light { background-color: $fun-night-light; }
.fun-night-dark { background-color: $fun-night-dark; }

/* Fit */
.fun-fit { background-color: $fun-fit; }
.fun-fit-light { background-color: $fun-fit-light; }
.fun-fit-dark { background-color: $fun-fit-dark; }


/*------------*/
/*    Girls   */
/*------------*/

/* Black */
.girls-black { background-color: $girls-black; }

/* Grey */
.girls-grey { background-color: $girls-grey; }
.girls-grey-dark { background-color: $girls-grey-dark; }
.girls-grey-darker { background-color: $girls-grey-darker; }
.girls-grey-light { background-color: $girls-grey-light; }

/* Cream */
.girls-cream { background-color: $girls-cream; }
.girls-cream-dark { background-color: $girls-cream-dark; }
.girls-cream-light { background-color: $girls-cream-light; }

/* Nude : Mode & Beaute */
.girls-nude { background-color: $girls-nude; }
.girls-nude-dark { background-color: $girls-nude-dark; }
.girls-nude-light { background-color: $girls-nude-light; }

/* purple : Astro */
.girls-purple { background-color: $girls-purple; }
.girls-purple-dark { background-color: $girls-purple-dark; }

/* Green : Lifestyle */
.girls-green { background-color: $girls-green; }
.girls-green-dark { background-color: $girls-green-dark; }

/* Blue : Sexo & Psycho */
.girls-blue { background-color: $girls-blue; }
.girls-blue-dark { background-color: $girls-blue-dark; }

/* Brown : Confessions*/
.girls-brown { background-color: $girls-brown; }
.girls-brown-darker { background-color: $girls-brown-darker; }


/*------------*/
/*    ORLC    */
/*------------*/

/* Black */
.orlc-black { background-color: $orlc-black; }

/* Grey */
.orlc-grey { background-color: $orlc-grey; }
.orlc-grey-dark { background-color: $orlc-grey-dark; }
.orlc-grey-matt { background-color: $orlc-grey-matt; }
.orlc-grey-light { background-color: $orlc-grey-light; }

/* Cream */
.orlc-cream { background-color: $orlc-cream; }
.orlc-cream-dark { background-color: $orlc-cream-dark; }
.orlc-cream-light { background-color: $orlc-cream-light; }

/* Blue */
.orlc-blue {background-color: $orlc-blue;}
.orlc-blue-dark {background-color: $orlc-blue-dark;}

/* Green */
.orlc-green {background-color: $orlc-green;}
.orlc-green-dark {background-color: $orlc-green-dark;}
.orlc-green-light {background-color: $orlc-green-light;}

/* Green Linden */
.orlc-green-linden {background-color: $orlc-green-linden;}
.orlc-green-linden-light {background-color: $orlc-green-linden-light;}

/* Green Fir */
.orlc-green-fir {background-color: $orlc-green-fir;}
.orlc-green-fir-dark {background-color: $orlc-green-fir-dark;}
.orlc-green-fir-light {background-color: $orlc-green-fir-light;}

/* Yellow */
.orlc-yellow {background-color: $orlc-yellow;}

/* Brown */
.orlc-brown {background-color: $orlc-brown;}
.orlc-brown-light {background-color: $orlc-brown-light;}