
// import config, template
@import "../../assets/scss/kawabunga-base";
@import "common/kawabunga-layout";

// import tool
@import "common/side-nav";

// import fonticons
@import "../../assets/scss/fonticon";
@import "../../assets/scss/fonticon-amp";


/* Icon page
----------------------------------------- */

.clearfix {
  clear: both;
}

/* Icons */
.kawa-icons {
  margin: 15px -10px 20px;
  overflow: hidden;
}

.kawa-icons-list {
  padding-left: 0;
  list-style: none;
}

.kawa-icons li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #F4F4F4;
  border: 1px solid #FFFFFF;
}

.kawa-icons li:hover {
  color: #FFFFFF;
  background-color: #563d7c;
}

.kawa-icons .icon {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.kawa-icons .icon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .kawa-icons {
    margin-right: 0;
    margin-left: 0;
  }

  .kawa-icons li {
    width: 12.5%;
    font-size: 12px;
  }
}

/* Sprites */
.kawa-sprites {
  margin: 15px -10px 20px;
  overflow: hidden;
}

.kawa-sprites-list {
  padding-left: 0;
  list-style: none;
}
/* particular case for the logo: logo-devices */
.kawa-sprites .last-li li:last-child {
  width: 40%;
  height: 207px;
}

@media (min-width: 768px) {
  .kawa-sprites .last-li li:last-child {
    width: 40%;
    font-size: 12px;
  }
}
/* end */

.kawa-sprites li {
  float: left;
  width: 33.3%;
  height: 120px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #ACACAC;
  border: 1px solid #FFFFFF;
}

.kawa-sprites .sprite {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.kawa-sprites .sprite-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .kawa-sprites {
    margin-right: 0;
    margin-left: 0;
  }

  .kawa-sprites li {
    width: 33.3%;
    font-size: 12px;
  }
}