@import "../../config";
@import "../../functions";
@import "../../themes/rtl2/colors";
@import "../../themes/default/colors";
@import "../../themes/default/variables";

/* Main Footer
----------------------------------------- */

.main-footer {
    position: relative;

    .relative {
        padding-bottom: px-to-rem(50px);
        position: relative;

        .devices {
            padding: px-to-rem(45px) 0;
            font-family: $footer-main-font-family;

            @if ($font-smoothing) {
                @include font-smoothing;
            }

            .devices-logo {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
            }
            .text {
                display: inline-block;
                vertical-align: middle;
                padding: 0 px-to-rem(60px);
                color: $footer-main-text-color;
                font-size: px-to-rem(26px);

                .small {
                    display: block;
                    padding: px-to-rem(16px) 0 0;
                    font-size: px-to-rem(22px);
                    font-family: $footer-main-font-family;

                    @if ($font-smoothing) {
                        @include font-smoothing;
                    }
                }
            }
            .dl {
                display: inline-block;
                vertical-align: middle;
            }

            .dl-fig {
                display: block;
                margin-bottom: px-to-rem(17px);
                max-width: 100%;
            }
        }
    }

    .list {
        position: absolute;
        right: 0;
        top: 0;
        overflow: auto;
        max-width: px-to-rem(300px);
        padding: $footer-main-list-padding;
        list-style-type: none;
        width: 25%;
        background-color: $footer-main-list-bg-color;
        color: $white;

        .list-item {
            display: block;
            margin: 0 px-to-rem(5px);
            border-bottom: 1px solid $footer-main-list-item-border-color;
            font-size: px-to-rem(15px);
            font-family: $footer-main-font-family;

            @if ($font-smoothing) {
                @include font-smoothing;
            }

            &.logo {
                position: relative;
                border: 0;
                line-height: $footer-main-list-item-logo-line-height;
                padding: 0 px-to-rem(10px) px-to-rem(9px) px-to-rem(25px);
            }

            &.icon:before {
                font-size: px-to-rem(48px);
                display: block;
                color: $white;
                line-height: inherit;
                position: $footer-main-list-item-icon_before-position;
                z-index: $footer-main-list-item-icon_before-z-index;
            }

            &.icon-logo-fun_radio:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                width: px-to-rem(84px);
                height: px-to-rem(85px);
                z-index: 0;
            }

            &.icon-logo-rtl2:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                width: px-to-rem(84px);
                height: px-to-rem(85px);
                background-color: $rtl2-red;
                z-index: 0;
                margin: 0;
                border: px-to-rem(1px) solid $white;
            }

            .list-link {
                display: block;
                padding: $footer-main-list-link-padding;
                color: $white;

                &:hover {
                    background-color: $footer-main-list-link-bg-color_hover;
                }
            }
        }
    }
}

@media (max-width: $media-queries-large) {
    .main-footer {
        .relative {
            position: relative;

            .devices {
                text-align: center;

                .devices-logo {
                    margin-bottom: px-to-rem(32px);
                }
                .text {
                    margin-bottom: px-to-rem(32px);
                    display: block;
                    padding: 0;
                }
            }
        }

        .list {
            width: 50%;
            max-width: none;
            bottom: 0;
        }
    }
}

@media (max-width: $media-queries-small) {
    .main-footer {
        .relative {
            padding-bottom: 0;
        }

        .list {
            position: relative;
            width: auto;
            padding: $footer-main-list_media-small-padding;

            .logo {
                display: none;
            }
        }
    }
}



