
/* Black */
$rtl2-black:            #070606;

/* Grey */
$rtl2-grey:             #88837E;
$rtl2-grey-dark:        #6c6864;
$rtl2-grey-darker:      #313131;

/* Cream */
$rtl2-cream:            #EEECEA;
$rtl2-cream-dark:       #DEDBD6;
$rtl2-cream-light:      #F5F4F3;

/* Gold*/
$rtl2-gold:             #C29127;
$rtl2-gold-dark:        #BA8F33;
$rtl2-gold-light:       #CEA752;

/* Red */
$rtl2-red:              #EB212E;
$rtl2-red-dark:         #CC1F28;

/* Pink */
$rtl2-pink:            #A13660;
$rtl2-pink-dark:       #903056;

/* Purple */
$rtl2-purple:           #6073BF;

/* Burgundy */
$rtl2-burgundy:         #820010;
