
@import "../default/colors";
@import "colors";
@import "font";

.module-header.culture-bg-color,
.module-footer.culture-bg-color,
.article-text-list .item.culture-bg-color_before:before,
.article-tag.culture-bg-color,
.article-flag-fix.culture-bg-color {
  background-color: $rtl2-gold;
}
.article-text-link.culture-color,
.article-text-list .item .text.culture-color {
  color: $rtl2-gold;
}
.article-flag-fix .flag.culture-bg-color_before:before {
  background-color: $rtl2-gold-dark;
}
.article-flag-fix .flag.culture-border-color_after:after {
  border-top-color: $rtl2-gold;
  border-bottom-color: $rtl2-gold;
}
.article-flag-fix .flag.culture-border-color {
  border-color: $rtl2-gold;
}

$font-design: $oswald-regular-font-family;

// Button
$btn-bg-color: $rtl2-black;
$btn-bg-color_hover: $rtl2-grey-dark;

$btn-hover-bg-color: $rtl2-cream-light;
$btn-hover-frontside-bg-color_hover: $rtl2-red;

$btn-link-bg-color: $rtl2-red;
$btn-link-bg-color_hover: $rtl2-grey-dark;

$btn-search-label-bg-color: $rtl2-black;
$btn-search-input-bg-color: $black;

// Module
$module-header-font-family: $font-design;
$module-header-bg-color: $rtl2-black;

$module-border-border-color: $rtl2-cream-dark;

$module-link-bg-color: $rtl2-cream;
$module-link-color: $rtl2-grey-darker;

$module-footer-bg-color: $rtl2-black;

$module-follow-us-font-family: $font-design;
$module-follow-us-icon-newsletter-color_before: $rtl2-black;

// Article
$article-text-link-color: $rtl2-red;
$article-text-link-color_hover: $rtl2-black;

$article-text-list-color: $rtl2-red;
$article-text-list-color_hover: $rtl2-black;
$article-text-list-item-bg-color_before: $rtl2-red;

$article-footer-color: $rtl2-black;

$article-preview-fig-border-color: $rtl2-gold;
$article-preview-link-color: $rtl2-black;
$article-preview-link-color_hover: $rtl2-grey-dark;
$article-preview-social-tool-color: $rtl2-grey;
$article-preview-social-tool-icon-play-color_before: $rtl2-grey;

$article-tag-font-family: $font-design;
$article-tag-bg-color: $rtl2-red;

$article-flag-fix-bg-color: $rtl2-red;
$article-flag-fix-border-color: $rtl2-red;
$article-flag-fix-bg-color_before: $rtl2-red-dark;
$article-flag-fix-border-color_after: $rtl2-red;