
@import "../default/colors";
@import "colors";
@import "font";
@import "../../config";

$font-design: $oswald-regular-font-family;

// Main footer
$footer-main-font-family: $font-design;
$footer-main-text-color: $rtl2-grey;
$footer-main-list-bg-color: $rtl2-black;
$footer-main-list-item-border-color: $rtl2-grey-darker;
$footer-main-list-link-bg-color_hover: $rtl2-grey-darker;

$footer-main-list-item-logo-line-height: 1;
$footer-main-list-item-icon_before-font-size: px-to-rem(85px);
$footer-main-list-item-icon_before-position: relative;
$footer-main-list-item-icon_before-z-index: 1;

// Button
$btn-bg-color: $rtl2-black;
$btn-bg-color_hover: $rtl2-grey-dark;

$btn-hover-bg-color: $rtl2-cream-light;
$btn-hover-frontside-bg-color_hover: $rtl2-red;

$btn-link-bg-color: $rtl2-red;
$btn-link-bg-color_hover: $rtl2-grey-dark;

$btn-bicolor-label-bg-color: $rtl2-black;
$btn-bicolor-input-bg-color: $black;

// Input
$input-text-input-border-color: $rtl2-cream-dark;

// Module
$module-header-font-family: $font-design;
$module-header-bg-color: $rtl2-black;

$module-border-border-color: $rtl2-cream-dark;

$module-comment-border-color: $rtl2-cream-dark;
$module-comment-color: $rtl2-black;
$module-comment-bg-color: $rtl2-cream;

$module-link-bg-color: $rtl2-cream;
$module-link-color: $rtl2-grey-darker;

$module-footer-bg-color: $rtl2-black;

$module-follow-us-font-family: $font-design;
$module-follow-us-icon-newsletter-color_before: $rtl2-black;

// Article
$article-text-link-color: $rtl2-red;
$article-text-link-color_hover: $rtl2-black;

$article-text-list-color: $rtl2-red;
$article-text-list-color_hover: $rtl2-black;
$article-text-list-item-bg-color_before: $rtl2-red;

$article-footer-color: $rtl2-black;

$article-preview-fig-border-color: $rtl2-gold;
$article-preview-link-color: $rtl2-black;
$article-preview-link-color_hover: $rtl2-grey-dark;
$article-preview-social-tool-color: $rtl2-grey;
$article-preview-social-tool-icon-play-color_before: $rtl2-grey;

$article-tag-font-family: $font-design;
$article-tag-bg-color: $rtl2-red;

$article-flag-fix-bg-color: $rtl2-red;
$article-flag-fix-border-color: $rtl2-red;
$article-flag-fix-bg-color_before: $rtl2-red-dark;
$article-flag-fix-border-color_after: $rtl2-red;

// Page
$page-header-font-family: $font-design;
$page-header-border-color: $rtl2-black;
$page-header-main-text-color: $rtl2-black;
$page-header-right-text-bg-color: $rtl2-cream-light;
$page-header-right-text-color: $rtl2-black;

// Widget
$widget-feature-border-color: $rtl2-cream-dark;

$widget-astro-header-bg-color: $rtl2-grey;
$widget-astro-content-sign-color: $rtl2-grey;
$widget-astro-content-date-color: $rtl2-grey;
$widget-astro-content-text-color: $rtl2-grey;

$widget-weather-header-border-color: $rtl2-cream-dark;
$widget-weather-header-bg-color: $rtl2-grey;
$widget-weather-list-item-border-color: $rtl2-cream-dark;
$widget-weather-list-text-color: $rtl2-grey;