
@import "../../../config";
@import "../../../functions";
@import "../../../themes/default/theme";

/* Article Post Preview
----------------------------------------- */
.article-preview,
.link,
.pic,
.title,
.hat,
.list,
.list:after,
.list.red-chip .list-item:after {
  display: block;
}
.article-preview {
  position: relative;
}
.fig {
  position: relative;
  min-height: px-to-rem(63px);
  border-style: solid;
  border-width: 0 0 px-to-rem(8px) 0;
  border-color: $article-preview-fig-border-color;
}
.fig .btn-replay {
  position: absolute;
  max-width: 45%;
  overflow: hidden;
  white-space: nowrap;
  right: px-to-rem(10px);
  bottom: px-to-rem(5px);
  text-shadow: 0 px-to-rem(1px) px-to-rem(1px) $black-lighter;
}
.article-preview .texts .icon-play,
.article-preview .texts .icon-play2 {
  display: none;
}
.pic {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
@if ($lower-than-or-equal-ie7) {
  .pic {
    width: 100%;
  }
}
.texts {
  overflow: hidden;
  padding-top: px-to-rem(20px);
  padding-left: px-to-rem(12px);
  padding-right: px-to-rem(12px);
}
.title {
  margin-bottom: px-to-rem(16px);
  font-weight: bold;
  font-size: px-to-rem(32px);
  line-height: px-to-rem(36px);
}
.texts.text-small .title {
  margin-bottom: px-to-rem(16px);
  font-size: px-to-rem(20px);
  line-height: px-to-rem(24px);
}
.hat {
  margin-bottom: px-to-rem(16px);
  font-size: px-to-rem(14px);
  line-height: px-to-rem(24px);
}
.list {
  position: relative;
  padding: px-to-rem(15px) 0;
}
.list:after {
  position: absolute;
  top: 0;
  bottom: px-to-rem(15px);
  left: 49%;
  margin-left: px-to-rem(-8px);
  content: "";
  width: px-to-rem(1px);
}
.texts.text-small .list {
  padding-top: 0;
}
.texts.text-small .list:after {
  display: none;
}
.list .list-item {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding: 0 px-to-rem(16px) 0 px-to-rem(40px);
  margin-bottom: px-to-rem(12px);
  list-style-type: none;
  font-weight: bold;
  font-size: px-to-rem(14px);
  line-height: px-to-rem(17px);
}
.texts.text-small .list-item {
  width: auto;
  display: none;
}
.texts.text-small .list-item:nth-child(-n+2) { /* hide all expect first two items */
  display: block;
}
@if ($lower-than-or-equals-ie8) {
  .texts.text-small .list-item:first-child,
  .texts.text-small .list-item:first-child + .list-item {
    display: block;
  }
}
.texts.text-small .list-item:nth-child(2) { /* remove margin on last item */
  margin-bottom: 0;
}
.list a {
  color: inherit;
}
.list.red-chip .list-item {
  position: relative;
}
.list.red-chip .list-item:before {
  position: absolute;
  top: px-to-rem(3px);
  left: px-to-rem(20px);
  content: "";
  width: px-to-rem(10px);
  height: px-to-rem(10px);
}
.link {
  overflow: hidden; /* useful to crop image on module resize */
  text-decoration: none;
  color: $article-preview-link-color;
}
.link:hover {
  color: $article-preview-link-color_hover;
}

/* social tool */
.article-preview .social-tool {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0 0 px-to-rem(16px);
}
.bottom-tool-fix {
  padding-bottom: px-to-rem(55px);
}
.social-tool {
  overflow: hidden;
  padding: 0 px-to-rem(4px);
  height: px-to-rem(51px);
}
.social-tool .item {
  display: block;
  float: left;
  height: px-to-rem(51px);
  vertical-align: top;
  padding: px-to-rem(7px) px-to-rem(12px) 0;
  text-align: center;
  border-left: 1px solid $grey-light;
}
.social-tool .item:first-child {
  border-left: 0;
}
.social-tool .num {
  display: block;
  font-size: px-to-rem(18px);
  line-height: px-to-rem(20px);
  text-align: center;
}
.social-tool .text {
  display: block;
  font-size: px-to-rem(11px);
  color: $article-preview-social-tool-color
}
.social-tool .icon:before {
  margin: 0;
  line-height: inherit;
  font-size: px-to-rem(24px);
  color: $article-preview-social-tool-color
}
.social-tool .icon {
  padding-top: 0;
}
.social-tool .icon-play,
.social-tool .icon-play2 {
  float: none;
  overflow: hidden;
  line-height: px-to-rem(51px);
  background-color: transparent;
  color: $article-preview-social-tool-icon-play-color_before;
}
.social-tool .icon-play:before,
.social-tool .icon-play2:before {
  font-size: px-to-rem(48px);
  line-height: inherit;
}

.article-preview .sponsor-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Bullet List */
.article-preview .bullet-list.mdl-link-push {
  margin-bottom: px-to-rem(55px);
}
.article-preview .bullet-list .item {
  margin-bottom: px-to-rem(10px);
}
.article-preview .mdl-link {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/* XS Layout */
.article-preview.xs-layout .pic,
.article-preview.xs-layout .btn-replay {
  display: none;
}
.article-preview.xs-layout .social-tool {
  border-top: px-to-rem(1px) solid $grey-light;
}
.article-preview.xs-layout .title {
  font-size: px-to-rem(16px);
  line-height: px-to-rem(24px);
}
.article-preview.xs-layout .texts {
  padding-top: px-to-rem(12px);
}
.article-preview.xs-layout .hat,
.article-preview.xs-layout .list {
  display: none;
}
.article-preview.xs-layout .tag-partner {
  display: none;
}
.article-preview.xs-layout .texts .icon-play,
.article-preview.xs-layout .texts .icon-play2 {
  display: block;
}

/* XS layout Bullet List */
.article-preview.xs-layout .mdl-link {
  padding-top: px-to-rem(8px);
  padding-bottom: px-to-rem(8px);
}
.article-preview.xs-layout .bullet-list {
  border-top: 0;
}
.article-preview.xs-layout .bullet-list .item.large {
  margin-bottom: px-to-rem(14px);
}

/* Row layout */
.article-preview.row-layout .fig {
  float: left;
  width: 50%;
  max-width: px-to-rem(210px);
}
.article-preview.row-layout .pic {
  max-width: none;
  margin: 0;
}
.article-preview.row-layout .title {
  margin-bottom: px-to-rem(6px);
  font-size: px-to-rem(16px);
  line-height: px-to-rem(24px);
}
.article-preview.row-layout .hat {
  margin-bottom: 0;
}
.article-preview.row-layout .texts {
  padding-top: px-to-rem(12px);
}
.article-preview.row-layout .list {
  padding-top: px-to-rem(8px);
}
.article-preview.row-layout .list:after {
  display: none;
}
.article-preview.row-layout .list .list-item {
  width: auto;
  display: none;
}
.article-preview.row-layout .list-item:first-child { /* hide all expect first child */
  display: block;
  margin-bottom: 0;
}
@if ($lower-than-or-equals-ie8) {
  .article-preview.row-layout .list-item:first-child + .list-item {
    display: none;
  }
}
.article-preview.row-layout .social-tool {
  left: auto;
  right: auto;
}

/* Row layout Bullet List */
.article-preview.row-layout .mdl-link {
  left: auto;
  width: 50%;
}

/* Common Layout Styles */
.main-event .fig,
.article-preview.xs-layout .fig,
.article-preview.row-layout .fig {
  border: 0;
}

@mixin mdl-fix-article-preview {

  /* Height fix */
  .article-preview .title,
  .article-preview .text-small .title,
  .article-preview .hat,
  .article-preview .list-item {
    overflow: hidden;
  }
  .article-preview {
    height: px-to-rem(470px);
  }
  .article-preview-big {
    height: px-to-rem(740px);
  }
  .article-preview.xs-layout {
    height: px-to-rem(225px);
  }
  .article-preview .title {
    max-height: px-to-rem(111px);
  }
  .article-preview .text-small .title,
  .article-preview.xs-layout .title,
  .article-preview.row-layout .title {
    max-height: px-to-rem(72px);
  }
  .article-preview .hat {
    max-height: px-to-rem(70px);
  }
  .article-preview .list-item {
    max-height: px-to-rem(34px);
  }
  .article-preview.row-layout {
    height: auto;
  }

  /* Height fix Bullet list */
  .article-preview .bullet-list {
    height: px-to-rem(213px);
  }
  .article-preview .bullet-list .item {
    max-height: px-to-rem(39px);
    overflow:hidden;
  }
  .article-preview .bullet-list .item.large {
    max-height: px-to-rem(40px);
  }

  /* XS layout Height fix Bullet list */
  .article-preview.xs-layout .mdl-link {
    height: px-to-rem(37px);
  }
  .article-preview.xs-layout .bullet-list {
    height: px-to-rem(120px);
  }

  /* Row layout Height fix Bullet list */
  .article-preview.row-layout .bullet-list {
    height: px-to-rem(167px);
  }
  .article-preview.row-layout .bullet-list.mdl-link-push {
    margin-bottom: 0;
  }
}

@if ($media-queries) {
  @media all and (min-width: $media-queries-small) {
    @include mdl-fix-article-preview;
  }
} @else {
  @include mdl-fix-article-preview;
}

@media all and (min-width: $media-queries-medium) and (max-width: $media-queries-large) {

  /* XS Layout */
  .article-preview.mql-xs-layout .fig {
    width: auto;
    float: none;
    max-width: none;
  }
  .article-preview.mql-xs-layout .pic,
  .article-preview.mql-xs-layout .btn-replay {
    display: none;
  }
  .article-preview.mql-xs-layout .texts {
    padding-top: px-to-rem(12px);
  }
  .article-preview.mql-xs-layout .title {
    font-size: px-to-rem(16px);
    line-height: px-to-rem(24px);
  }
  .article-preview.mql-xs-layout .hat,
  .article-preview.mql-xs-layout .list {
    display: none;
  }
  .article-preview.mql-xs-layout .tag-partner {
    display: none;
  }
  .article-preview.mql-xs-layout .social-tool {
    left: 0;
    right: 0;
    border-top:  px-to-rem(1px) solid $grey-light;
  }
  .article-preview.mql-xs-layout .texts .icon-play,
  .article-preview.mql-xs-layout .texts .icon-play2 {
    display: block;
  }

  /* XS Layout Bullet list */
  .article-preview.mql-xs-layout .mdl-link {
    left: 0;
    width: auto;
    padding-top: px-to-rem(8px);
    padding-bottom: px-to-rem(8px);
  }
  .article-preview.mql-xs-layout .bullet-list {
    border-top: 0;
  }
  .article-preview.mql-xs-layout .bullet-list .item.large {
    margin-bottom: px-to-rem(14px);
  }

  /* Row layout */
  .article-preview.mql-row-layout .fig {
    float: left;
    width: 50%;
    max-width: px-to-rem(210px);
  }
  .article-preview.mql-row-layout .pic {
    display: block;
    max-width: none;
    margin: 0;
  }
  .article-preview.mql-row-layout .title {
    margin-bottom: px-to-rem(6px);
    font-size: px-to-rem(16px);
    line-height: px-to-rem(24px);
  }
  .article-preview.mql-row-layout .hat {
    margin-bottom: 0;
  }
  .article-preview.mql-row-layout .texts {
    padding-top: px-to-rem(12px);
  }
  .article-preview.mql-row-layout .list {
    padding-top: px-to-rem(8px);
  }
  .article-preview.mql-row-layout .hat,
  .article-preview.mql-row-layout .list {
    display: block;
  }
  .article-preview.mql-row-layout .list:after {
    display: none;
  }
  .article-preview.mql-row-layout .list .list-item {
    width: auto;
    display: none;
  }
  .article-preview.mql-row-layout .list-item:first-child { /* hide all expect first child */
    display: block;
    margin-bottom: 0;
  }
  .article-preview.mql-row-layout .social-tool {
    left: auto;
    right: auto;
  }

  /* Row layout Bullet List */
  .article-preview.mql-row-layout .mdl-link {
    left: auto;
    width: 50%;
  }

  /* Common Layout Styles */
  .article-preview.mql-xs-layout .fig,
  .article-preview.mql-row-layout .fig {
    border: 0;
  }

  /* Height Fix */
  .article-preview.mql-xs-layout {
    height: px-to-rem(225px);
  }
  .article-preview.mql-row-layout {
    height: auto;
  }
  .article-preview.mql-xs-layout .title,
  .article-preview.mql-row-layout .title {
    max-height: px-to-rem(72px);
  }

  /* XS layout Height fix Bullet list */
  .article-preview.mql-xs-layout .mdl-link {
    height: px-to-rem(37px);
  }
  .article-preview.mql-xs-layout .bullet-list {
    height: px-to-rem(120px);
  }

  /* Row layout Height fix Bullet list */
  .article-preview.mql-row-layout .bullet-list {
    height: px-to-rem(167px);
  }
  .article-preview.mql-row-layout .bullet-list.mdl-link-push {
    margin-bottom: 0;
  }

}

@media all and (min-width: $media-queries-small) and (max-width: $media-queries-medium) {

  /* XS Layout */
  .article-preview.mqm-xs-layout .fig {
    width: auto;
    float: none;
    max-width: none;
  }
  .article-preview.mqm-xs-layout .pic,
  .article-preview.mqm-xs-layout .btn-replay {
    display: none;
  }
  .article-preview.mqm-xs-layout .texts {
    padding-top: px-to-rem(12px);
  }
  .article-preview.mqm-xs-layout .hat,
  .article-preview.mqm-xs-layout .list {
    display: none;
  }
  .article-preview.mqm-xs-layout .title {
    font-size: px-to-rem(16px);
    line-height: px-to-rem(24px);
  }
  .article-preview.mqm-xs-layout .tag-partner {
    display: none;
  }
  .article-preview.mqm-xs-layout .social-tool {
    left: 0;
    right: 0;
    border-top:  px-to-rem(1px) solid $grey-light;
  }
  .article-preview.mqm-xs-layout .texts .icon-play,
  .article-preview.mqm-xs-layout .texts .icon-play2 {
    display: block;
  }

  /* XS Layout Bullet list */
  .article-preview.mqm-xs-layout .mdl-link {
    left: 0;
    width: auto;
    padding-top: px-to-rem(8px);
    padding-bottom: px-to-rem(8px);
  }
  .article-preview.mqm-xs-layout .bullet-list {
    border-top: 0;
  }
  .article-preview.mqm-xs-layout .bullet-list .item.large {
    margin-bottom: px-to-rem(14px);
  }

  /* Row layout */
  .article-preview.mqm-row-layout .fig {
    float: left;
    width: 50%;
    max-width: px-to-rem(210px);
  }
  .article-preview.mqm-row-layout .pic {
    display: block;
    max-width: none;
    margin: 0;
  }
  .article-preview.mqm-row-layout .title {
    margin-bottom: px-to-rem(6px);
    font-size: px-to-rem(16px);
    line-height: px-to-rem(24px);
  }
  .article-preview.mqm-row-layout .hat {
    margin-bottom: 0;
  }
  .article-preview.mqm-row-layout .texts {
    padding-top: px-to-rem(12px);
  }
  .article-preview.mqm-row-layout .list {
    padding-top: px-to-rem(8px);
  }
  .article-preview.mqm-row-layout .hat,
  .article-preview.mqm-row-layout .list {
    display: block;
  }
  .article-preview.mqm-row-layout .list:after {
    display: none;
  }
  .article-preview.mqm-row-layout .list .list-item {
    width: auto;
    display: none;
  }
  .article-preview.mqm-row-layout .list-item:first-child { /* hide all expect first child */
    display: block;
    margin-bottom: 0;
  }
  .article-preview.mqm-row-layout .social-tool {
    left: auto;
    right: auto;
  }

  /* Row layout Bullet List */
  .article-preview.mqm-row-layout .mdl-link {
    left: auto;
    width: 50%;
  }

  /* Common Layout Styles */
  .article-preview.mqm-xs-layout .fig,
  .article-preview.mqm-row-layout .fig {
    border: 0;
  }

  /* Height Fix */
  .article-preview.mqm-xs-layout {
    height: px-to-rem(225px);
  }
  .article-preview.mqm-row-layout {
    height: auto;
  }
  .article-preview.mqm-row-layout .title,
  .article-preview.mqm-xs-layout .title {
    max-height: px-to-rem(72px);
  }

  /* XS layout Height fix Bullet list */
  .article-preview.mqm-xs-layout .mdl-link {
    height: px-to-rem(37px);
  }
  .article-preview.mqm-xs-layout .bullet-list {
    height: px-to-rem(120px);
  }

  /* Row layout Height fix Bullet list */
  .article-preview.mqm-row-layout .bullet-list {
    height: px-to-rem(167px);
  }
  .article-preview.mqm-row-layout .bullet-list.mdl-link-push {
    margin-bottom: 0;
  }

}

/* MQ Small State */
@media (max-width: $media-queries-small) {

  /* Force title sizes & reset row layout  */
  .article-preview.row-layout .fig {
    width: auto;
    float: none;
    max-width: none;
  }
  .article-preview.row-layout .fig {
    border: px-to-rem(8px);
  }
  .article-preview.row-layout .texts {
    padding-top: px-to-rem(20px);
  }
  .article-preview.row-layout .mdl-link {
    left: 0;
    width: auto;
  }
  .article-preview.row-layout .pic,
  .article-preview .pic {
    max-width: none;
    width: 100%;
    margin: 0;
  }
  .title,
  .article-preview.row-layout .title {
    margin-bottom: px-to-rem(16px);
    font-size: px-to-rem(20px);
    line-height: px-to-rem(24px);
  }
  .article-preview.row-layout .hat {
    margin-bottom: px-to-rem(16px);
  }
  .article-preview.row-layout .social-tool {
    left: 0;
    right: 0;
  }

  /* Display 2 items in list */
  .list,
  .article-preview.row-layout .list {
    padding-top: 0;
  }
  .list:after {
    display: none;
  }
  .list .list-item,
  .article-preview.row-layout .list .list-item {
    width: auto;
    display: none;
    margin-bottom: px-to-rem(12px);
  }
  .list .list-item:nth-child(-n+2),
  .article-preview.row-layout .list-item:nth-child(-n+2) { /* hide all expect first two items */
    display: block;
  }
  .list .list-item:nth-child(2),
  .article-preview.row-layout .list-item:nth-child(2) { /* remove margin on last item */
    display: block;
    margin-bottom: 0;
  }

  /* XS layout */
  .article-preview.mqs-xs-layout .fig {
    border: 0;
  }
  .article-preview.mqs-xs-layout .pic,
  .article-preview.mqs-xs-layout .btn-replay {
    display: none;
  }
  .article-preview.mqs-xs-layout .texts {
    padding-top: px-to-rem(12px);
  }
  .article-preview.mqs-xs-layout .title {
    margin-bottom: px-to-rem(16px);
    font-size: px-to-rem(16px);
    line-height: px-to-rem(24px);
  }
  .article-preview.mqs-xs-layout .social-tool {
    border-top:  px-to-rem(1px) solid $grey-light;
  }
  .article-preview.mqs-xs-layout .hat,
  .article-preview.mqs-xs-layout .list {
    display: none;
  }
  .article-preview.mqs-xs-layout .tag-partner {
    display: none;
  }
  .article-preview.mqs-xs-layout .texts .icon-play,
  .article-preview.mqs-xs-layout .texts .icon-play2 {
    display: block;
  }

  /* XS Layout Bullet List */
  .article-preview.mqs-xs-layout .mdl-link {
    padding-top: px-to-rem(8px);
    padding-bottom: px-to-rem(8px);
  }
  .article-preview.mqs-xs-layout .bullet-list {
    border-top: 0;
  }
  .article-preview.mqs-xs-layout .bullet-list .item.large {
    margin-bottom: px-to-rem(14px);
  }
}