<div class="widget-partner module-border widget-feature cf">
    <header class="widget-feature-header widget-partner-header cf">
        <a class="link" href="#" target="_blank">
            <span class="text"><%= locals.titleWidget ? titleWidget : 'Titre du widget' %></span>
            <span class="main-icon sp <%= locals.iconWidget ? iconWidget : 'sprite-partner-icon-paris-hippiques' %>"></span>
            <span class="main-logo sp <%= locals.logoWidget ? logoWidget : 'sprite-partner-logo-pmu' %>"></span>
        </a>
    </header>
    <div class="widget-feature-content cf">
        <% if (locals.partnerWidget) { %>
            <%- include('partner/_' + partnerWidget + '.html') %>
        <% } %>
    </div>
    <a class="module-link module-border-top icon icon-arrow-right-circle" href="#" target="_blank"><%= locals.linkWidget ? linkWidget : 'Lien du Widget' %></a>
</div>