
/* Black */
$fun-black:         #2A2A2A;

/* Grey */
$fun-grey:          #7c7c7c;
$fun-grey-light:    #D8D8D8;
$fun-grey-darker:   #706E6E;

/* Cream */
$fun-cream:         #F0F0F0;
$fun-cream-dark:    #D8D8D8;
$fun-cream-light:   #F8F8F8;

/* Blue */
$fun-blue:          #00afec;
$fun-blue-dark:     #259ece;
$fun-blue-light:    #00c1f1;

/* Pink */
$fun-pink:          #ea148c;
$fun-pink-dark:     #d40e7f;
$fun-pink-light:    #ec519b;

/* Yellow */
$fun-yellow:        #fdc131;

/* Orange */
$fun-orange:        #FF6600;
$fun-orange-dark:   #FC833C;
$fun-orange-darker: #DD5800;

/* Cherry */
$fun-cherry:        #FF003C;
$fun-cherry-dark:   #F94B5C;
$fun-cherry-darker: #E00035;

/* Purple */
$fun-purple:        #382A6D;
$fun-purple-light:  #443482;
$fun-purple-dark:   #291D57;

/* Green */
$fun-green:         #00C335;
$fun-green-lighter: #41D572;
$fun-green-light:   #0CA636;

/* Buzz */
$fun-buzz:          #FF6600;
$fun-buzz-light:    #FC833C;
$fun-buzz-dark:     #DD5800;

/* Super */
$fun-super:         #FF003C;
$fun-super-light:   #F94B5C;
$fun-super-dark:    #E00035;

/* Night */
$fun-night:         #382A6D;
$fun-night-light:   #443482;
$fun-night-dark:    #291D57;

/* Fit */
$fun-fit:           #00C335;
$fun-fit-light:     #41D572;
$fun-fit-dark:      #0CA636;
