
@font-face {
  font-family: "Eurostile-Regular";
  src: url("../font/Eurostile.eot");
}
@font-face {
  font-family: "Eurostile-Regular";
  src: url("../font/Eurostile.woff") format('woff'), url("../font/Eurostile.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eurostile-Bold";
  src: url("../font/Eurostile-Bold.eot");
}
@font-face {
  font-family: "Eurostile-Bold";
  src: url("../font/Eurostile-Bold.woff") format('woff'), url("../font/Eurostile-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

$eurostile-regular-font-family: Eurostile-Regular, Arial, Verdana, sans-serif;
$eurostile-bold-font-family: Eurostile-Bold, Arial, Verdana, sans-serif;