
@import "../default/colors";
@import "colors";
@import "font";

.module-header.actu-bg-color,
.module-footer.actu-bg-color,
.article-text-list .item.actu-bg-color_before:before,
.article-tag.actu-bg-color,
.article-flag-fix.actu-bg-color {
  background-color: $fun-pink;
}
.article-text-link.actu-color,
.article-text-list .item .text.actu-color {
  color: $fun-pink;
}
.article-flag-fix .flag.actu-bg-color_before:before {
  background-color: $fun-pink-dark;
}
.article-flag-fix .flag.actu-border-color_after:after {
  border-top-color: $fun-pink;
  border-bottom-color: $fun-pink;
}
.article-flag-fix .flag.actu-border-color {
  border-color: $fun-pink;
}
.module-header.buzz-bg-color,
.module-footer.buzz-bg-color,
.article-text-list .item.buzz-bg-color_before:before,
.article-tag.buzz-bg-color,
.article-flag-fix.buzz-bg-color {
  background-color: $fun-orange;
}
.article-text-link.buzz-color,
.article-text-list .item .text.buzz-color {
  color: $fun-orange;
}
.article-flag-fix .flag.buzz-bg-color_before:before {
  background-color: $fun-orange-darker;
}
.article-flag-fix .flag.buzz-border-color_after:after {
  border-top-color: $fun-orange;
  border-bottom-color: $fun-orange;
}
.article-flag-fix .flag.buzz-border-color {
  border-color: $fun-orange-dark;
}
.module-header.super-bg-color,
.module-footer.super-bg-color,
.article-text-list .item.super-bg-color_before:before,
.article-tag.super-bg-color,
.article-flag-fix.super-bg-color {
  background-color: $fun-cherry;
}
.article-text-link.super-color,
.article-text-list .item .text.super-color {
  color: $fun-cherry;
}
.article-flag-fix .flag.super-bg-color_before:before {
  background-color: $fun-cherry-darker;
}
.article-flag-fix .flag.super-border-color_after:after {
  border-top-color: $fun-cherry;
  border-bottom-color: $fun-cherry;
}
.article-flag-fix .flag.super-border-color {
  border-color: $fun-cherry-dark;
}
.module-header.night-bg-color,
.module-footer.night-bg-color,
.article-text-list .item.night-bg-color_before:before,
.article-tag.night-bg-color,
.article-flag-fix.night-bg-color {
  background-color: $fun-purple;
}
.article-text-link.night-color,
.article-text-list .item .text.night-color {
  color: $fun-purple;
}
.article-flag-fix .flag.night-bg-color_before:before {
  background-color: $fun-purple-dark;
}
.article-flag-fix .flag.night-border-color_after:after {
  border-top-color: $fun-purple;
  border-bottom-color: $fun-purple;
}
.article-flag-fix .flag.night-border-color {
  border-color: $fun-purple;
}
.module-header.fit-bg-color,
.module-footer.fit-bg-color,
.article-text-list .item.fit-bg-color_before:before,
.article-tag.fit-bg-color,
.article-flag-fix.fit-bg-color {
  background-color: $fun-green;
}
.article-text-link.fit-color,
.article-text-list .item .text.fit-color {
  color: $fun-green;
}
.article-flag-fix .flag.fit-bg-color_before:before {
  background-color: $fun-green;
}
.article-flag-fix .flag.fit-border-color_after:after {
  border-top-color: $fun-green;
  border-bottom-color: $fun-green;
}
.article-flag-fix .flag.fit-border-color {
  border-color: $fun-green-light;
}

$font-design: $eurostile-regular-font-family;

// Button
$btn-bg-color: $fun-pink;
$btn-bg-color_hover: $fun-pink-dark;

$btn-hover-bg-color: $fun-cream-light;
$btn-hover-frontside-bg-color_hover: $fun-grey-darker;

$btn-link-bg-color: $fun-pink;
$btn-link-bg-color_hover: $fun-pink-dark;

$btn-search-label-bg-color: $fun-pink;
$btn-search-input-bg-color: $fun-pink-dark;

// Module
$module-header-font-family: $font-design;
$module-header-bg-color: $fun-blue;

$module-border-border-color: $fun-cream-dark;

$module-link-bg-color: $fun-cream;
$module-link-color: $black-light;

$module-footer-bg-color: $fun-blue;

$module-follow-us-font-family: $font-design;
$module-follow-us-icon-newsletter-color_before: $fun-black;

// Article
$article-text-link-color: $fun-blue;
$article-text-link-color_hover: $fun-black;

$article-text-list-color: $fun-blue;
$article-text-list-color_hover: $fun-black;
$article-text-list-item-bg-color_before: $fun-blue;

$article-footer-color: $fun-black;

$article-preview-fig-border-color: $fun-blue;
$article-preview-link-color: $fun-black;
$article-preview-link-color_hover: $fun-blue;
$article-preview-social-tool-color: $fun-grey-darker;
$article-preview-social-tool-icon-play-color_before: $fun-grey-darker;

$article-tag-font-family: $font-design;
$article-tag-bg-color: $fun-blue;

$article-flag-fix-bg-color: $fun-blue;
$article-flag-fix-border-color: $fun-blue;
$article-flag-fix-bg-color_before: $fun-blue-dark;
$article-flag-fix-border-color_after: $fun-blue;