
@import "../default/colors";
@import "colors";
@import "font";
@import "../../config";

$font-design: $eurostile-regular-font-family;

// Main footer
$footer-main-font-family: $font-design;
$footer-main-text-color: $fun-grey;
$footer-main-list-bg-color: $fun-blue;
$footer-main-list-item-border-color: $fun-blue-light;
$footer-main-list-link-bg-color_hover: $fun-blue-dark;

$footer-main-list-item-logo-line-height: normal;
$footer-main-list-item-icon_before-font-size: px-to-rem(72px);
$footer-main-list-item-icon_before-position: relative;
$footer-main-list-item-icon_before-z-index: 1;
$footer-main-list-link-padding: px-to-rem(12px) px-to-rem(10px) px-to-rem(12px) px-to-rem(25px);

// Button
$btn-bg-color: $fun-pink;
$btn-bg-color_hover: $fun-pink-dark;

$btn-hover-bg-color: $fun-cream-light;
$btn-hover-frontside-bg-color_hover: $fun-grey-darker;

$btn-link-bg-color: $fun-pink;
$btn-link-bg-color_hover: $fun-pink-dark;

$btn-bicolor-label-bg-color: $fun-pink;
$btn-bicolor-input-bg-color: $fun-pink-dark;

// Input
$input-text-input-border-color: $fun-cream-dark;

// Module
$module-header-font-family: $font-design;
$module-header-bg-color: $fun-blue;

$module-border-border-color: $fun-cream-dark;

$module-comment-border-color: $fun-cream-dark;
$module-comment-color: $fun-black;
$module-comment-form-bg-color: $fun-cream-light;
$module-comment-bg-color: $fun-cream-dark;

$module-link-bg-color: $fun-cream;
$module-link-color: $black-light;

$module-footer-bg-color: $fun-blue;

$module-follow-us-font-family: $font-design;
$module-follow-us-icon-newsletter-color_before: $fun-pink;

// Article
$article-text-link-color: $fun-blue;
$article-text-link-color_hover: $fun-black;

$article-text-list-color: $fun-blue;
$article-text-list-color_hover: $fun-black;
$article-text-list-item-bg-color_before: $fun-blue;

$article-footer-color: $fun-black;

$article-preview-fig-border-color: $fun-blue;
$article-preview-link-color: $fun-black;
$article-preview-link-color_hover: $fun-blue;
$article-preview-social-tool-color: $fun-grey-darker;
$article-preview-social-tool-icon-play-color_before: $fun-grey-darker;

$article-tag-font-family: $font-design;
$article-tag-bg-color: $fun-blue;

$article-flag-fix-bg-color: $fun-blue;
$article-flag-fix-border-color: $fun-blue;
$article-flag-fix-bg-color_before: $fun-blue-dark;
$article-flag-fix-border-color_after: $fun-blue;

// Page
$page-header-font-family: $font-design;
$page-header-border-color: $fun-pink;
$page-header-main-text-color: $fun-black;
$page-header-right-text-bg-color: $fun-cream-light;
$page-header-right-text-color: $fun-black;

// Widget
$widget-feature-border-color: $fun-cream-dark;

$widget-astro-header-bg-color: $fun-grey;
$widget-astro-content-sign-color: $fun-grey;
$widget-astro-content-date-color: $fun-grey;
$widget-astro-content-text-color: $fun-grey;

$widget-weather-header-border-color: $fun-cream-dark;
$widget-weather-header-bg-color: $fun-grey;
$widget-weather-list-item-border-color: $fun-cream-dark;
$widget-weather-list-text-color: $fun-grey;