
@import "../../functions";
@import "../../themes/default/colors";
@import "../../themes/default/variables";

/* Input Text
----------------------------------------- */
.input-text {
  display: inline-block;
}

.input-text .input {
  border: 1px solid $input-text-input-border-color;
  background-color: $white;
  width: auto;
  height: px-to-rem(40px);
  line-height: px-to-rem(40px);
  padding: 0 px-to-rem(10px);
  font-size: px-to-rem(14px);
}
