
@import "../../../functions";
@import "../../../themes/default/theme";

/* Button Text
----------------------------------------- */
.btn-text {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  cursor:pointer;
  max-width: 45%;
  overflow: hidden;
  white-space: nowrap;
  right: px-to-rem(10px);
  bottom: px-to-rem(5px);
  text-shadow: 0 px-to-rem(1px) px-to-rem(1px) $black-lighter;
}

.btn-text .text {
  display: block;
  font-size: px-to-rem(14px);
  color: $white;
}

.btn-text:before {
  display: block;
  text-align: center;
  font-size: px-to-rem(40px);
  margin: 0;
  color: $white;
}