
<div class="btn-bicolor <%= locals.sizeBtn ? sizeBtn : '' %>">
    <label for="<%= locals.id ? id : '' %>" class="btn-bicolor-label uppercase <%= locals.labelClass ? labelClass : '' %>">
        <span class="align"><%= locals.textBtn ? textBtn : 'BUTTON' %></span>
    </label>
    <button id="<%= locals.id ? id : '' %>" class="btn-bicolor-input uppercase <%= locals.btnClass ? btnClass : '' %>" <%= locals.attributes ? attributes : '' %>>
        <i class="icon icon-ff <%= locals.classIcon ? classIcon : 'icon-search' %>"></i>
        <span class="no-ff"><%= locals.textBtn ? textBtn : 'BUTTON' %></span>
    </button>
</div>