<div class="module-comment">
    <div class="module-comment-title">Réponse rapide</div>
    <form action="" class="module-comment-form js-form-limiter">
        <fieldset class="module-comment-fieldset">
            <div class="module-comment-overlay js-overlay-limiter">Votre contribution ne doit pas :<br />
                - Être insultante, à caractère raciste ou discriminatoire<br />
                - Contraire à l'ordre public et aux bonnes moeurs<br />
                - Dévoiler des coordonnées personnelles
            </div>
            <%- include('../form/_textarea.html', {limitCharacter: '500', placeholder:'Commenter', textareaClass:'js-textarea-limiter', textareaName: 'text'}) %>
            <%- include('../button/_btn-input.html', {textBtn: 'Envoyer', type: 'submit', btnClass: 'btn-action'}) %>
        </fieldset>
    </form>
</div>