<div class="fontface">
    <% if (locals.size == 'small') { %>
    <div class="module-follow-us small">
        <header class="section-header-s">
            <% if (locals.domain && domain == 'GIRLS') { %>
            <span class="text">Nous rejoindre</span>
            <% } else { %>
            <span class="text uppercase">Nous rejoindre</span>
            <% } %>
        </header>
    <% } else { %>
    <div class="module-follow-us">
        <header class="section-header">
            <% if (locals.domain && domain == 'GIRLS') { %>
            <span class="main-text">Nous rejoindre</span>
            <% } else { %>
            <span class="main-text uppercase">Nous rejoindre</span>
            <% } %>
        </header>
    <% } %>
        <a href="#" class="item">
            <i class="icon icon-ff icon-facebook-sign"></i>
            <span class="no-ff">Facebook</span>
        </a>
        <a href="#" class="item">
            <i class="icon icon-ff icon-twitter-sign"></i>
            <span class="no-ff">Twitter</span>
        </a>
        <a href="#" class="item">
            <i class="icon icon-ff icon-googleplus-sign"></i>
            <span class="no-ff">Google +</span>
        </a>
        <a href="#" class="item">
            <i class="icon icon-ff icon-instagram-sign"></i>
            <span class="no-ff">Instagram</span>
        </a>
        <% if (locals.domain && domain == 'GIRLS') { %>
        <a href="#" class="item">
            <i class="icon icon-ff icon-pinterest-sign"></i>
            <span class="no-ff">pinterest</span>
        </a>
        <% } %>
        <% if (locals.domain && domain == 'FUN_RADIO') { %>
        <a href="#" class="item">
            <i class="icon icon-ff icon-youtube-sign"></i>
            <span class="no-ff">youtube</span>
        </a>
        <% } %>
        <a href="#" class="item">
            <i class="icon icon-ff icon-envelope-sign"></i>
            <span class="no-ff">Mail</span>
        </a>
    </div>
</div>
