
@import "colors";

.module-header.life-bg-color,
.module-footer.life-bg-color,
.article-text-list .item.life-bg-color_before:before,
.article-tag.life-bg-color,
.article-flag-fix.life-bg-color {
  background-color: $girls-green;
}
.article-text-link.life-color,
.article-text-list .item .text.life-color_hover:hover {
  color: $girls-green;
}
.article-flag-fix .flag.life-bg-color_before:before {
  background-color: $girls-green-dark;
}
.article-flag-fix .flag.life-border-color_after:after {
  border-top-color: $girls-green;
  border-bottom-color: $girls-green;
}
.article-flag-fix .flag.life-border-color {
  border-color: $girls-green;
}
.module-header.sexo-bg-color,
.module-footer.sexo-bg-color,
.article-text-list .item.sexo-bg-color_before:before,
.article-tag.sexo-bg-color,
.article-flag-fix.sexo-bg-color {
  background-color: $girls-blue;
}
.article-text-link.sexo-color,
.article-text-list .item .text.sexo-color_hover:hover {
  color: $girls-blue;
}
.article-flag-fix .flag.sexo-bg-color_before:before {
  background-color: $girls-blue-dark;
}
.article-flag-fix .flag.sexo-border-color_after:after {
  border-top-color: $girls-blue;
  border-bottom-color: $girls-blue;
}
.article-flag-fix .flag.sexo-border-color {
  border-color: $girls-blue;
}
.module-header.confession-bg-color,
.module-footer.confession-bg-color,
.article-text-list .item.confession-bg-color_before:before,
.article-tag.confession-bg-color,
.article-flag-fix.confession-bg-color {
  background-color: $girls-brown;
}
.article-text-link.confession-color,
.article-text-list .item .text.confession-color_hover:hover {
  color: $girls-brown;
}
.article-flag-fix .flag.confession-bg-color_before:before {
  background-color: $girls-brown-darker;
}
.article-flag-fix .flag.confession-border-color_after:after {
  border-top-color: $girls-brown;
  border-bottom-color: $girls-brown;
}
.article-flag-fix .flag.confession-border-color {
  border-color: $girls-brown;
}
