
@import "colors";
@import "font";
@import "../../config";

$font-design: $raleway-bold-font-family;

// Main footer
$footer-main-font-family: $font-design;
$footer-main-text-color: $girls-black;
$footer-main-list-bg-color: $girls-nude;
$footer-main-list-item-border-color: $girls-nude-light;
$footer-main-list-link-bg-color_hover: $girls-nude-dark;

$footer-main-list-padding: px-to-rem(40px) 0 px-to-rem(18px);
$footer-main-list_media-small-padding: px-to-rem(18px) 0;
$footer-main-list-item-logo-line-height: 1;

// Button
$btn-bg-color: $girls-nude;
$btn-bg-color_hover: $girls-nude-dark;

$btn-hover-bg-color: $girls-cream-light;
$btn-hover-frontside-bg-color_hover: $girls-nude-dark;

$btn-link-bg-color: $girls-nude-dark;
$btn-link-bg-color_hover: $girls-nude;

$btn-bicolor-label-bg-color: $girls-nude;
$btn-bicolor-input-bg-color: $girls-nude-dark;

// Input
$input-text-input-border-color: $girls-cream-darker;

// Module
$module-header-font-family: $raleway-regular-font-family;
$module-header-bg-color: $girls-nude;

$module-border-border-color: $girls-cream-darker;

$module-comment-border-color: $girls-cream-darker;
$module-comment-color: $girls-black;
$module-comment-form-bg-color: $girls-cream;
$module-comment-bg-color: $girls-cream-dark;

$module-link-bg-color: $girls-cream;
$module-link-color: $girls-black;

$module-footer-bg-color: $girls-nude;

$module-follow-us-font-family: $raleway-regular-font-family;
$module-follow-us-icon-newsletter-color_before: $girls-grey;

// Article
$article-text-link-color: $girls-nude-dark;
$article-text-link-color_hover: $girls-black;

$article-text-list-color: $girls-black;
$article-text-list-color_hover: $girls-nude-dark;
$article-text-list-item-bg-color_before: $girls-nude-dark;

$article-footer-color: $girls-black;

$article-preview-fig-border-color: $girls-nude;
$article-preview-link-color: $girls-black;
$article-preview-link-color_hover: $girls-nude-dark;
$article-preview-social-tool-color: $girls-grey;
$article-preview-social-tool-icon-play-color_before: $girls-grey;

$article-tag-font-family: $font-design;
$article-tag-bg-color: $girls-nude;

$article-flag-fix-bg-color: $girls-nude;
$article-flag-fix-border-color: $girls-nude;
$article-flag-fix-bg-color_before: $girls-nude-dark;
$article-flag-fix-border-color_after: $girls-nude;

// Page
$page-header-font-family: $raleway-regular-font-family;
$page-header-border-color: $girls-nude;
$page-header-main-text-color: $girls-black;
$page-header-right-text-bg-color: $girls-cream-light;
$page-header-right-text-color: $girls-black;

// Widget
$widget-feature-border-color: $girls-cream-dark;

$widget-astro-header-bg-color: $girls-grey;
$widget-astro-content-sign-color: $girls-grey;
$widget-astro-content-date-color: $girls-grey;
$widget-astro-content-text-color: $girls-grey;

$widget-weather-header-border-color: $girls-cream-dark;
$widget-weather-header-bg-color: $girls-grey;
$widget-weather-list-item-border-color: $girls-cream-dark;
$widget-weather-list-text-color: $girls-grey;